[2019-04-17 08:56] fr0zen commented on #356
@lptn я падпраўлю фронтавую частку
Крута б было б неяк так:
Роуты:
GET /doika/widget/campaign/{id} // вяртае
{
CampaignId: {int}
activeStatus: {bool}
name: {string}
description {string}
donateButtonsValues: [{ int, int, int, int, ... , int
}]
currency: {string}
showProgressBar
pictureUrl: {string}
donationsAmount: {int}
targetAmount: {int}
}

GET /doika/widget/campaign/{id}/loadTermsOfUse //вяртае

[2019-04-17 16:02] lptn commented on #340
WAT? Трэба нейкая дапамога?

[2019-04-17 16:20] lptn opened #357 "Implement image uploading"
[code]

[2019-04-18 22:29] #262 closed

[2019-04-19 15:30] lptn commented on #356
@fr0zen

Давай заўседы множны лік выкарыстоўваць для назваў рэсурсаў ва УРЛах, то бок  `GET /doika/widget/campaigns/{id} `

[2019-04-19 15:54] lptn commented on #356
@lptn
mozilla вось такі код выкарыстоўвае тут https://donate.mozilla.org/en-US/
[code]

[2019-04-19 18:07] lptn commented on #356
@fr0zen
TermsOfUse для кождай кампаніі свой? Можаш тыкнуць на дызайн дзе ў макетах адмінкі мы ўводзім гэта?

[2019-04-19 21:24] fr0zen commented on #356
@lptn https://miro.com/app/board/o9J_k0X88dM=/?moveToWidget=3074457346330533830 Фрейм наладкі плацежных сістэм

[2019-04-20 07:38] #342 closed

[2019-04-20 13:19] rizomaa commented on #252
curl + zip....

@lptn + @fr0zen + @Tyuba4 дагэтуль няма ні ў гайдзе па усталёўцы, ні ў асяродку

[2019-04-20 14:12] KahjuksEi opened #371 "Кривые заголовки в Спіс кампаній"
Кривые заголовки в Спіс кампаній

[2019-04-20 14:13] KahjuksEi opened #372 "Изменить текст в кнопке Помоги команде"
Изменить текст в кнопке Помоги команде

[2019-04-20 14:15] KahjuksEi opened #373 "Неровное левое меню и полоса прокрутки"
Подправить левое меню и полосу прокрутки

[2019-04-20 14:15] KahjuksEi opened #374 "Не отображается логотип дойки"
Не отображается логотип дойки

[2019-04-20 14:32] fr0zen opened #375 "Стварыць гайд па сінхранізацыі форка з асноўным рэпазіторыем"
Стварыць гайд, як забіраць апошнія змены, калі форкаемся ад рэпазіторыя.

[2019-04-20 14:50] fr0zen opened #376 "Пафіксіць форму канфігурацыі модуля"
- [x]  Змяніць шаблоны.
- [x]  Праверыць роуты.
- [x]  Забраць дадзеныя
- [x]  Праверыць захаванне наладак

[2019-04-20 19:02] lptn commented on #375
Мо проста знайсці і даць спасылку на існуючыя?

[2019-04-22 08:30] lptn commented on #356
@fr0zen
Дзякуй. Я праўда згубіў 8 хвілін шукаючы гэты фрэйм
У miro есьць такі вось функцыянал (кантэкстнае меню)
![image](https://user-images.githubusercontent.com/5278175/56491628-dc740e00-64f1-11e9-8fa0-bc197587c6aa.png)

То бок мы можаш генерыць лінк на ПЭЎНУЮ кааардынату, калі ласка давай выкарыстоўваць такія спасылкі -- будзем эканоміць наш час (і болей кодзіць і жартаваць замест пашукаў на m

[2019-04-22 17:44] #5 closed

[2019-04-22 18:23] #213 closed

[2019-04-22 18:26] lptn commented on #66
@Olya147

А чаму закрываем?

[2019-04-22 18:27] lptn commented on #66
@Olya147
не зыбываем пра https://github.com/diglabby/doika/pull/317

[2019-04-22 18:27] #208 closed

[2019-04-22 18:39] Olya147 commented on #195
@fr0zen  я могу закрыть эту карточку?

[2019-04-22 18:46] Olya147 commented on #204
@lptn Могу закрывать?

[2019-04-22 18:55] lptn commented on #204
так, але варта стварыць падзадачы для нерэализаваных аўта-тэстаў (не чэкнутыя чэкбоксы), я зраблю

[2019-04-22 18:55] #204 closed

[2019-04-22 18:56] lptn opened #378 "Стварыць feature test на працэс данэйта (аднаразовы і падпіску)"
Выдзелена з Абмеркаваць інтэграцыю аўтатэставання #204

[2019-04-22 19:05] Olya147 commented on #248
@lptn Исправлено?

[2019-04-22 19:22] lptn commented on #248
@Olya147

гэта ў @rizomaa трэба пытаць

[2019-04-22 19:40] Olya147 commented on #163
@fr0zen  Можно закрывать?

[2019-04-22 19:57] #63 closed

[2019-04-23 19:59] #121 closed

[2019-04-24 13:43] #163 closed

[2019-04-24 13:44] fr0zen commented on #195
@Olya147 зачыняю

[2019-04-24 13:44] #195 closed

[2019-04-24 14:12] fr0zen commented on #375
Вось просты гайд https://medium.com/@shanhaichik/%D1%81%D0%B8%D0%BD%D1%85%D1%80%D0%BE%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F-fork-a-%D0%BD%D0%B0-github-%D1%81-%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D0%BC-%D1%80%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D0%B5%D0%BC-47565bd37385

[2019-04-24 14:15] lptn commented on #375
і вось простыя
https://github.com/KirstieJane/STEMMRoleModels/wiki/Syncing-your-fork-to-the-original-repository-via-the-browser
https://gist.github.com/CristinaSolana/1885435

а тут відые https://www.youtube.com/watch?v=o-2fvj7GsOQ

[2019-04-24 14:26] fr0zen commented on #375
@lptn мне падаецца вось з такога і добра фарміраваць вікі. Зачыню issue і дам на яе спасылку у wiki. Гэта для тых, хто робіць пулы праз форк.

[2019-04-24 14:26] #375 closed

[2019-04-24 14:37] lptn commented on #375
@fr0zen
@rizomaa
гэта увогуле мае агульнае бачанне некаторых праблемз доками -- ужо амаль усе напісана, ня трэба перавынаходзіць ровар, дастаткова выкарыстоўваць спасылкі на маючуюся дакументацыю. Перевагу лепей аддаваць докам офіцыйным ці якія падтрымліваюццаа кам'юніці (репы на тым жа GitHub). Вядома для кастамных докаў гэта не падыходзіць, але такія агульныя як форкі -- дастаткова спасылкі

А в

[2019-04-24 19:37] Olya147 commented on #306
Здесь ничего не нужно исправлять (https://ru.wikipedia.org/wiki/PCI_DSS ).

[2019-04-24 19:37] #306 closed

[2019-04-24 20:27] Olya147 commented on #335
@fr0zen @lptn  вопрос решён? Можно закрывать?

[2019-04-24 20:42] Olya147 commented on #248
@rizomaa проблема решена?

[2019-04-24 20:53] Olya147 commented on #242
Исправлено.

[2019-04-24 20:53] #242 closed

[2019-04-24 20:59] lptn commented on #335
@Olya147
Не, не вырашына, гэта відаць будзе доўгаіграючая задача, па-ранейшаму чакаю @nastyafrosty :)

[2019-04-24 21:09] Olya147 commented on #243
исправлено.

[2019-04-24 21:09] #243 closed

[2019-04-24 21:14] rizomaa commented on #248
@Olya147 дзякуй, што дапытала, я паспрабую зрабіць устаноўку і тады напішу. таму ішу пакідаем. будзем над ёй працаваць

[2019-04-24 21:17] Olya147 commented on #240
Исправлено ("На гэтай старонцы ахвяраванне робіцца банкаўскай картай")

[2019-04-24 21:17] #240 closed

[2019-04-24 21:57] lptn commented on #356
@fr0zen
чакаю адказу і дапамогі (так і не знайшоў гэта на RTB)

[2019-04-25 08:52] nastyafrosty commented on #335
@lptn я,возможно,не очень поняла,что требуется от меня...Сейчас тестовые платежи помечены в админке?

[2019-04-25 09:28] Olya147 commented on #227
Исправлено.

[2019-04-25 09:28] #227 closed

[2019-04-25 10:11] Olya147 commented on #182
@rizomaa @lptn Карточка ещё актуальна или можно закрывать?

[2019-04-25 10:41] Olya147 commented on #140
@nastyafrosty @fr0zen Можно закрывать?

[2019-04-25 10:56] #130 closed

[2019-04-25 10:58] #132 closed

[2019-04-25 11:39] Olya147 commented on #82
@nastyafrosty где нужно искать этот баннер?

[2019-04-25 11:51] lptn commented on #182
@Olya147
Дзякуй, не, яшчэ трэба працаваць над гэтым

[2019-04-25 11:55] lptn commented on #335
@nastyafrosty

зараз яны ніяк не пазначаны (тэхнічна) але мы гэта хутка рэалізуем

Мне падабаецца ў Stipe як гэта рэалізавана -- View test data
![image](https://user-images.githubusercontent.com/5278175/56733873-05063d00-676a-11e9-9669-4078388f9770.png) . Пры переключэнні мяняюцца ўсе дадзеныя на старонцы

[2019-04-25 12:40] nastyafrosty commented on #335
@lptn что именно тебе нравится?

[2019-04-25 12:48] rizomaa opened #380 "Зрабіць усталёўшчык"
1. Як паводзім з базай.
2. Як паводзім з кодам.
3. Як паводзім з канфігам ларавэль.
4. Ці будзе сумяшчальнасць з версіяй 1.2?

@cema93 @Tyuba4

[2019-04-25 12:53] lptn commented on #335
@nastyafrosty
что есць толькі адна переключалка, інтэрфейс пры гэтым зусім не ускладняецца, пры гэтым тогл пераключэння адлюстюстравання тэставага рэжыму навідавоку

[2019-04-25 12:53] lptn commented on #335
@svetasemashko
Можа ў цябе есьць бачанне таго як такую праблему вырашыць?

[2019-04-25 12:58] nastyafrosty commented on #335
т.е. ты возможно предлагаешь вариант с доп секцией в меню "Тестовые платежи".где будет отображены такая же табличка,как с информацие об обычных платежах,но только тестовые?

[2019-04-25 13:05] lptn commented on #335
@nastyafrosty
ну я пакуль што не прапаноўваю, а хутчэй зажу што есьць такая опцыя і яны зручная на сайце  Stripe.

Але пры стварэнни кампании хутчэй за ўсе таксама трэба будзе выбіраць -- гэта тэставая кампанія ці не, а ячшэ кампанія не змажа быць адначасова тэставай ня тэставай, а яшчэ са з'явленнем новых Paymentgateway з'явяцца новыя праблемы кафігурацыі: у bePaid зараз канфіг тойжа для тэставых

[2019-04-25 13:09] nastyafrosty commented on #335
ну я просто уточнила,правильно ли я поняла, что тебе нравится в примере и как это может быть использовано у нас.
предложи нашему бизнес-аналитику добавить вопрос про тестовые платежи в анкету для организаций

[2019-04-25 13:35] nastyafrosty commented on #82
https://www.figma.com/file/RlVbECuyzs25TCVHZ1Sls87E/Doika-module-%D0%BA%D0%BBi%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B0%D1%8F-%D1%87%D0%B0%D1%81%D1%82%D0%BA%D0%B0

[2019-04-25 18:07] #304 closed

[2019-04-25 18:46] Olya147 commented on #82
@nastyafrosty  подскажи, это оно?
![1](https://user-images.githubusercontent.com/46268205/56760194-5ed72900-67a3-11e9-86a6-6d586b5497ad.png)

[2019-04-25 19:05] Olya147 commented on #59
@cema93 @rizomaa  Можем закрывать?

[2019-04-25 19:41] rizomaa commented on #59
@Olya147 дзякуй? што напісала. гэта задача становіцца вельмі актуальнай

зачыняю дублюючую #380

[2019-04-25 19:41] rizomaa commented on #380
Дублюе #59 таму зачыняю

[2019-04-25 19:41] #380 closed

[2019-04-25 19:43] rizomaa commented on #59
Актуальныя пытанни на мой погляд

1. Як паводзім з базай (праз код або дампам?).
2. Як паводзім з кодам (праз архіў, або скачваем і распакоўваем).
3. Як паводзім з канфігам ларавэль (што там пакідаем, што даем карыстачу?).
4. Ці будзе сумяшчальнасць з версіяй 1.2? (гэта вельмі актуальна асабліва з улікам таго, што ужо больш за 10к інсталяцый)
@cema93 @Tyuba4

[2019-04-25 20:08] Olya147 commented on #118
Duplicate of https://github.com/diglabby/doika/issues/233

[2019-04-25 20:08] #118 closed

[2019-04-25 20:18] rizomaa commented on #335
@nastyafrosty @lptn

У нас ёсць агульны канфіг для біпэйда, які мы можам пераключаць
1. на тэставыя плацяжы
2. на рэальныя плацяжы
больш тут не трэба нічога ускладняць, хай так і застанецца пакуль.

для рэалізацыі можна стварыць у базе поле, якое будзе запісваць статус 1 або 0 плацяжа,  і па яму выводзіць прагрэс і падлічваць рэальныя плацяжы

калі пройдзены тэставы плацёж ён трапляе у табліцу тра

[2019-04-25 20:33] #20 closed

[2019-04-25 20:38] #119 closed

[2019-04-26 08:19] lptn commented on #335
@rizomaa

а ў адмінцы ў статыстацы паказваем тэставыя? А калі карыстальнік прняў рэальныя плацяжы, переключыў у тэставы і прыняў тэставыя -- якія лічбы паказваем у статыстацы?

Кантрол тэставы/жывы -- на ўсе шлюзы ці асобна на кожны? Калі на ўсе -- складана будзе тэсціцб шлюзы па-асобку. Калі па-асобку -- складана паказваць статыстыку (як зразумець -- паказваем тэставыя дадзеныя ці жывыя калі bePa

[2019-04-26 08:22] nastyafrosty commented on #335
а если в табличке,где название кампании, в начале писать [Тэставы]?

[2019-04-26 08:25] nastyafrosty commented on #82
да, на этих двух картинках - мобильная версия  с баннером

[2019-04-26 08:40] lptn commented on #335
так, можна вырашыць праблему тым, што зрабіць Кампанію тэставай ці жывой, але  пры гэтым статус мяняць забараніць, гэта будзе найпрасцешы варыянт думаю

[2019-04-26 08:56] Olya147 commented on #82
@nastyafrosty закрываю карточку.

[2019-04-26 08:56] #82 closed

[2019-04-26 20:24] Olya147 commented on #34
@Tyuba4 @lptn  карточка ещё актуальна?

[2019-04-26 20:43] Olya147 commented on #15
Текст сообщения соответствует макету.
Закрываю.

[2019-04-26 20:43] #15 closed

[2019-04-27 15:08] rizomaa commented on #199
@Olya147 гэта задача рэалізавана @maxmatoha ?
пракаментуй

[2019-04-27 15:30] fr0zen opened #383 "Старонка адпіскі ад кампаніі (проста дадаць надпіс што вы паспяхова адпісаны)"
@nastyafrosty падумай, калі ласка, над дызайнам старонкі, якая паказвае, што чалавек паспяхова адпісаўся ад плацяжоў.

[2019-04-27 21:33] Olya147 commented on #374
Исправлено.

[2019-04-27 21:33] #374 closed

[2019-04-27 21:35] Olya147 commented on #373
Исправлено.

[2019-04-27 21:35] #373 closed

[2019-04-28 08:40] #357 closed

[2019-04-28 08:43] Olya147 opened #384 "Пропало текстовое поле с описанием кампании"
**Дзеянні каб паўтарыць памылку**
1. Открыть раздел "Список кампаний"
2. Нажать кнопку "Создать кампанию"

**Фактический результат:** исчезло поле для описания цели проводимой кампании.
**Ожидаемый результат:** поле есть.

Было:
![1](https://user-images.githubusercontent.com/46268205/56861526-500e9300-69aa-11e9-86d3-ed6cb27424a0.jpg)

Стало:
![Без Описания](https://user-images.githubusercontent.co

[2019-04-28 09:18] Olya147 opened #385 "Нельзя завершить сеанс, нажав на кнопку "Выйсці""
**Шаги воспроизведения:**
1. Открыть модуль;
2. нажать на кнопку Admin;
3. нажать на кнопку Выйсці

**Фактический результат:** ничего не изменилось, пользователь остался на странице модуля.
**Ожидаемый результат:** сеанс завершён.

Версия Doika: 1.3
Платформа и версия: Windows10
Браузер и версия: Chrome 73.0.3683.103/Opera 58.0.3135.132

[2019-04-28 09:37] Olya147 opened #386 "После нажатия на кнопку "Забыліся пароль" открывается страница с ошибками"
**Шаги воспроизведения:**
1. Перейти по ссылке http://doika/doika/doika/dashboard/login
2. нажать "Забыліся пароль?".

**Фактический результат:** перенаправление на страницу с ошибками.

**Ожидаемый результат:** открыта страница Восстановления пароля.
![3](https://user-images.githubusercontent.com/46268205/56862234-62d89600-69b1-11e9-8cba-19637de1350d.png)

**Окружение:**
Версия Doika: 1.3
Платфор

[2019-04-28 09:47] Olya147 commented on #372
@KahjuksEi Сейчас в названии кнопки опечатка.
Должно быть "Дапамажы".

[2019-04-28 09:51] Olya147 commented on #372
@KahjuksEi  +после нажатия на кнопку _ничего не происходит_.

[2019-04-28 10:01] #224 closed

[2019-04-28 10:21] Olya147 commented on #199
@rizomaa @maxmatoha Вкладка Artpay создана.
Есть похожая [#75](https://github.com/diglabby/doika/issues/75) и связанная [#8](https://github.com/diglabby/doika/issues/8) незакрытые задачи.
![Artpay](https://user-images.githubusercontent.com/46268205/56862793-696a0c00-69b7-11e9-91e3-a5d7fdbb2714.png)

[2019-04-28 18:13] fr0zen opened #387 "Неабходна атрымаць масіў транзакцый на фронт"
Стварыць метад index у кантроллеры транзакцый, які будзе аддаваць дадзеныя аб усіх транзакцыях у наступным фармаце
[code]

[2019-04-28 18:17] fr0zen opened #388 "Пазбавіцца ад статычных шляхоў к рэсурсам у шаблонах"
Выкарыстаць метад require для імпарта рэсурсаў, і наладзіць вэбпак

[2019-04-28 18:28] KahjuksEi commented on #372
@Olya147 пока что существует проблема, мешающая редактировать текстовые данные.
@fr0zen а куда должна вести кнопка?

[2019-04-29 08:34] rizomaa commented on #199
ага, дзякуй. @Olya147

[2019-04-29 08:34] #199 closed

[2019-04-29 08:36] rizomaa commented on #8
@nastyafrosty слушная заўвага, толькі тэгу адразу @maxmatoha @KahjuksEi або @fr0zen

[2019-04-29 09:58] maxmatoha commented on #8
Где поля ввода дублируются? Там айдишники надо поменять. Сегодня сдлаюОтправлено со смартфона Samsung Galaxy.
null

[2019-04-29 12:00] fr0zen commented on #335
@lptn 1. Кантрол тэставы/жывы -- на ўсе шлюзы ці асобна на кожны? - Бачу са свайго боку так: зараз у нас 1 кампанія - 1 шлюз, таму тэставы/рэальны плацеж - павінна ўказвацца ў кампаніі. Магчыма я жадаю тэсціць толькі адну кампанію з усіх. Калі на кампанію будзе выбар шлюза - тады тэстуюцца адразу усе шлюзы.
Наконт як адлюстроўваць - магчыма проста шыльдачку "тэставы" адмаляваць побач з назвай камп

[2019-04-29 12:04] fr0zen commented on #375
@lptn мне падаецца па english доках ўвогуле не павінна пытанне ўзнікаць, бо шмат чаго не перакладзена зусім, гэта не повад не выкарыстоўваць інфу)

[2019-04-29 13:16] lptn commented on #335
@fr0zen
Пытанне "што у нас можа быць тэставым" я так разумею па-ранейшаму адкрытае:
 1. Кампаніі (то бок кампанія можа быць ЦІ жывой ЦІ тэставай і мяняць яе статус нельга)
 2. Плацяжы (любая кампанія можа прымаць і жывыя і тэставыя плацяжы)

У залежнасці ад адказу трэба пісаць розны код. Асабіста мне падабаецца варыянт 2 бо можна рабіць тэставыя плацяжы ў любы момант, але ен ставіць перад намі інш

[2019-04-30 15:03] rizomaa commented on #335
@lptn @fr0zen @nastyafrosty

прачытаў. думаю. у бліжэйшы час напішу свае заўвагі.

[2019-04-30 16:10] Olya147 opened #393 "Ошибка 404 при повторном открытии сайта"
**Шаги для воспроизведения:**
1. открыть модуль;
2. залогиниться;
3. закрыть вкладку сайта;
4. открыть сайт ещё раз.

**Фактический результат:** открывается страница 404. Зайти на сайт можно после удаления истории браузера.
**Ожидаемый результат:** открывается страница модуля.
**Окружение:**
Версия Doika: 1.3
Платформа и версия: Windows10
Браузер и версия: Chrome 73.0.3683.103/Opera 58.0.3135.132

[2019-04-30 16:45] Olya147 opened #394 "Перевести название поля в разделе Payment systems на белорусский язык"
**Шаги для воспроизведения:**
1. Открыть модуль;
2. перейти в раздел "Payment systems"

**Фактический результат:** название поля "Текст условий сервиса сбора пожертвований" написано на русском языке (см. вкладки Bepaid и Artpay).
**Ожидаемый результат:** поле называется "Тэкст умоў сэрвісу збору ахвяраванняў".

![1](https://user-images.githubusercontent.com/46268205/56978061-56a23380-6b7f-11e9-88d

[2019-04-30 16:54] Olya147 commented on #394
Предлагаю также перевести названия разделов Payment systems, Layout, Notificatons, т.к. после их открытия справа (на белом фоне) отображается аналогичная запись на бел. языке (Злучэнне з плацежнай сістэмай, Параметры макета, Наладка паведамленняў).
@rizomaa @fr0zen @lptn @KsenjaV  как вы считаете?

[2019-04-30 17:22] Olya147 opened #395 "Добавить текстовые поля в разделах "Payment systems" и"Notificatons""
**Шаги для воспроизведения:**
1. Открыть модуль

**Фактический результат**: в разделах "Payment systems" и "Notificatons" отсутствуют текстовые поля.

**Ожидаемый результат:** поля есть.
![3](https://user-images.githubusercontent.com/46268205/56980594-6c1a5c00-6b85-11e9-8de9-f09ab1943249.png)
![4](https://user-images.githubusercontent.com/46268205/56980600-6f154c80-6b85-11e9-9196-6175b4cdfce1.png)

[2019-05-01 07:58] lptn opened #396 "Рэалізаваць функцыянал для "Забыліся пароль" (forget password)"
http://127.0.0.1/doika/doika/dashboard/password/reset/token

Болей інфы тут
 Фронтэнд. Вокны лагіна і ўзнаўлення пароля #50

[2019-05-01 07:58] lptn commented on #386
@Olya147
Дзякуй за рэпорт, гэты функцыянал яшчэ не рэализаваны, я дадаў пустую старонку замест, а ягчэ я стварыў задачу каб рэалізаваць гэты функцыянал : "Рэалізаваць функцыянал для "Забыліся пароль" (forget password) #396"

[2019-05-01 07:59] #386 closed

[2019-05-01 08:45] lptn commented on #66
@rizomaa
ну што, ці гатовы мы вырнуцца да гэтага пытання? Калі не -- адпішы калі ласка калі зможам (даты ці ўмовы), было б файла навесці парадак і не дубляваць адно і тое ж у розных месцах

[2019-05-01 11:23] fr0zen opened #397 "Пафіксіць рэдырэкт, калі карыстальнік ўжо залагінены"
Пераход на /doika/doika/dashboard/login калі ўжо залагінены, перанакіроўвае на doika/home
Чакаемы вынік: перанакіроўвае на  /doika/doika/dashboard/campaigns #393

[2019-05-01 11:28] fr0zen opened #398 "Канфлікт роўтараў Laravel і Vue"
Трэба зрабіць фільтр, каб роут /campaigns/{campaign} ->  dashboard.campaigns.update спрацоўваў толькі калі параметр {campaign} лічбавы. Фармат [0-9]+

[2019-05-01 11:36] Al-Shaytan-Al-Akbar commented on #66
Заадно я мог бы паказаць, як я арганізую дакументацыю на працы. Можа, што
прыдалося б як шаблон.

On Wed, May 1, 2019 at 11:45 AM Alies Lapatsin <notifications@github.com>
wrote:

[2019-05-01 15:26] lptn commented on #398
@fr0zen
Якая мэта? Якую праблему хочаш вырашыць?

[2019-05-01 16:29] #259 closed

[2019-05-01 16:30] #257 closed

[2019-05-01 16:30] #256 closed

[2019-05-01 16:32] #260 closed

[2019-05-01 19:34] fr0zen opened #401 "Тэх пытанне: Як захоўваем налады плацежных шлюзаў у ДБ"
Зараз у нас маюцца табы для наладак некалькіх агрэгатараў. Трэба вырашыць, як іх захоўваем. Ці пакуль проста як key:value у табліцы settings, або ствараем асобную табліцу, Але тады прыйдзецца рабіць звязку Кампания -> агрэгатар (адзін к аднаму). Што думаеце на гэты конт  @lptn @Tyuba4 ?

[2019-05-01 19:36] lptn commented on #401
@fr0zen

гэта што такое, плацежны шлюз?

[2019-05-01 19:36] fr0zen commented on #401
@lptn так, дакладна

[2019-05-01 19:37] lptn commented on #401
Так, я думаю гэта лепшае рашэнне, але на дадзены момант я б не чапаў гэта -- новыя шлюзы будуць у лепшым выпадку ў v1.4 толькі

[2019-05-01 19:39] fr0zen commented on #401
@lptn @Tyuba4 тады я буду захоўваць іх наўпрост у табліцу, ок. На мой погляд таксама найлепшы варыянт зараз. @lptn дзякуй за ўдакладненне

[2019-05-01 19:40] #401 closed

[2019-05-02 07:20] rizomaa commented on #401
@fr0zen

Вельмі мала верагодна, што адна арганізацыя будзе карыстацца адначасова двума агрэгатарамі, таму ўсе кампаніі маюць адзін шлюз у агрэгатара.

Калі ласка не пладзіце шмат наладак, бо яны будуць з большага не патрэбныя.

@lptn @Tyuba4

[2019-05-02 10:54] fr0zen commented on #398
@lptn зараз такая сітуацыя, што пры звароце да роута напрыклад  /campaigns/{campaign}/edit (яго няма у laravel routes ) laravel наўпрост адказвае 404.  Але мне патрэбна, каб роуты фармата /campaigns/<number>/edit апрацоўваліся праз https://github.com/diglabby/doika/blob/2e2a56e759f785999422487a9dc52e8fa7150980/routes/dashboard.php#L28, бо потым яны апрацуюцца дадаткова роутэрам vue. Валідацыя паві

[2019-05-02 12:03] rizomaa commented on #401
@lptn https://trello.com/c/SaP88sEG/

[2019-05-02 13:29] lptn commented on #398
@fr0zen
Дзякуй, сення ці заўтра займуся

[2019-05-02 15:19] lptn opened #404 "Рэалізаваць backend Кантроллер для віджэта для генерацыі спасылкі для редырэкта на Payment gateway"
У нас есьць сэрвіс якія генерыць спасылкі, але няма кантроллера

[2019-05-02 15:49] lptn commented on #356
^^^
@fr0zen
чакаю адказу і дапамогі (так і не знайшоў гэта на RTB)

[2019-05-02 22:10] lptn commented on #218
@rizomaa
пацверджання чаго?

[2019-05-02 22:52] lptn commented on #318
зроблена

[2019-05-02 22:52] #318 closed

[2019-05-02 22:58] lptn commented on #340
@fr0zen ?

[2019-05-02 22:58] lptn commented on #394
так, варта перекласці

[2019-05-03 07:32] fr0zen commented on #340
@lptn не актуальна

[2019-05-03 07:33] #340 closed

[2019-05-03 09:21] rizomaa commented on #218
@lptn адпіскі

дзякуй за заўвагу

[2019-05-03 09:27] rizomaa opened #408 "Спрасціць (аўтаматызаваць) міграцыю з Doika v1 => v2"
У нас ёсць пытанне,

1. На сёння каля 15 арганізацый устанаўліваюць або ужо карыстаюцца Doika.
2. Ім рана ці позна захочацца абнавіцца.

Што будзем рабіць у дадзеным выпадку?

1. Ствараем мігратар для аднаўлення версій ужо зараз (не прама зараз, на ітэрацыі 1.4)
2. Дапамагаем арганізацыям ручкамі зрабіць абнаўленне з 1.2 на 1.3 і прадумваем мігратар з 1.3. на 1.4

Вашы думкі? @fr0zen @lptn @Kahjuk

[2019-05-03 09:43] rizomaa commented on #335
@fr0zen @lptn @nastyafrosty

Наогул пікча такая:
1. Модуль дае магчымасць падключаць некалькі агрэгатараў.
2. Адначасова працуе толькі адзін агрэгатар (гэта дакладна да ітэрацыі 6-7 мінімум). Бо арганізацыі не будуць ставіць сабе па 2-3 агрэгатара і камбініраваць кампаніі з адначасовай працай. такога запыта ад іх ніколі не чуў.
3. Таму робім агульную наладку. Тэставы рэжым у канфігурацыі агрэгатар

[2019-05-03 09:47] rizomaa commented on #396
@lptn твая спасылка ідзе на лакальны сэрвер

[2019-05-03 09:55] rizomaa commented on #356
@lptn што шукаеш на RTB?

[2019-05-03 09:55] rizomaa commented on #54
@fr0zen @nastyafrosty пінг

[2019-05-03 09:56] rizomaa commented on #14
@fr0zen @lptn як тут, можа гэта задача ужо вырашана? дублюецца?

[2019-05-03 09:57] rizomaa commented on #68
@lptn @fr0zen ці адмалёўваецца у нас паспяховасць ці не паспяховасць дзеяння у адмінцы ці кліенскай часцы?

[2019-05-03 09:59] rizomaa commented on #10
@nastyafrosty @fr0zen ці дастаткова тут разумення наконт структуры FAQ старонкі?

@Olya147 падумай якую инфу лепей занесці на старонку карыстання модулём?

[2019-05-03 10:00] rizomaa commented on #16
@fr0zen @KsenjaV абнавіце тут статус карткі

[2019-05-03 10:01] rizomaa commented on #50
Тут была падобная картка
https://github.com/diglabby/doika/issues/51

[2019-05-03 10:01] #51 closed

[2019-05-03 10:03] rizomaa commented on #50
@fr0zen @lptn  вы ўключалі у гэту ітэрацыю дадзены функцыянала?

[2019-05-03 10:03] #31 closed

[2019-05-03 10:03] #147 closed

[2019-05-03 10:04] rizomaa commented on #33
@fr0zen @lptn @KahjuksEi тут як зараз?

[2019-05-03 10:05] rizomaa commented on #216
@lptn задача не дэтализавана зачыняю... не бачна, што павінна быць як вынікам.

[2019-05-03 10:05] rizomaa commented on #21
@nastyafrosty як тут ідзе?

@fr0zen ці яшчэ актуальна?

[2019-05-03 10:06] rizomaa commented on #24
@fr0zen гэта яшчэ актуальна?

[2019-05-03 10:15] rizomaa commented on #319
@lptn @fr0zen
вельмі чакаем наладу дэплоймэнта бягучыз зменаў develop галіны на тэставым сэрверы.

з арыентуйце, на калі у вас стаіць гэта задача?

[2019-05-03 10:16] rizomaa commented on #84
@lptn вы робіце нейкія прамежкавыя рэлізы? 1.3.1-...

[2019-05-03 10:17] rizomaa commented on #66
@lptn @Al-Shaytan-Al-Akbar так можна вярнуцца да гэтага пытання. Я гатовы у суботу выдаткаваць час. Або тут асвяжыце свае думкі

[2019-05-03 19:24] maxmatoha opened #409 "Исправить ID на странице Notifications.vue"

[2019-05-04 10:34] KahjuksEi commented on #395
@fr0zen что за поля должны быть?

[2019-05-04 11:06] KahjuksEi commented on #225
@rizomaa появляется вопрос по адаптиву модуля, на каких экранах какой вид должна иметь таблица? 10 полей же не помещается даже в стандартной ширине при открытом навбаре, предлагаю взять эту тему в оборот.

[2019-05-04 11:34] rizomaa commented on #225
@KahjuksEi табліца можа не ўмяшчацца, гэта нармальна

Завагі
1. Палі Сабраная сума і Мэтавая сума аб'яднаць у адно. праз слэш запісваць

Сабраная сума /
Мэтавая сума

123 / 350

такі чынам будзе адзін слупок.

2. Колькасць дзён да заканчэння пераіменаваць у "Засталося дзён"

[2019-05-04 14:08] lptn commented on #356
@rizomaa

вось што я пытаў

[2019-05-04 14:16] lptn commented on #408
@rizomaa
так, можна зрабіць мігратар (магчыма з нейкімі абмежаваннямі, але хутчэй за ўсе паўнавартасны)

Вядома ж рабіць яго не зараз а як будзе ўвесь галоўны функцыянал рэалізаваны

калі каротка, то мне здаецца што гэты ітэрацыйны падыход у яго багучым выкананні -- не вельмі добрая штука: мне здаецца версіі дойкі лепей адвязаць ад спрынтоў, выкарыстоўваць semver 2.0 (MAJOR.MINOR.PATCH схема, нова

[2019-05-04 14:20] lptn commented on #216
@rizomaa
У ПР да гэтай задачы усе добра распісана, я толькі што перенес і дапоўніў інфу адтуль, пера-адкрываю задачу

[2019-05-04 14:37] alies-dev commented on #66
@falanster
@Al-Shaytan-Al-Akbar

Я ў суботу (сення) не буду, пагэтаму выкажу думкі тут

1. Дакументацыя мусіць версіянавацца разам з кодам: абнаўляем і то і другае РАЗАМ. Гэта ВЕЛЬМІ важна для выпадкаў калі нехта выкарыстоўвае старую версію праекта да якога новая дакументацыя не падыходзіць. Гэта значыць докі мусяць быць у рэпазіторыі дойкі.
1. Докі мусяць быць даступнымі (быць на бачным месцы + б

[2019-05-04 14:41] alies-dev commented on #66
А што з ВІКІ? -- Выдаляем усе і выключаем у наладах рэпазіторыя :)

[2019-05-04 14:43] alies-dev commented on #84
@rizomaa
пакуль што пры мне ніякіх новых рэлізаў не было, але ж я за semver 2.0 :)

Падрабязней я адказаў тут https://github.com/diglabby/doika/issues/408#issuecomment-489330895

[2019-05-04 14:46] alies-dev commented on #319
@rizomaa
пасля 15/18 траўня дакладна -- есьць болей гарачыя штукі пасля

Загадваць не хачу зараз -- падчат інтэграцыі FE + BE могуць велезці неспадзяванкі з вялікім прыярытэтам якія ў дадатак могуць забраць шмат часу, пагэтаму пасля 18 буду будуваць новы план

[2019-05-04 14:49] alies-dev commented on #50
@rizomaa
аднаўленне паролю не зрібім да прэзентацыі хутчэй за ўсе, а лагін вядома ж удо працуе

Аднаўленне паролю тут:
Рэалізаваць функцыянал для "Забыліся пароль" (forget password) #396

[2019-05-04 14:50] alies-dev commented on #68
@rizomaa
я пакуль на франце нічога не рабіў (не толькі для гэай issue) --  я ЗУСІМ нічога не рабіў, не магу адказаць

[2019-05-04 14:52] alies-dev commented on #396
@rizomaa
я ведаю, болей жа пакуль няма ніякіх сайтаў дзе круціцца дойка апошняя з develop, так?

[2019-05-04 14:54] alies-dev commented on #50
Закрываю, бо для нерэалізаванай часткі есць "Забыліся пароль" (forget password) #396

[2019-05-04 14:54] #50 closed

[2019-05-04 14:58] #404 closed

[2019-05-04 15:38] alies-dev commented on #397
fixed

[2019-05-04 15:38] #397 closed

[2019-05-04 17:45] KahjuksEi commented on #66
Оптимально будет разделение документации для разработчиков и людей, не связанных с этим, которым будет достаточно гайда по установке.

[2019-05-04 17:46] svetit commented on #66
Мая прапанова:
- прыбраць рыдмі мд.
- Усю дакументацыю размяшчаць у вікі рэпазіторыя.
На галоўнай старонцы вікі - самы вышэйшы ўзровень абстракцыі.

[2019-05-04 17:46] alexap13 commented on #66
Я прапаную крытэрыи - 1.  удобства карыстання карыстальниками 2. Удобства абнаулення инфы нами

[2019-05-04 17:53] alies-dev commented on #66
Якое б рашэнне не прынялі, я ўпэўнены што дакументацыя для распрацоўшчыкаў мусіць быць ў рэпазіторыі -- хотя б для офлайнавай працы і версіянавання докаў разам з кодам

README.md -- гэта стандарт дэ-факта ў усім кам'юніці (не толькі на GitHub), яго выдаляць недапушчальна

[2019-05-04 17:56] ghost commented on #66
Я бы предложила оставить и то и другое, удалив при этом дублирующую информацию из вики. Каждый из вариантов имеет свои преимущества:
1) вики удобна в плане навигации (проще искать по заголовкам) + проще в редактировании;
2) readme  содержит необходимую информацию по установке.
Думаю, будет лишним всё, опубликованное в вики, размещать в readme, т.к. этот же документ будет скопирован на компьютер, и

[2019-05-04 17:57] fr0zen commented on #66
@lptn на мой погляд зараз набор .md файлаў пад дакументацыю - overkill. Бо зараз пытанее па версіянаванню не стаіць вельмі востра. Можа нам зрабіць на .md - шках сугуба інфу па коду, кшталту тэставых спецыфікацый. Мне падаецца такія будуць аднаўляцца хутчэй за ўсе і выконваць нейкую функцыю гісторыі.

[2019-05-04 18:01] alies-dev commented on #66
Пытанне: ці патрэбна нам рабіць наш репазіторый (README.md) презентабільным для арганізацый ? Калі не -- то можам выкарыстоўваць докі для распрацоўшчыкаў у рупазіторыі, докі для арганізацый -- у вікі . Докі па усталеўцы -- гэта для арганізацый ці для распрацоўшчыкаў?)

[2019-05-04 18:06] maxmatoha commented on #66
Вся общая информация в вики. Конфигурация,установка-README.

[2019-05-04 18:13] alies-dev commented on #66
дарэчы у опцыы докаў у тэчцы `/docs` есьць вядікая перавага -- неабмежаваныя ўзроўні гіерархіі.

@fr0zen

тэхнічга вікі -- гэта гіт-репазіторый з md файламі  `https://github.com/diglabby/doika.wiki.git`-- можаш склоніць :)
____________________

Так, GitHub дае магчымасьць легка рэдагаваць вікі файлы, але ж амаль той да інтефейс есьць у .md файлах:
1. Клікаем
![image](https://user-images.githubuser

[2019-05-04 21:33] alies-dev commented on #252
мы НЕ выкарыстоўваем `arcanedev/no-captcha` які патрабаваў `ext-gd` + `ext-curl`. Забываем пра  `ext-gd` але `ext-curl` патрэбны распрацоўшчыкам (на прадакшане не абавязковы наколькі а бачу з логаў)

`ext-pdo_sqlite` хутчэй за ўсе болей не патрэбны, ці на крайняк патрэбны толькі распрацоўшчыкам

[2019-05-04 21:33] alies-dev commented on #252
@rizomaa
было б файна каб ты паказаў вынікі composer install на бягучай версіі (develop)

[2019-05-05 07:35] KahjuksEi commented on #221
@fr0zen а куда прописать фавикон, если index.php для этого не подходит?

[2019-05-05 07:54] b-shchuko commented on #66
Тэхнічная дакументацыя - гэта частка самога прадукта. Не прышлёпка збоку, а
частка прадукта.
Таму яна павінна версіянавацца разам з прадуктам. І гісторыя зменаў павінна
адсочвацца.
То бок, такую дакументацыю трэба трымаць у рэпе, разам з кодам.

КАРЫСТАЛЬНІКІ тэхнічнай дакументацыі:
* праграмісты,
* дэвопс-чувакі (ці сісадміны, "дэплоеры"),
* магчыма, людзі тэхпадтрымкі,
* магчыма, тэставальнікі (

[2019-05-05 07:58] fr0zen commented on #221
@KahjuksEi для админки https://github.com/diglabby/doika/blob/develop/resources/views/dashboard/layouts/app.blade.php

[2019-05-05 13:56] rizomaa commented on #252
@lptn добра калі вы абновіце патрабаванні да асяродка

[2019-05-05 19:17] nastyafrosty commented on #21
@rizomaa @fr0zen залача на следующий спринт?

[2019-05-05 20:47] b-shchuko commented on #66
Цяпер наконт **разбіцця дакументацыі на розныя файлы**.
Логіка разбіцця прыкладна наступная.

**1)** Раздзел змесціва, які з часам будзе разрастацца ў аб'ёме, выносім у асобны дакумент. Напрыклад:
* changelog
* architectural decision record (ADR)
* апісанне known issues і іх workarounds

Гэта ўсё асобныя дакументы. (Праўда, ADR можа ўвогуле быць цэлай тэчкай, у якой для кожнага новага архітэктурна

[2019-05-05 21:32] ghost opened #415 "Вместо названий полей и подсказок стоит надпись «labels.admin….»"
**ФР:** Вместо названий полей и плейсхолдеров стоит запись "labels.admin. ...".

![1](https://user-images.githubusercontent.com/46268205/57200444-d58ad800-6f94-11e9-833e-de727d1d3eaf.png)
![2](https://user-images.githubusercontent.com/46268205/57200445-d58ad800-6f94-11e9-8806-0b78df465ead.png)
![3](https://user-images.githubusercontent.com/46268205/57200446-d58ad800-6f94-11e9-9793-42492b91d45e.png

[2019-05-06 06:22] alies-dev commented on #66
@Al-Shaytan-Al-Akbar
згодны і падпісваюся пад кожным словам, за болей чым 3 гады самі прышлі да такога ж бачання у сябе на праекце (я пра маю асноўную працу)

[2019-05-06 07:34] alies-dev commented on #398
зроблена, закрываю

[2019-05-06 07:34] #398 closed

[2019-05-06 14:14] rizomaa commented on #396
@lptn @fr0zen учора планаваў наладзіць тэставы варыянт з develop

@fr0zen ёсць тут навіны?

[2019-05-06 14:19] rizomaa commented on #66
@lptn

вікі можа правіца як рэпазіторый.

мне цікава, якую структуру докаў ты зараз бачыш?

[2019-05-06 14:24] rizomaa commented on #84
@lptn На мой погляд ў нас прыбліжана да гэтага фармату. Толькі патчы ідуць як пулрэквэсты на брэнчах.

Калі ты зможаш карацей, чым зараз гэты падыход у нас тлумачыцца абазначыць, можна яго афіцыйна перапрыняць.

Пагаджуся, што калі пяройдзем 1.3 можна яе зрабіць як 2.0 ... і тады на мой погляд будзе аптымальна. Ці нешта там ёсць яшчэ прасцей? Яшчэ тут ёсць пытанні?

[2019-05-06 14:25] rizomaa commented on #319
@lptn
 FE + BE???

так, тады @fr0zen проста гэта дэплоіць як можа, бо нам трэба нейкі онлайн тэставы варыянт...

[2019-05-06 15:53] rizomaa commented on #21
@rizomaa глядзі гэта з большага рэфактарынг. ён патрэбну у гэтай ітэрацыі.

можа проста паажы @fr0zen , як яно павінна выглядаць зараз.

[2019-05-06 15:54] rizomaa commented on #415
@fr0zen можаш апісаць задачу на гэтыя багі, імі перапоўнена адмінка. адчуваю, што задача не складаная, як проаста трэба аформіць і перадаць іншаму чалавеку

[2019-05-06 16:07] rizomaa commented on #66
@Al-Shaytan-Al-Akbar дзякуй за прапанаваную структуру. прывяжы яе калі ласка к сённяшнім рэаліям і пакажы, як бы ты рабіў перанос напрыклад пункта 3.4, 3.2. 2.1.

Наогул на мой погляд, мы структуру арганізуем, але тут важна, каб каманда максімальна проста магла арыентавацца у такой дакументацыі і абнаўляць яе.

Мне імпануе звязка адзін просты readme.md і астатняя дакументацыя ў вікі*. З рыдмі буду

[2019-05-06 16:09] rizomaa commented on #216
@lptn зараз зроблена?

наогул яе назва патрэбна каб была больш дакладная інакш чыстакаміможна бясконца займацца

[2019-05-06 16:10] rizomaa commented on #408
Тут удзельнікі накідалі ідэі

"Мозговой штурм по поводу миграции дойки.
1 Сделать понятный инсталлятор
2. Выбор функциональности
3. Перенос таблиц с конверсией данных
4. Добавить гайд "Как сделать все ручками"
5. Помощь с тех. помощью
6. Vip-версия с расширенными функциями
7.Простой для пользователя
8. SQL запрос
9. Ручной перенос информации (используя труд школьников , практикантов)
10. Обновлени

[2019-05-06 16:12] rizomaa commented on #356
Вось спасылка
https://miro.com/app/board/o9J_k0X88dM=/?moveToWidget=3074457346471444293
@lptn

[2019-05-06 16:24] alies-dev commented on #216
гатова!

[2019-05-06 16:24] #216 closed

[2019-05-06 17:21] b-shchuko commented on #66
@rizomaa Не разумею першае пытанне-просьбу. Прывязаць у якім выглядзе? Рабіць перанос - чаго, куды і адкуль?

Вікі мае версіянаванне, але ці прывязаныя яе версіі да версій прадукта? Па-мойму, не. У вікі асобны кантроль версій. А лепш, каб кожнаму білду прадукта адпавядаў свой "злепак" дакументацыі.

Структураваць дакументацыю павінен той, хто знаходзіцца добра ў яе кантэксце і працуе з ёй. Я не зн

[2019-05-06 17:36] alies-dev commented on #66
@rizomaa
я пакуль крыху навеў парадак з маючай дакументацыя (паправіў інфу, спасылкы, выладіў дублікаты і некаторыя пустыя старонкі, перейменаваў файлы), асноўную працу можна убачыць тут https://github.com/diglabby/doika/wiki

Спадзяюся будзе карыстным для таго каю інсці далей па паляпшэнню

`/README.md` - толькі для распрацоўшчыкаў, утрымлівае апісанне праекта, галоўныя каманды для штодзеннай пра

[2019-05-06 17:44] alies-dev commented on #408
@rizomaa
мы можам апытаць арганізацыі ці рэальна ім патрэбна старая інфармацыя з дойкі 1.2? Можа проста хай яны дачакаюцца закрыцця кампаній і пасля усталюць новую версію? Мне падаецца ня варта гбляць час зараз (ці нават увосень) на міграцію. Я думаю называемся "doika 2.0" і не даем магчымасці міграцый. Калі камусці РЭАЛЬНА патрэбна -- хай намаюць за грошы кагосці з каманды а мы гэтыя напрацоўкі в

[2019-05-06 17:50] alies-dev commented on #319
@rizomaa

frontend + backend: мы маглі штосці забыць рэалізаваць з любога доку (ці проста ня ведаць што штосіць трэба было рэалізаваць)

[2019-05-06 18:00] alies-dev commented on #84
@rizomaa

 Па semver:
- Ламанне адваротнай сумяшчальнасці -- можорная (2.0.0)
- любая новая фіча -- новая мінорная версія (MAJOR.**MINOR**.PATCH прыклад 1.15.0)
- Патч -- тут усе зразумела

Мне здаецца ў гэтым issue намешана шмат усяго
1. semver -- гэта толькі пра тое як версіі НАЗЫВАЦЬ (Прыняць стандарт найменавання версій рэлізаў #416 -- толькі што стварыў)
2. Як пры гэтым працуем з git і github

[2019-05-06 18:12] alies-dev commented on #160
@fr0zen
Я перайменаваў задачу каб назва нас не блытала

[2019-05-06 18:19] alies-dev opened #416 "Прыняць стандарт найменавання версій рэлізаў"
Вырашыў перанесці гэтае пытанне ў асобную issue

Мы удо краналіся гэтага пытання https://github.com/diglabby/doika/issues/408#issuecomment-489330895 і https://github.com/diglabby/doika/issues/84#issuecomment-489715727

Мая прапанова:
## Semver

Выкарыстоўваем semver 2.0, што значыць па схеме MAJOR.MINOR.PATCH

- MAJOR: Ламанне адваротнай сумяшчальнасці  (напрыклад 2.0.0)
- MINOR: любая болей меней

[2019-05-06 18:22] alies-dev commented on #416
@rizomaa
@cema93
@fr0zen
Хацелася б пачуць вашы меркаванні

[2019-05-06 18:29] alies-dev commented on #416
# Альтэрнатывы
## Хаос
Вы ведаеце прыклады :)

## Календарны падыход
мажорная версія кожныя X тыдняў ці месяцаў

Хто выкарыстоўвае: Angular, Chrome, Firefox

Кожныя X тыдняў ці месяцаў згодна плану выпускаеюцца новыя версіі з breaking changes. Гэта робіцца не раптоўна: звычайна 2+ версіі таму стары API пазначаецца як deprecated

Такі падыход добры для праектаў з public API і добрай прадказальнасцю

[2019-05-06 18:44] alies-dev commented on #84
Закрываю гэтую issue бо на карысць дубліката з болей багатай гісторыяй:

Аўтаматычнае стварэнне архіва-істалятара для рэлізаў #160

[2019-05-06 18:44] #84 closed

[2019-05-06 19:09] alies-dev commented on #252
@rizomaa

залежнасці залезнасцяў складана кантраляваць, я абнавіў неабходную інфармацыію ў composer.json , цяпер класна было б праверыць: запусціць composer install на тваім асяродку. Калі усе ок -- то абнаўляем докі і закрываем issue

[2019-05-06 19:10] alies-dev commented on #252
PS: цяпер усе звузілася да наступнага сэтапу
[code]
Варта зазначыць што сярод патрабаванняў ніякай экзотыкі няма (як гэта было раней): усе гэтыя ext апроч можа быць ext-mbstring з'яўляюцца core ext -- ідут у камплекце з дэфолтавымі пастаўкамі PHP. ext-mbstring ж бадай самы папулярны з не каробачных ext і да таго ж выкарыстоўвацца ва усіх краінах з не-лацінкаю (то бок у нас усе хостэры маюць гэты e

[2019-05-06 19:27] alies-dev commented on #252
Вынікі: на большасці сістэм нічога дадаткова да PHP ставіць не патрэбна (на прадакшане/хостынгах -- стопудняк). Але распрацоўшчыкам трэба быць упэўненым што стаяць `ext-mbstring`  + `ext-zip` (`composer install` пакажа памылкі калі іх няма ў сістэме)

[2019-05-06 19:33] alies-dev commented on #252
@rizomaa
Прачытай калі ласка мае апошнія 3 паведамленні тут і скаардынуй ўто далей рабіць. Мне падаецца што ня варта ўвагу завастраць на php extentions зусім: на хостынгах усе што трэба есьць, а распрацоўшчыкі ці ужо маюць усе усталяваным ці могуць паставіць самастойна (а калі выкарыстоўваць Docker дык і ставіць нічога апроч самога докера ня трэба). Калі ж раптам праблема у распрацоўшчыкаў будзе у

[2019-05-06 20:40] alies-dev commented on #356
@rizomaa
@fr0zen

https://miro.com/app/board/o9J_k0X88dM=/?moveToWidget=3074457346471444293

па гэтай спасылцы я бачу што тэкст умоваў сэрвісу адзін на ўсе кампаніі (захоўваецца у наладкаў дойкі а не кампаніі) і да таго ж не мае перакладаў
![image](https://user-images.githubusercontent.com/5278175/57253617-d33d8200-7057-11e9-84aa-a3e3ebaf6c3a.png)

А яшчэ тэкст умоваў сэрвісу чамусці згрупіраваны

[2019-05-07 16:19] rizomaa commented on #356
@lptn для першай працощнай версіі гэта акей. зараз гэта не прыярытэтна вылізваць.

як скончым рэфактарыць і запусцім рэкурнтныя можна падумаць пра больш адэкватны цюнінг удзячнасцяў.

[2019-05-07 16:20] rizomaa commented on #319
"з любога доку" ? што за докі? @lptn

[2019-05-07 16:52] alies-dev commented on #319
доку -> боку (памылачка) :)

[2019-05-07 18:02] rizomaa commented on #252
@lptn напішыце спіс патрабуемых пашырэнняў, калі гэта будзе у радок нікога не спужае, а можа сэканоміць горы часу на устаноку.

пасля пераходу на докер кантэёнеры, можна будзе падумаць пра выдаленне гэтага, але насамрэч не, бо неяк жа самі докер кантэёнеры канфігураваць трэба, калі распрам мы і будзем перазбіраць

[2019-05-08 08:47] alies-dev commented on #252
Гатова, тут можна глянуць

https://github.com/diglabby/doika/wiki/Устаноўка-для-Распрацоўшчыкаў#Тэхнічныя-патрабаванні-да-распрацоўкі

Гаўвага: докаў па усталяўцы дойкі для арганізацый яшчэ няма, я парпавіў толькі доку для распрацоўшчыкаў

[2019-05-08 08:47] #252 closed

[2019-05-08 09:49] fr0zen commented on #416
@rizomaa @lptn на мой погляд Semver 2.0 даволі просты і падыходзіць добра пад нашыя патрэбы. Астатнія пакінем карпарэйтам)

[2019-05-08 09:53] fr0zen commented on #216
@lptn 👍

[2019-05-08 10:01] fr0zen commented on #54
@rizomaa тут ужо наладкі разбітыя, зачыняю

[2019-05-08 10:01] #54 closed

[2019-05-08 10:04] fr0zen commented on #21
@nastyafrosty так, на наступны, я зараз магу зрабіць як сам гэта разумею, але над UX трэба будзе падумаць

[2019-05-08 12:19] fr0zen opened #420 "Дадаць абавязковы чэкбокс "я згодны з правіламі" на віджэт"
Зараз можна правесці данэйт без згоды з правіламі - пафіксіць

[2019-05-08 14:13] fr0zen commented on #420
@rizomaa @nastyafrosty што робім калі чалавек не праставіў птушачку на згоду па terms of use. Выводзім popup паведамленне, альбо пішам знізу, можа яшчэ якія варыянты есць?

[2019-05-08 16:06] fr0zen opened #422 "Памылка пры атрыманні redirect_url aд bepaid"
Пры спробе зрабіць запыт да Bepaid атрымаў памылку аб тым, што немагчыма атрымаць дадзеныя з неіснуючага аб'екта. Наступная страка: https://github.com/diglabby/doika/blob/bdfe0a9cfbc928de24f33f8efcb0c9875415d19a/app/Services/PaymentGateways/BePaidPaymentGateway.php#L89
https://github.com/diglabby/doika/blob/bdfe0a9cfbc928de24f33f8efcb0c9875415d19a/app/Services/PaymentGateways/BePaidPaymentGateway.

[2019-05-08 16:36] ghost opened #423 "После переустановки пропала админка модуля"
**Шаги для воспроизведения:**
1. Переустановить Doika 1.3 по инструкции (Win + Openserver);
2. запустить модуль;
3. заполнить e-mail и пароль на странице авторизации;
4. нажать Логин.

**Фактический результат**: все поля на странице авторизации сместились в левую сторону. При входе в админку открывается _пустая страница_ с неработающими ссылками.

Версия Doika: 1.3
Платформа и версия: Windows10
Бр

[2019-05-08 17:00] alies-dev commented on #422
fixed by 5cc0d40e709cd14e22414be92bbd1c179e557f29

[2019-05-08 17:00] #422 closed, assigned to alies-dev

[2019-05-08 17:03] alies-dev commented on #423
@Olya147
Правер калі ласка ці існуе ў цябе файл `.env`

А калі існуе - якое значэнне у пераменнай `APP_ENV`? (значэнне мусіць быць `local`)

[2019-05-08 17:07] alies-dev commented on #423
@Olya147
наконт npm -- я паправіў докі, трэба запускаць `npm run dev`

[2019-05-08 17:52] fr0zen commented on #422
@lptn 👍

[2019-05-08 18:48] ghost commented on #423
@lptn Теперь работает. Спасибо.

[2019-05-08 18:48] #423 closed, assigned to alies-dev

[2019-05-08 21:02] alies-dev commented on #423
@Olya147 дык у чым была праблема? Нам трэба ведаць тыповыя праблемы якія узнікаюць у стафа і інтэгратараў

[2019-05-08 21:30] ghost commented on #423
@lptn В том случае у переменной APP_ENV тоже было значение local.
Видимо, проблема возникла из-за исправленной команды.

[2019-05-09 11:27] alies-dev commented on #422
@fr0zen
Працуе? Бо я не мог праверыць пад час фіксу

[2019-05-09 15:25] ghost opened #424 "Интуитивно непонятный интерфейс при валидации поля Email на странице авторизации"
**Шаги для воспроизведения:**
1. открыть страницу авторизации;
2. ввести произвольный эл. адрес в поле e-mail;
3.  ввести произвольный пароль;
4. нажать Логин;
5. нажать "Х" в поле e-mail.

**Фактический результат**: кнопка некликабельна. Введённое значение не удалено.

![11](https://user-images.githubusercontent.com/46268205/57465428-40832a00-7287-11e9-820f-b9540688f201.png)

**Тестовые условия:*

[2019-05-09 19:02] fr0zen commented on #422
@lptn так, зараз усе добра

[2019-05-10 16:28] fr0zen opened #425 "Рэалізаваць адпраўку-прыем дадзеных аб наладках плацежных сістэм"
Захаваць і рабіць выбарку дадзеных па наступных наладках:

- [x]  Bepaid Market Id
- [x]  Bepaid Market Key
- [x]  Terms Of Use text
- [x]  Min payment
- [x]  Max payment

[2019-05-10 16:41] fr0zen commented on #425
#426 тут фікс

@lptn крута было б зрабіць, каб наладкі пры плацяжах цянуліся з БД, а не з .env

[2019-05-10 16:52] fr0zen opened #427 "Дадаць вывад наладак па знешняму выгляду на старонку наладак"
Зрабіць выбарку і захаванне наступных наладак:

- [ ]  Колер фона віджэта
- [ ]  Колер кнопак
- [ ]  Колер прогресс бара
- [ ]  Колер шрыфтоў

[2019-05-10 18:13] alies-dev commented on #425
@fr0zen
добра, зраблю

[2019-05-11 12:05] KahjuksEi commented on #424
Это не кнопка, просто фон, если надо сделать кнопку, то @fr0zen подскажи где редактить

[2019-05-11 22:51] #202 closed

[2019-05-11 22:52] alies-dev commented on #202
калі я правільна разумею задачу, то гэта ужо зроблена

[2019-05-11 22:56] alies-dev commented on #49
@rizomaa
Як і калі будзем дасылаць спасылкі на адпіску ад падпіскі?

[2019-05-12 07:45] alies-dev commented on #393
@Olya147
 Дзякуй за відыё -- рэальна дапамогло

Праблема была ў тым куды рэдзірэкціць залашіненага карыстальніка калі ен хоча зайсці на старонку /doika/dashboard/login . Я паправіў -- цяпер рэдзірэкціць на хатнюю старонку dashboard

Які flow цяпер: ты тэсціш наноў і закрываеш ці я магу закрыць?

[2019-05-12 07:49] alies-dev commented on #14
Здаецца гэта дублікат ад  "Фронтэнд. Дадаць старонку ўнясення дадзеных карыстальніка (рэкурэнтныя плацяжы)" #33

Закрываю (Duplicate of #33)

[2019-05-12 07:49] #14 closed

[2019-05-12 07:50] alies-dev commented on #33
@rizomaa
Я ня ведаю: гэта 100% фронтэнд задача

[2019-05-12 08:04] alies-dev opened #433 "Рэалізаваць API endpoint каб сцягваць дадзеныя пра падпіскі для dashboard"
@fr0zen
нам жа трэба такі функцыянал ці не? Я пакуль на франце гэтага не бачу, на РТБ я такога не знайшоў

@nastyafrosty
@rizomaa
Я думаю у адмінаў дойкі будзе зрэдку узнікаць патрэба выдаліць некаторыя падпіскі самастойна (будуць скардзіцца карыстальнікі ці проста ў межах тэставання). Што думаеце?

[2019-05-12 09:31] fr0zen opened #436 "Баг перанакіравання"
@lptn Пры заходзе на старонку dashboard/login калі ўжо залагінены, перанакіроўвае на /api/campaigns
Чакаемыя паводзіны: павінна перанакіроўваць на /campaigns

[2019-05-12 09:39] #387 closed

[2019-05-12 09:40] #49 closed

[2019-05-12 09:41] alies-dev commented on #436
Я гэта пафіксіў пару гадзін таму, абнавіся і пераправер калі ласка

[2019-05-12 09:45] fr0zen commented on #436
👍 Працуе!

[2019-05-12 09:45] #436 closed, assigned to nobody

[2019-05-12 14:47] ghost commented on #393
@lptn Проверила, всё исправлено.
Закрываю.

[2019-05-12 14:47] #393 closed

[2019-05-12 17:23] fr0zen opened #437 "Перанакіраванне на старонку вынікаў данэйта"
@lptn ці можам зрабіць, каб пасля праводкі транзакцыі вяртала на старонку кшталту
[code]
Паводле https://docs.bepaid.by/ru/gateway/statuses

[2019-05-12 17:55] alies-dev commented on #437
@fr0zen
То бо проста хочаш зусім розныя старонкі а не проста розныя GET параметры адной, так? Чаму?

[2019-05-12 18:02] alies-dev commented on #437
@fr0zen
і ці патрэбна {campaign} ва URI ці проста проста /doika/widget/donations/success (зараз гэта /doika/widget/campaigns/{campaign}/donation-result) ці мо нават `/doika/widget/donations/{donation}` ? Што табе на гэтай старонцы патрэбна? Ты будзеш HTML збіраць праз JS ці можам SSR выкарыстаць?

[2019-05-12 18:20] fr0zen commented on #437
@lptn на старонцы мне патрэбны толькі сам статус, каб адмалеўваць малюнкі і id кампаніі, каб ведаць, куды вяртаць карыстальніка. Гэта ў ідэале. Праз свой роутэр я забяру id і status, а потым выкарыстаю іх як трэба

[2019-05-12 20:08] cema93 commented on #416
Я только за :)

[2019-05-12 20:18] cema93 commented on #408
Этот вопрос поднимался ещё в тот момент, когда  мы поняли, что структура базы изменится.

Личный опыт:
Я представитель одной из инициатив, которая пользуется doika(правда, я пользуюсь как ИП и на nginx). Мне было бы очень обидно потерять данные о платежах, которые есть на данный момент.

Я считаю, что стоит сделать отдельный php файл, который обновляет базу до состояния doika 1.3.
Не думаю, что ст

[2019-05-12 20:41] fr0zen opened #441 "CampaignPaymentIntendController выдае памылку пры спробе правесці плацеж"
Argument 2 passed to Money\Money::__construct() must be an instance of Money\Currency, string given, called in /var/www/html/doika/app/Http/Controllers/Widget/CampaignPaymentIntendController.php on line 28

[2019-05-12 23:57] alies-dev commented on #437
@fr0zen
дык зараз жы вяртае на `/campaigns/{campaign}/donation-result?status={status}` дзе усе есьць:
 - campaign id
 - status

Такі варыянт не падыходзіць? Я нечага не разумею?

[2019-05-13 00:16] fr0zen commented on #437
@lptn зараз вяртаецца view
[code]

мне было б лепш, каб быў проста рэдырэкт на старонку кшталту /campaigns/{campaign}/donation-result/successful

[2019-05-13 14:19] fr0zen opened #445 "Дадаць прэфікс doika_ к табліцам у БД"
Модуль з большага будзе разгортвацца на гатовых базах, прыгатаваных для cms. Таму бягучы нейминг можа перакрыжоўвацца з існуючым у табліцах.

[2019-05-13 17:55] ghost commented on #384
Исправлено.

[2019-05-13 17:55] #384 closed

[2019-05-13 18:04] ghost commented on #395
исправлено.

[2019-05-13 18:04] #395 closed

[2019-05-13 18:12] ghost commented on #394
@fr0zen Осталось перевести "Текст условий сервиса сбора пожертвований" как в приложении.

[2019-05-13 18:22] #230 closed

[2019-05-13 18:30] #112 closed

[2019-05-13 18:54] fr0zen commented on #394
@Olya147 👍 прапусціў, што яна на рускай мове

[2019-05-13 18:56] ghost commented on #424
Нерабочие кнопки в форме создания новой кампании":

![1](https://user-images.githubusercontent.com/46268205/57646084-6df20f80-75c8-11e9-94a4-e53ffa90ff39.png)

[2019-05-13 19:02] fr0zen commented on #424
@Olya147 па сэнсу гэта паказчыкі валіднасці/неваліднасці поля, але калі ты не зразумела адразу, значыць UX зроблены не вельмі)

[2019-05-13 19:08] ghost commented on #415
@fr0zen После очистки целевой суммы сборов в поле "Колькасць" появляется плейсхолдер labels.admin...

![2](https://user-images.githubusercontent.com/46268205/57647392-83b50400-75cb-11e9-8b6d-53ac53b0a61a.png)

[2019-05-13 19:30] #102 closed

[2019-05-13 19:39] ghost commented on #233
Исправлено.

[2019-05-13 19:39] #233 closed

[2019-05-13 19:53] ghost commented on #371
@KahjuksEi Поясни, что ты имел в виду.

[2019-05-13 20:07] ghost commented on #232
@maxmatoha @fr0zen После обновлений в разделе "Паведамленні" появились новые поля "Шаблон эл. ліста..." и "Удзячнасць за зроблены плацеж...", записи в которых также дублируются.

![3](https://user-images.githubusercontent.com/46268205/57650497-a0553a00-75d3-11e9-8ae8-6bfeebfa9fc1.png)

[2019-05-13 20:23] maxmatoha commented on #232
Подправлю

[2019-05-14 06:00] KahjuksEi commented on #371
@Olya147  Смещение верстки заголовков при открытии навбара

[2019-05-14 11:26] rizomaa commented on #427
@fr0zen гэты функцыянал з 1.2 ?

[2019-05-14 11:27] rizomaa commented on #49
@lptn

1. У лісце пераз зняццём грошай (3 дні да зняцця)
2. У лісце пасля зняцця грошай (адразу пасля зняцця)

[2019-05-14 11:27] rizomaa commented on #33
@fr0zen ?

[2019-05-14 11:37] alies-dev commented on #49
@rizomaa
@fr0zen

Гэта значыць нам патрэбны крон ці хак (пры кожным реквэсце правяраць ці есьць што адправіць), ці пацнуць крон арганізацыі?

[2019-05-14 12:26] fr0zen commented on #49
@rizomaa @lptn пакуль мы можам нармальна рэалізаваць варыянт толькі з пісьмом пасля плацяжу.
Алгарытм наступны.
1. Чалавек свядома падпісваецца на данэйт.
2. Тут жа грошы здымаюцца.
3. Прыходзіць пісьмо с падзякай, указаннем колькасці плацяжу і спасылкай на адпіску з датай, калі грошы здымуцца наступны раз. Калі чалавек памыліўся/не жадае данэйціць у наступны раз - ен проста адпісваецца.

На мой п

[2019-05-15 11:53] rizomaa commented on #49
@lptn Так, магчыма для гэтай ітэрацыі дастаткова аднаго паведамлення пасля аплаты, як піша @fr0zen , але для будучай варта папярэджваць.

Наконт запуска праверкі  для адсылкі думаю, варта лепей карыстацца проста праверкай умоваў адпраўкі па спісу пры ўваходзе любога карыстальніка на сайт. Можна даследваць ці ёсць магчымаць на шарэхостынгах правіць канфіг крона.

[2019-05-15 11:55] rizomaa commented on #420
@fr0zen вакно-папярэджанне дастаткова. @nastyafrosty ?

[2019-05-15 20:36] ghost opened #446 "Пользователь не авторизован после ввода верных логина и пароля"
**Шаги для воспроизведения:**
1. открыть сайт;
2. в поле "E-mail адрас" ввести **demo@example.com**
3. в поле "Пароль" ввести password;
4. нажать "Лагин"

**Фактический результат:** сообщение  "E-mail и пароль не існуюць."
**Ожидаемый результат:** пользователь авторизован.

**Тестовые условия:**
Версия Doika: 1.3
Платформа и версия: Windows10
Браузер и версия: Chrome 73.0.3683.103/ Opera 58.0.3135

[2019-05-15 20:38] ghost commented on #446
@lptn @fr0zen логин и пароль, указанные в инструкции, не менялись?

[2019-05-15 21:09] alies-dev commented on #446
@Olya147
Прабач, гэта тым у 20:30 без абвяшчэння вайны памянілі на `demo@example.com` + `demo`

[2019-05-15 21:37] alies-dev commented on #446
PS: Абнавіў інфу ў wiki

[2019-05-15 21:38] #441 closed, assigned to fr0zen

[2019-05-15 21:38] alies-dev commented on #433
@fr0zen
Трэба такі endpoint?

[2019-05-15 21:40] alies-dev opened #448 "Рэалізаваць вывад дадзеных пра admin'аў як асобную старонку dashboard"
каб паказваць на старонцы doika/dashboard/admins

[2019-05-15 22:02] alies-dev opened #450 "Спрасціць стварэнне тэставых дадзеных для распрацоўшчыкаў"
Мэта: мець дадзеныя для маніпуляцыі з імі

Прасцей за ўсе зрабіць праз Seeder

[2019-05-15 22:04] alies-dev commented on #450
@fr0zen
Гатова,
[code]

Пакуль што там няма settings, я дадам крыху пазней

[2019-05-15 22:04] #450 closed, assigned to alies-dev

[2019-05-15 22:20] alies-dev commented on #104
а ў мяне атрымліваецца стварыць кампанію, а вось карцінка кампаніі неяк дзіўна аплоадзіцца, @fr0zen глянь калі ласка
![image](https://user-images.githubusercontent.com/5278175/57813455-d2ec6780-7778-11e9-9474-2d5f9ff484e8.png)

[2019-05-16 09:41] #445 closed, assigned to alies-dev

[2019-05-16 09:44] #336 closed

[2019-05-16 10:34] #446 closed, assigned to alies-dev

[2019-05-16 20:06] #394 closed

[2019-05-16 20:19] fr0zen opened #452 "Subscription intend type mismatch"
https://github.com/diglabby/doika/blob/f86ec465ea944a9e0d3b2e62661ddb1ad93f69bc/app/Http/Controllers/Widget/CampaignSubscriptionIntendController.php#L39

https://github.com/diglabby/doika/blob/f86ec465ea944a9e0d3b2e62661ddb1ad93f69bc/app/Services/PaymentGateways/BePaidPaymentGateway.php#L100

@lptn што тут мелася на ўвазе?

[2019-05-16 20:26] fr0zen commented on #452
https://github.com/diglabby/doika/commit/c5aa416978744be9695121c757ae96e5f544dd6e fixed

[2019-05-16 20:26] #452 closed, assigned to alies-dev

[2019-05-16 21:38] ghost commented on #104
@lptn  только что переустановила модуль. При попытке создать кампанию и пользователя как и раньше появляется надпись exeptions.general.

[2019-05-16 21:55] fr0zen commented on #104
@Olya147 падкажы калі ласка, ці змяняеш базу, калі пераўсталеўваеш?

[2019-05-16 21:55] ghost commented on #385
исправлено.

[2019-05-16 21:55] #385 closed

[2019-05-16 22:11] ghost commented on #104
@fr0zen  всё удаляю.

[2019-05-16 22:14] alies-dev commented on #104
@fr0zen
Дарэчы ці можаш паказваць тэкст памылкі рэальны (а не “exeptions.general.“)? -- хочацца мець болей дэталевыя баг-репорты

[2019-05-16 22:14] alies-dev commented on #104
@Olya147
на жаль бяз логаў нічока не магу зрабіць(

[2019-05-16 22:40] fr0zen commented on #433
@lptn так, было б крута

[2019-05-16 22:44] alies-dev commented on #433
@rizomaa
@fr0zen
тут устае пытанне: пры выдаленні падпіскі з адмікі ці выдалем падпіску на шлюзе?

Я думаю -- так! Але трэба каб гэта было відачона з інтэрфейсу (modal dialog?)

[2019-05-16 22:46] fr0zen commented on #433
@lptn так, с шлюза таксама, так, прыйдзецца рабіць мадаль без варыянтаў

[2019-05-16 22:48] fr0zen commented on #104
@lptn я бачыў, тэстану гэтую штуку, наконт лога згодны

[2019-05-16 22:53] alies-dev commented on #433
@fr0zen
зараз толькі шбачыў што я гэта ужо прадугледзіў і рэалізаваў)

дарэчы delete реквэст прымае параметр "reason": можам у мадальцы апцыянальна пытаць прычыну адпіскі

[2019-05-16 22:58] fr0zen commented on #433
@lptn ты прапанаваў класную фічу, трэба будзе яе ў бэклог занесці)

[2019-05-17 10:55] ghost commented on #104
@lptn  @fr0zen я поняла: она не создаётся, если не заполнено описание кампании.
Но поле не отмечено, как обязательное к заполнению.

[2019-05-17 11:00] ghost commented on #415
@fr0zen в форме редактирования кампании появляется поле с надписью "<iframe width='750' height='550' frameborder='0' src='/doika/doika/widget":

![1](https://user-images.githubusercontent.com/46268205/57923793-fe23a380-78ab-11e9-94ed-363d57eebebb.png)

[2019-05-17 11:02] ghost commented on #104
[#120](https://github.com/diglabby/doika/issues/120)

[2019-05-17 11:11] alies-dev commented on #120
Я дадаў валідацыю на баку бэкэнда, але ці трэба каб апісанне кампаніі было абавязковым полем?

@Olya147
Было б крута каб та такіх issue мы прыкладалі і спасылку на RTB каб упэўніцца што абавязковае а што апцыянальнае

Дызайн: https://miro.com/app/board/o9J_k0X88dM=/?moveToWidget=3074457346294415052

[2019-05-17 11:39] nastyafrosty commented on #433
@lptn уточню. фича, которая поможет админу отписать донэйтера от кампании?

[2019-05-17 11:51] alies-dev commented on #433
@nastyafrosty
так. Было б класна для гісторыі мець прычыну адпіскі (насамрэч я гэта ужо рэалізаваў і мы піўам дэфолтавы тэкст, але модам і кастамны)

[2019-05-17 13:54] alies-dev opened #453 "Перейменаваць campaign.started_at + campaign.finished_at для большай чытабельнасці"
на campaign.start_at + campaign.finish_at

[2019-05-17 14:39] alies-dev commented on #448
@fr0zen
бэкэнд зроблены, як зробіш фронт -- закрый калі ласка issue

[2019-05-17 16:30] rizomaa commented on #416
@lptn

"Выкарыстоўваем semver 2.0, што значыць па схеме MAJOR.MINOR.PATCH

MAJOR: Ламанне адваротнай сумяшчальнасці (напрыклад 2.0.0)
MINOR: любая болей меней важкая новая фіча (напрыклад 2.15.0)
PATCH: тут усе зразумела -- выпраўленне існуючага вункцыянала (напрыклад 2.0.14)"

можна прыняць такі падыход. прапаную тады запісаць дзесці у вікі, бкаб больш не падымалася гэта пытанне.

[2019-05-17 16:32] rizomaa commented on #408
@lptn
так, думаю апытаем, калі зробім больш менш устойлівую кампаненту.

па шэтаму адчыняй новую картку, бо я упэўнены, што у нас добры код у 1.2 =)
"PS: а для doika 1.2 трэба выпусціць security update дзе прыбраць існуючыя бэкдоры -- там жа рэпутацыя важна, так?"

[2019-05-17 16:38] rizomaa opened #456 "Ці робім версію 1.3 - > 2.0 ?"
у сувязі з прыняццем новага падыхода версіравання https://github.com/diglabby/doika/issues/416
цалкам падтрымліваю ідэю зрабіць гэту версію пасля адладкі 2.0

зараз можна выпускаць 2.0.0alpha пакуль вы не давялі да розума =)

@lptn @fr0zen @Tyuba4 @cema93 @KahjuksEi @Olya147 @maxmatoha

[2019-05-17 16:39] rizomaa commented on #252
дзякуй

[2019-05-17 16:45] rizomaa commented on #433
чаму карыстальнику цікавы такія тэзнічныя дэталі? проста выдаляей адюсюль з падпіспі. пакідаем толькі статыстыку карыстальніка ў базе модуля. @lptn

[2019-05-17 16:54] rizomaa commented on #120
@lptn дзякуй, зараз як разумею у нас хаатычна рэализавана абавязковасць палёў. так?

абавязковасць вызначана толькі для увядзення дадзеных ахвярадаўцы.

астатняе сапраўды трэба прапрацаваць.

@nastyafrosty @fr0zen @Olya147 можна абмеркаваць абавязковыя палі...

@lptn пакуль не заганяйцеся, мы зробім спіс усіх палёў і пазначым іх абавязковасць. усё тут акей. не дадасць шмат валакіты з кодам пасля?

[2019-05-17 16:59] alies-dev commented on #120
@rizomaa

так, але энтрапія невялікая, хаця і яна стварае недавер да ўсіх астатніх частак дызайну

не, абмяркоўваеце -- "я пачакаю" (с)
![image](https://user-images.githubusercontent.com/5278175/57944018-52477b80-78de-11e9-92ec-38d41f17ddf0.png)

[2019-05-17 17:01] rizomaa commented on #120
@lptn па рэкурэнтным там усё зразумела

[2019-05-17 17:15] alies-dev commented on #416
добра. здаецца усе хто хацеў выказаліся за semver 2.0 , прымаем і закрываем, вікі я абнавіў: https://github.com/diglabby/doika/wiki/%D0%92%D0%B5%D1%80%D1%81%D1%96%D1%8F%D0%BD%D0%B0%D0%B2%D0%B0%D0%BD%D0%BD%D0%B5

[2019-05-17 17:17] #416 closed, assigned to cema93, alies-dev, rizomaa, fr0zen, Tyuba4

[2019-05-17 17:18] alies-dev commented on #456
@diglabby/core
# Галасавалка 1.3 vs 2.0
😕 ня ведаю
👎 1.3
👍 2.0

[2019-05-17 17:21] alies-dev commented on #456
@rizomaa

А навошта, калі не сякрэт?)

[2019-05-17 17:24] rizomaa commented on #456
@lptn папярэдзіць карыстальнікаў і устаноўшчыкай, каб строга не судзілі, калі там будзе шмат багаў. маеш сваё бачанне?

[2019-05-17 17:25] fr0zen commented on #120
@rizomaa тэму трэба будзе абмазгаваць, але таксама без фідбэка гэта будуць гаданні на кафейнай гушчы мне падаецца.

[2019-05-17 17:25] alies-dev commented on #456
@rizomaa
амаль згодны, не ясна што такое "зараз"

Мне падаецца на паліраванне рэлізу дзесьці тыдзень трэба, тады і можна тэгаваць як (напрыклад) `2.0.0 RC1`

А пакуль што мы  і так ведаем што рэліз сыраваты, лепей не тэгаваць мне падаецца

[2019-05-17 17:27] #433 closed, assigned to alies-dev

[2019-05-17 17:44] rizomaa commented on #456
@lptn
пад зараз я маю на ўвазе, калі вось ужо фіча гатова, але не адтэшчана талкова. трэба яе уключаць у рэліз і даваць супольнасці і юзаць і тым самым тэставаць. ну карацей рабіць як мага хуткія рэлізы з папярэджаннем пра іх якасць, так з гэтам добра спраўляюцца alpha, beta і rc.

вообшэм гэта прапанова. калі лічыш. што занадта складана, можна не парыцца. проста рабіце рэліз з лічбамі як мы дамов

[2019-05-17 17:44] rizomaa commented on #120
@lptn тады усе палі неабавязковыя, пасля можна будзе зрабіць таску і прайсція паняць статус. так лепш?

[2019-05-17 18:25] alies-dev commented on #120
@rizomaa
Ну не зусім добра ) На "ўсе" я не згодны, трэьа хоць штосці пакінуць абавязковым, лепейнаадварот зрабіць амаль усе абавязковым а пасля паслабляць патрабаванні і дапісваць ifы ў кодзе

[2019-05-17 20:50] ghost commented on #114
исправлено.

[2019-05-17 20:50] #114 closed

[2019-05-17 20:55] ghost commented on #232
Исправлено.

[2019-05-17 20:55] #232 closed

[2019-05-17 21:01] #409 closed

[2019-05-17 21:42] ghost opened #458 "Возможно создание двух идентичных кампаний"
**Шаги для воспроизведения:**
1. создать две одинаковые кампании.

**Фактический результат:** обе кампании успешно сохранены.
**Ожидаемый результат:** вторая кампания не сохранена, появляется сообщение об ошибке (напр. "Название не уникально").

![1](https://user-images.githubusercontent.com/46268205/57957551-58048780-7905-11e9-823b-481d83fe58f3.png)

**Тестовые условия:**
Версия Doika: 1.3
Платфо

[2019-05-17 21:58] ghost opened #459 "При закрытии формы кампании сбрасываются настройки переключателей"
**Шаги для воспроизведения:**
1. Открыть форму создания кампании;
2. заполнить все поля;
3. перевести в активный режим все переключатели;
4. нажать "Захаваць";
5. открыть только что созданную кампанию.

**ФР:** переключатели "Верхни банэр" и "Паласа прагрэсу" неактивны.
**ОР:** все переключатели активны.

**Тестовые условия:**
Версия Doika: 1.3
Платформа и версия: Windows10
Браузер и версия: Chrom

[2019-05-17 22:41] ghost opened #460 "Макет афармлення модуля не захоўваецца"
**Шаги для воспроизведения:**
1. создать кампанию;
2. в разделе "Знешні выгляд" изменить цвет фона.
3. нажать "Прыстасаваць".

**ФР:** появляется сообщение "exceptions.general".
**ОР:** выбранные цвета сохранены. Макет применён к странице сайта http://doika/doika/doika/widget/campaigns/   .

**Тестовые условия:**
Версия Doika: 1.3
Платформа и версия: Windows10
Браузер и версия: Chrome 73.0.3683.10

[2019-05-18 06:50] rizomaa commented on #458
@Olya147 тут не парся. гэта правяраць няўдзячная штука, пакідаем гэту фічу на роздум самім арганізацыям. Яны самі прымуць рашэнне, ці патрэбна ім дзве кампаніі.

[2019-05-18 06:50] #458 closed, assigned to nobody

[2019-05-18 18:08] Tyuba4 opened #462 "Зрабіць падпіскі гнуткімі для працы з любымі разумнымі інтэрваламі"
Z Services/PaymentGateways/BePaidPaymentGateway.php vynesti statychnye dadzenye u techku config. Stvaryc' dlja getaga kanfig fajl.

[2019-05-19 22:33] alies-dev commented on #462
@Tyuba4
1. Якую праблему вырашаеш?
2. Што за статычныя дадзеныя?
3. Чаму ў канфіг файл?

Глядзі, без адказу на першае пытанне ў такой фурмаліроўцы гэтые issue не магчыма дэлегаваць каму-небудзь, трэба писаць лепей аписанне задач

[2019-05-21 10:51] alexap13 commented on #456
Прашу прасціць: Лепей тая сістэма, якая стандартызавана (апісана) і панятна, як камандзе,так і карыстальнікам.

[2019-05-21 11:26] alies-dev commented on #456
@rizomaa
усе за 2.0 з тых хто хацеў выказацца, прынята, закрываем?

[2019-05-22 17:46] alies-dev opened #464 "Напісаць тэкст імэйлаў па рэкурэнтным плацяжам"
Файлы для рэдагавання
 - Паспяховае стварэнне падпіскі (зарам з першым плацяжом): ці патрэбны там такі імэйл?
 - Няўдалае стварэнне падпіскі https://github.com/diglabby/doika/blob/develop/resources/views/emails/subscriptions/charge--failed.blade.php
 - Удалая транзакцыя па падпісцы https://github.com/diglabby/doika/blob/develop/resources/views/emails/subscriptions/charge--success.blade.php

[2019-05-23 06:28] alies-dev commented on #462
ping @Tyuba4

[2019-05-23 10:35] #198 closed

[2019-05-23 15:54] rizomaa commented on #456
@lptn так, прынята рашэнне)

[2019-05-23 15:54] #456 closed, assigned to rizomaa

[2019-05-23 19:43] ghost commented on #225
@maxmatoha @KahjuksEi Карточку рано закрывать. Что осталось исправить:
1) переименовать поле "Колькасць дзён да заканчэння";
2) объединить гр. "Сабраная сума" и "Мэтавая сума".

[2019-05-23 20:25] maxmatoha commented on #231
Можно закрыть

[2019-05-24 18:14] maxmatoha commented on #127
исправлено

[2019-05-24 20:19] fr0zen opened #481 "Дадаць статычныя дадзеныя адміна модуля пры тэставым сідаванні"
Есць праблема, што зараз фабрыка фарміруе поўнасцю рандомныя дадзеныя адмінаў на тэставым сідэры, трэба адзін статычны, каб было зручней тэставаць

[2019-05-24 20:43] fr0zen opened #482 "Фармат адказу не супадае з чакаемым"
Калі сідуем базу праз тэставы сідер, то пры запыте да дадзенных кампаніі праз кантроллер атрымліваем наступны адказ:
[code]

на фронце замест стракі чакаецца аб'ект

[code]

Памылка ўзнікае толькі пры сідынге, калі пішам у базу праз кантроллер - усе добра.

[2019-05-25 11:04] fr0zen commented on #8
Што патрэбна:
1. Реалізаваць забор дадзенных па наладках сэрвера з базы
2. Рэалізаваць запіс гэтых дадзеных у базу.
3. Пратэсціць

[2019-05-25 11:07] fr0zen commented on #11
Занадта агульная задача, зачыняю

[2019-05-25 11:07] #11 closed

[2019-05-25 11:12] fr0zen commented on #16
Масівы перакладаў створаны, рэалізацыя шматмоўнасці - іншая issue. Зачыняю.

[2019-05-25 11:12] #16 closed

[2019-05-25 11:14] fr0zen commented on #10
Зараз FAQ хутчэй тэставае, разглядзець, якія аспекты працы модуля мы можам ўжо дадаць у FAQ

[2019-05-25 11:17] fr0zen commented on #21
Дададзены наладкі колераў. Дубляваны функцыянал версіі 1.2. Развіваць функцыянал будзем больш мелкімі issue.

[2019-05-25 11:17] #21 closed

[2019-05-25 11:22] #24 closed

[2019-05-25 11:27] fr0zen commented on #26
@fr0zen зрабіць адказы аб памылках больш відавочнымі. Большасць варыянтаў у каменце вышэй.

[2019-05-25 11:37] fr0zen commented on #30
@lptn мяркую, што картку можна зачыніць, на бэке мне падаецца ўсе есць у плане памылак. Усе патрэбныя адказы аддаюцца.

[2019-05-25 11:40] fr0zen commented on #33
@rizomaa гэта старонка звярстана, зачыняю

[2019-05-25 11:40] #33 closed

[2019-05-25 11:43] fr0zen commented on #34
Нічога не зразумеў і не памятаю, аб чым шла гаворка. Зачыняю.

[2019-05-25 11:43] #34 closed

[2019-05-25 11:50] fr0zen commented on #10
https://docs.google.com/document/d/1rtnML9M-gQD_BifhTumMOdSyyVd83wt5p8Db5NLGJKg/edit спасылка на док, адказаць на пытанні і дадаць у модуль.

[2019-05-25 11:57] fr0zen commented on #40
@lptn не ўяўляю каштоўнасць гэтай issue, зачыняю

[2019-05-25 11:58] #40 closed

[2019-05-25 12:37] fr0zen commented on #42
На мой погляд гэта оффтоп у кантэксце распрацоўкі модуля, калі паўстане востра, запішам на вікі

[2019-05-25 12:37] #42 closed

[2019-05-25 12:38] #44 closed

[2019-05-25 12:47] fr0zen commented on #68
Зроблена, зачыняю

[2019-05-25 12:47] #68 closed

[2019-05-25 12:51] fr0zen commented on #75
@KahjuksEi @maxmatoha што думаеце наконт гэтай issue? Сутнасць: На старонцы наладкі Паведамленняў разнесці існуючыя палі па трох табах:
1. Наладкі паштовага сэрвера.
2. Паведамленне пры рэкурэнтных плацяжах
3. Паведамленне пры адзіночных плацяжах

[2019-05-25 12:55] fr0zen commented on #103
Зараз верстка павінна адаптоўвацца пад колькасць існуючага тэксту. Думаю размер тэкста трэба пакінуць пад адказнасць карыстальнікаў, таму абмежаванне знята.

[2019-05-25 12:55] #103 closed

[2019-05-25 13:00] fr0zen commented on #110
Не актуальна

[2019-05-25 13:00] #110 closed

[2019-05-25 13:01] #127 closed

[2019-05-25 13:04] #128 closed

[2019-05-25 13:06] fr0zen commented on #136
@fr0zen скрыть чек-бокс

[2019-05-25 13:07] #137 closed

[2019-05-25 13:08] #146 closed

[2019-05-25 13:09] #148 closed

[2019-05-25 13:10] fr0zen commented on #155
@Olya147 можаш глянуць, як  яно зараз?

[2019-05-25 13:19] #223 closed

[2019-05-25 13:21] #225 closed

[2019-05-25 13:23] #231 closed

[2019-05-25 13:24] #254 closed

[2019-05-25 13:25] maxmatoha commented on #75
@frOzen это как я делал bepay artpay?

[2019-05-25 13:25] #302 closed

[2019-05-25 13:26] #303 closed

[2019-05-25 13:28] #305 closed

[2019-05-25 13:30] #344 closed

[2019-05-25 13:35] fr0zen commented on #371
@KahjuksEi возьмешся паправіць?

[2019-05-25 13:37] #376 closed

[2019-05-25 13:38] #388 closed

[2019-05-25 13:41] fr0zen commented on #462
@lptn мелася на ўвазе магчымасць захоўваць інтэрвал данэйту у базе ці ў канфігурацыонным файле і змяняць гэта значэнне праз інтэрфейс на фронце.

[2019-05-25 14:03] ghost opened #483 "Схаваць усе узгадванні рэгістрацыі модуля"
**Шаги для воспроизведения:**
1. Перейти в раздел "Спіс карыстальнікаў";
2. нажать на кнопку "Стварыць новага карыстальніка";
3. в поле "Пароль" внести 12345;
4. в поле "Паўтарыце пароль" внести 11111.

**ФР:** отсутствует сообщение об ошибке.
**ОР:** появляется всплывающая подсказка (напр. "Введённые пароли не совпадают").

**Тестовые условия:**
Версия Doika: 2.0

[2019-05-26 09:24] alies-dev commented on #482
@fr0zen

[code]
buttons, colors, progressBar: гэта ўсе мусіць быць часткаю visual_settings, у тваим прыкладзе невалидный json,  можаш удакладніць што ты чакаеш?

вось як ен мусіць выглядаць на маю думку:
[code]

[2019-05-26 10:58] KahjuksEi commented on #371
@fr0zen ok

[2019-05-26 11:12] alies-dev commented on #30
@fr0zen
так зачыняем!

[2019-05-26 19:45] fr0zen commented on #482
@lptn так, ты ўсе дакладна зразумеў. Зараз праблема ў тым, што сідер залівае у базу строку замест JSON аб'екта. Калі захоўваем праз кантроллер visual_settings - усе добра

[2019-05-27 12:00] rizomaa commented on #26
@fr0zen

удакладні, што не відавочна?

[2019-05-27 12:01] rizomaa commented on #30
@fr0zen @lptn толькі для рэкурэнтных зараз апрацоўвае ці наогул?

[2019-05-27 12:02] rizomaa commented on #10
@Olya147 пагутары з @cema93 магчыма атрымаеш адказы на 70% пытанняў тут

[2019-05-28 20:08] #104 closed

[2019-05-28 20:25] alies-dev commented on #437
@fr0zen

дык табе прынцыпова каб статус быў не GET падаметрам а часткаю base URL?

напрыклад мы рэдзірэкцім з біпэйда адразу на `/campaigns/{campaign}/donation-result/successful`, што мы тут мусім вяртаць: в'юху ці json?

[2019-05-28 20:25] ghost opened #487 "Нельга выдаліць кампанію са спіса"
**Предусловие:** создать кампанию.
**Шаги для воспроизведения:**
1. Открыть раздел "Спіс кампаній";
2. нажать на кнопку "Выдаліць"

**ФР:** кнопка не кликабельна, кампания не удалена.
**ОР:** появляется диалоговое окно с подтверждением удаления.

**Тестовые условия:**
Версия Doika: 2.0
Платформа и версия: Win10
Браузер и версия: Chrome 73.0.3683.103/ Opera 58.0.3135.132/ Firefox 60.6.3esr

[2019-05-28 21:12] ghost opened #488 "Неверно рассчитано количество дней до окончания кампании"
_**Предусловие:** создать кампанию._
**Шаги для воспроизведения:**
1. Открыть раздел "Спіс кампаній";
2. нажать "Рэдагаваць";
3. изменить поля "Дата пачатку" и "Дата заканчэння" на 01.06.19 и 05.06.19 соответственно;
4. нажать "Захаваць".

**ФР:**  из общего числа "дней до окончания" исключается последний день проведения кампании.

![Период](https://user-images.githubusercontent.com/46268205/58512

[2019-05-28 21:45] alies-dev commented on #462
@fr0zen
Прапаную захардкодзіць тыповыя інтэрвалы на франце (пакуль няма дызайну). Магчыма нікому і не будзе патрэбны (апроч тэсцераў) нейкі іншы варыянт чым `1 month`, а мы тут ускладнім усе і наварацім. Зараз backend цалкам гатовы да любых валідных інтэрвалаў (падчынаючы ад кантроллера, далей інтэграцыя з bepaid і далей webhook хэндлер)

Болей за тое, кантроллер на бэкэндзе патрабуе валідны парам

[2019-05-28 21:53] alies-dev commented on #487
@Olya147
а давай мы цяпер з табой пяройдзем на іншы ўзровень і...  будзем прасіць у цябе логі з кансолі браўзера

Кансоль звычайна адчыняецца па F11 ці яшчэ лепей Cmd + Shift + J

Вось тут артукул https://support.airtable.com/hc/en-us/articles/232313848-How-to-open-the-developer-console

Памылкі з кансолі вельмі дапамогуць распрацоўшчыкам і дапамогуць табе быць яшчэ болей крутым тэсціроўшчыкам 🦄

[2019-05-28 22:04] alies-dev commented on #482
@fr0zen
гатова
![image](https://user-images.githubusercontent.com/5278175/58515407-64160200-81ad-11e9-9d69-0520fc71a290.png)

але я ўсе адно не да канца упэўнены ці гэтага ты хацеў)

Калі гэтага -- закрывай issue :)

[2019-05-28 22:06] alies-dev commented on #481
@fr0zen
ты пра якія дадзеныя? Адмінаў? Якой камандай карыстаешся?

[2019-05-29 08:21] ghost commented on #487
@lptn  хорошая идея. я "за")
Файл с логами во вложении.
[doika-1559117390035.log](https://github.com/diglabby/doika/files/3231392/doika-1559117390035.log)

[2019-05-29 10:27] ghost opened #490 "Прыбаць з бачнасці любы функцыянал па стварэнню новых юзэраў (рэгістрацыя. узнаўленне пасвардаў)"
**Шаги для воспроизведения:**
1. перейти в раздел "Спіс карыстальнікаў";
2. нажать "Стварыць новага карыстальніка";
3. заполнить поля;
4. нажать "Стварыць".

**ФР:**  Пользователь не создан. Форма остаётся открытой, кнопка стала некликабельной.
**ОР:** форма закрывается; в системе создан новый пользователь.

**Тестовые условия:**
Версия Doika: 2.0
Платформа и версия: Win10
Браузер и версия: Chrome

[2019-05-29 11:04] ghost opened #491 "Кнопка "Пацвердзіць" активна, даже если пользователь не принимает условия оплаты"
**Шаги для воспроизведения:**
1. открыть страницу http://it3donate-joomla.falanster.by/
2. щёлкнуть дважды по чек-боксу "Я згаджаюся з правіламі";
3. нажать "Пацвердзіць".

**ФР:** кнопка активна при выключенном чек-боксе; пользователь может продолжить процесс оплаты.
**ОР:** кнопка заблокирована.

![Кнопка](https://user-images.githubusercontent.com/46268205/58551988-feac2a80-8219-11e9-992c-2d72d5

[2019-05-29 11:41] ghost opened #492 "Паменшыць кнопкі "Плацёж" і "Падпіска""
**Шаги для воспроизведения:**
1. открыть страницу http://it3donate-joomla.falanster.by/
2. поочерёдно нажимать на кнопки "Плацеж" и "Падпіска".

**ФР:** кнопки наслаиваются друг на друга.

![Кнопки](https://user-images.githubusercontent.com/46268205/58554294-43869000-821f-11e9-9277-296566a3a412.png)

**Тестовые условия:**
Версия Doika: 2.0
Платформа и версия: Win10
Браузер и версия: Chrome 73.0.36

[2019-05-29 13:38] alies-dev commented on #487
@Olya147
Класна!
Тут дарэчы яшчэ адзін бенефіт будзе: калі ў кансолі есьць памылкі -- то гэта як мінімум frontend bug, а значыць мяне можна не асайніць не issue  (і іншых бэкэндзераў)

[2019-06-02 11:29] fr0zen opened #494 "Дадаць спіннэр у табліцы пры загрузке"
Дадаць спіннэр, які паказвае карыстальніку, што у дадзены момант адбываецца запрос к дадзеным.

[2019-06-02 11:40] fr0zen opened #496 "Дадаць пагінацыю к табліцам Кампаній, Транзакцый і Карыстальнікаў"
Зрабіць магчымасць пераключэння паміж старонкамі пры вялікай колькасці кампаній

[2019-06-02 13:21] fr0zen commented on #496
#497

[2019-06-02 13:21] #496 closed, assigned to fr0zen

[2019-06-02 13:21] fr0zen commented on #494
#495

[2019-06-02 13:21] #494 closed, assigned to fr0zen

[2019-06-02 13:42] fr0zen opened #498 "Рэалізаваць функцыянал аднаўлення пароляў адміністратара"
Зрабіць магчымасць аднаўлення адміністратарскіх пароляў праз адмінку, вызначыць, як перадаем і захоўваем паролі ў базу каб было бяспечна.

[2019-06-02 13:43] fr0zen commented on #498
@lptn у нас раней паўставала такое пытанне, давай вырашым як будзем дзейнічаць.
Мне падаецца дастаткова проста хэшануць паролі сродкамі ларавеля і ўсе, твае думкі?

[2019-06-02 15:41] fr0zen commented on #462
@lptn згодны, што асноўныя пакуль трэба захардкодзіць. Падкажы калі ласка, я зараз перадаю інтэрвалы ў фармаце "P1H", але мне кажа, што фармат не валідны, як трэба перадаваць?

[2019-06-02 15:48] fr0zen commented on #448
#498 тут есць пытанне, глянь калі ласка

[2019-06-02 15:50] #140 closed

[2019-06-02 15:59] fr0zen commented on #437
@lptn так, часткай base-url.
Можна проста перакінуць карыстальніка па гэтаму шляху? Роуты widget ssr зробяць сваю справу

[2019-06-02 16:08] fr0zen commented on #481
@lptn раблю пры разгортванні
[code]
крута было б каб адзін з карыстальнікаў быў статычным (аднолькавым пры кожным разгортванні). Так лягчэй будзе працаваць тэсцерам

[2019-06-02 16:17] fr0zen opened #499 "Зрабіць сідер для дадавання тэставых дадзеных аб наладках модуля."
Крута было б зрабіць сідер наладак, які б запаўняў палі idMarket, keyMarket на тэставых даменах. Але паўстае пытанне бяспечнасці такой штукі. @lptn @Tyuba4 вашы думкі?

[2019-06-02 17:15] ghost opened #500 "Добавить в разделе "Знешні выгляд" кнопку для сворачивания цветовой палитры"
**Описание:**
Я как администратор сайта, хочу при выборе оформления макета видеть кнопку для подтверждения выбранного мной цвета (фона, шрифта и т.д.) или иметь возможность скрыть палитру, щёлкнув за её пределы. Так мне было бы удобней.

[2019-06-03 09:38] fr0zen opened #504 "Пафіксіць валідацыю плацежных інтэрвалаў"
@lptn Спрабую перадаваць розныя фарматы кшталту "P1H", "P1M" cюды https://github.com/diglabby/doika/blob/706943ca34ae78a54bea4f8707e3b64d35fecf8e/app/Http/Controllers/Widget/CampaignSubscriptionIntendController.php#L24
але валідацыя не праходзіць.

Вось тут таксама баг з канверсіей
https://github.com/diglabby/doika/blob/706943ca34ae78a54bea4f8707e3b64d35fecf8e/app/Services/PaymentGateways/BePaidPa

[2019-06-03 11:21] alies-dev commented on #504
`P1H ` -- не валідны інпут, трэба `PT1H` (прабач калі я напісаў няправільны прыклад)

З `P1M` мусіць быць усе ок -- я толькі што тэст напісаў

Дзякуй, гэта пафіксіў

[2019-06-03 11:21] #504 closed, assigned to alies-dev

[2019-06-03 11:48] fr0zen commented on #504
👍

[2019-06-03 12:35] fr0zen commented on #482
👍

[2019-06-03 12:35] #482 closed, assigned to alies-dev, fr0zen

[2019-06-03 13:20] alies-dev commented on #498
так, ніякіх праблемаў у лававэля з гэтым няма, усе проста, яго і будзем выкарыстоўваць

[2019-06-03 13:21] alies-dev commented on #448
@fr0zen

адказаў, але думаю тое пытанне не блочыць гэтую issue. "Рэалізаваць функцыянал аднаўлення пароляў адміністратара #498" гэта проста апцыянальны дадатак да бягучай issue

[2019-06-03 13:23] alies-dev commented on #462
@fr0zen
Глядзі тут https://en.wikipedia.org/wiki/ISO_8601#Durations

Для часу (а не дата-часу) трэба яшчэ дадаваць `T` (time): `PT1H`

Больш складаны вападак (які не падтымліваецца bepaid але агульную ідэю ты зразумеееш):
 - `P1YT1H`: 1 год + 1 гадзіна
 - `P1MT1M`: 1 месяц + 1 хвіліна

[2019-06-03 14:01] alies-dev commented on #499
@fr0zen
Якімі дадзенымі будем запаўняць? Есьць нефкія агульнавядомыя тэставыя дадзеныя афіцыйныя ад bepaid ікія мы можам выкарыстоваць? Калі не, то ад Settings можам рабіць фалбэк на config а ад яго фалбэк на env, то бок груба кажучы цягнуць налады з env файла калі іх няма ў Settings/DB

Гэта вырашыць праблему як не шарыць адчувальную іфамармацыю праз git. Для гэтага трэба напісаць сваю рэалізацыю

[2019-06-03 14:02] alies-dev commented on #499
а якая мэта? Каб што?

[2019-06-03 14:05] alies-dev commented on #481
`php artisan db:seed --class=AdminSeeder`  жа стварае `demo@example.com`/`demo` адміна, выкарыстоўвай яго, ці есьць нейкія праблемы з ім?

[code]

PS: Закрывай issue калі праблемаў няма

[2019-06-03 14:08] alies-dev commented on #437
@fr0zen
Амаль усе можна, але ж я хачу зразумець прыроду такіх патрабаванняў)

[2019-06-03 14:09] alies-dev commented on #498
Duplicate of #396

[2019-06-03 14:09] #498 closed, assigned to nobody

[2019-06-03 14:15] #462 closed, assigned to alies-dev

[2019-06-04 17:22] rizomaa opened #508 "Хлопцы, вельмі актуальны рэліз версіі 2.0.0"
Тут мы хочам паставіць на першыя пилотныя сайты рэкурэнтныя плацяжы... ці можаце прадаставіць саммы ранні рэліз? @lptn

[2019-06-04 18:05] rizomaa commented on #490
@lptn гэта задача не гарачая. кали ласка закіньце яе падалей.

[2019-06-04 18:10] rizomaa commented on #448
@lptn @fr0zen калі ласка не парцеся па гэтай ішшус. вельмі чакаем рэліз таго, што зараз ужо працуе.

[2019-06-04 18:11] rizomaa commented on #437
@lptn @fr0zen тут размова пра кліентскуя частку?

[2019-06-04 18:12] rizomaa commented on #499
@fr0zen так, я думаю тут няварта парыцца. проста трэба дадаць у гайд такия звесткі, хай арганізацыі самі вучацца уводзіць дадзеныя, бо пасля шмат блытаніны можа быць

[2019-06-04 21:11] alies-dev commented on #508
@rizomaa
Прабач, я не зразумещ што ад нас падтабуцца: архіў?

[2019-06-05 07:15] fr0zen commented on #499
@lptn @fr0zen мне падаецца так шмат зручней мануальна тэставаць мелкія issue, зараз каб паглядзець напрыклад што там не так з нейкай кнопкай на віджэте, тэсцерам пасля кожнага каміта будзе трэба пераствараць кампаніі і прапісваць дадзенныя. Кожны ж раз робіцца новы білд.

[2019-06-05 07:21] fr0zen commented on #437
@rizomaa так, @lptn менавіта частка url, таму што мне будзе даволі зручна апрацоўваць тады vue-роутэрам.

[2019-06-05 07:25] fr0zen commented on #481
@lptn Так, дзякуй, зачыняю

[2019-06-05 07:25] #481 closed, assigned to alies-dev

[2019-06-05 08:08] rizomaa commented on #437
@fr0zen можна зрабіць каб пры атрыманні выніка вакно браўзера перамяшчалася у тую ж воласць па якару. Ці гэта ў іншую таску лепей закінуць?

[2019-06-05 08:13] rizomaa commented on #508
@lptn патрабуецца мець рэліз з усімі бібліятэкамі, каб можна было ставіць распакаваўшы на віруткальным хостунгу (без кампозараў і іншых пакетных мэнэджэраў)

[2019-06-05 08:49] #453 closed, assigned to alies-dev

[2019-06-05 08:53] fr0zen commented on #437
@rizomaa не, тут трохі іншае зараз, якары ўжо не патрэбны)

[2019-06-05 09:00] rizomaa commented on #437
@fr0zen што іншае, патлумач?

[2019-06-05 09:04] fr0zen commented on #437
@rizomaa у папярэдняй версіі после правядзення данэйта старонка перагружалася, таму трэба было якарыцца, каб перакінуць карыстальніка к секцыі модуля. Зараз ужо такі механізм не патрэбны, бо старонка не перагружаецца.

[2019-06-05 09:07] fr0zen opened #511 "Не магчыма стварыць падпіску"
@lptn сення спрабаваў тэставаць рэкурэнтныя, выкаціла вось такую памылку.
Запыт:
[code]
Адказ:
[code]

[2019-06-05 09:10] rizomaa commented on #437
@fr0zen дзякуй

[2019-06-05 10:21] alies-dev commented on #511
@fr0zen
такое адзін раз здарылася ці рэгулярна здараецца?

[2019-06-05 10:50] alies-dev commented on #511
@fr0zen
Дзякуй, пафіксіў!

[2019-06-05 10:50] #511 closed, assigned to alies-dev

[2019-06-05 11:00] alies-dev commented on #508
@rizomaa
Ну хуткую руку зрабіў стварэнне архіваў пры рэлізах https://github.com/diglabby/doika/releases (але трэба адпаліраваць рашэнне)
![image](https://user-images.githubusercontent.com/5278175/58951689-6aead900-879a-11e9-825a-970c80286e05.png)

Як будзе адпалізавана, закрыю "Аўтаматычна стварэць архіў-істалятар для рэлізаў #160"

[2019-06-05 11:29] alies-dev commented on #499
@fr0zen
Што каркрэтна сідаваць апроч  bepaid?

Можаш сам дадаць, вось прыклад https://github.com/diglabby/doika/commit/ae445020428813b830c11a65736e6f575199b9ce

Закрый калі ласка issue калі гэтага дастаткова

[2019-06-05 16:12] #499 closed, assigned to alies-dev

[2019-06-05 20:57] alies-dev commented on #464
ping @rizomaa
вось у межах гэтай issue трэба скласці тэкст, дапамажы калі ласка скаардынаваць людзей

[2019-06-05 21:20] alies-dev opened #512 "BePiad: Пытаць email для аднаразровых плацяжоў разам з дадзенымі карткі (а не перад карткаю)"
Чаму: каб адпавядаць дызайну

@fr0zen
есьць што дадаць да гэтай задачы?

[2019-06-05 21:28] alies-dev commented on #512
@fr0zen
Я падправіў каб bepaid пытаў на імэйл
![image](https://user-images.githubusercontent.com/5278175/58991794-d2804300-87f1-11e9-9cdd-d125d67a7d84.png)

[2019-06-05 21:52] alies-dev commented on #437
@fr0zen
Гатова

[2019-06-05 21:52] #437 closed, assigned to alies-dev

[2019-06-05 22:20] alies-dev commented on #512
@fr0zen
Гатова!

[2019-06-07 20:00] rizomaa commented on #512
Я не ведаю, адкуль вы узялі гэту задачу у стэк наогул)? @fr0zen @lptn

[2019-06-08 11:59] fr0zen commented on #512
@rizomaa выцекла з абмеркаванняў з @lptn. Зараз логіка руху дадзенных данэйцера даволі кастыльная.

[2019-06-08 12:06] #415 closed, assigned to fr0zen, KahjuksEi, maxmatoha

[2019-06-08 12:21] rizomaa commented on #341
@lptn ці тут яшчэ насамрэч гарачае нешта засталося?

[2019-06-08 12:24] nastyafrosty commented on #335
@fr0zen @lptn @rizomaa ну что,к чему пріходім?)

[2019-06-08 12:25] fr0zen commented on #126
Рэалізавана табліца транзакцый, дадзеныя выводзяцца. Магчымасці выдаліць транзакцыі без выдалення кампаніі няма.

[2019-06-08 12:26] rizomaa commented on #332
важная але не гарачая.

актуальна пасля 3-4 месяцаў абкаткі

[2019-06-08 12:27] fr0zen commented on #125
Фармат карты заменены на фармат, які пастаўляе нам Bepaid. Пераклад зроблены.

[2019-06-08 12:27] #125 closed

[2019-06-08 12:27] rizomaa commented on #333
важная але не гарачая.

актуальна пасля 3-4 месяцаў абкаткі

[2019-06-08 12:30] ghost commented on #346
@fr0zen  Эта задача похожа на [issue 396](https://github.com/diglabby/doika/issues/396)

[2019-06-08 12:30] rizomaa commented on #332
чаму такая ідэя наогул узнікла? магчыма нам гэта фіча у бліжэйшы час непатрэбна @fr0zen

напрыклад,
кали людзі зрабілі кампанію на 3 месяцы и различвали на 100 падпісчыкаў, але падпісалася 50, чаму яны не могуць зрабіць на 6.

Магчыма проста трэба рэалізаваць функцыю папярэджэнная падпісчыкаў, калі змяняецца перыяд кампаніі. @fr0zen

[2019-06-08 12:31] rizomaa commented on #319
@lptn @fr0zen гэта фіча важная трэба яе зрабіць як мага хутчэй. стаўлю у гарачыя.

[2019-06-08 12:32] #420 closed, assigned to fr0zen

[2019-06-08 12:33] nastyafrosty commented on #261
@Olya147 как тут дела? можно закрыть карточку?

[2019-06-08 12:34] fr0zen commented on #120
@fr0zen @lptn вырашыць, якія палі пакідаем абавязковымі, а якія не. Зараз палі апцыянальныя.

[2019-06-08 12:34] nastyafrosty commented on #253
@Olya147 есть лі эті данные в докуентаціі?

[2019-06-08 12:36] fr0zen commented on #116
Не актуальна, механізм загрузкі змяняўся.

[2019-06-08 12:36] #116 closed

[2019-06-08 12:39] rizomaa commented on #508
дзякуй @lptn

[2019-06-08 12:39] #508 closed, assigned to nobody

[2019-06-08 12:39] #427 closed, assigned to nobody

[2019-06-08 12:40] nastyafrosty commented on #222
с этой задачей дубліруется что-то? @lptn

[2019-06-08 12:42] rizomaa commented on #217
@lptn ци у нас ёсць бэк энд гэтай фічы?

[2019-06-08 12:43] fr0zen commented on #85
Макет зроблены, зачыняю

[2019-06-08 12:43] #85 closed

[2019-06-08 12:43] rizomaa commented on #196
@lptn як глядзіш на візуалізацыю версіі у адмінцы модуля?

[2019-06-08 12:45] nastyafrosty commented on #193
@Olya147 сейчас есть ошибки в словах?

[2019-06-08 12:46] rizomaa commented on #182
абсулютна не гарачая

[2019-06-08 12:47] nastyafrosty commented on #160
@lptn по какому прінціпу сейчас создается архів реліза? опіші его,пожалуйста. раотаешь над автоматізаціей?

[2019-06-08 12:48] fr0zen commented on #75
@fr0zen зроблена, патэсціць

[2019-06-08 12:48] rizomaa commented on #155
@Olya147 пінгпінг.... я пакуль зачыняю картку. калі выпаузе пераадчыні

[2019-06-08 12:48] #155 closed

[2019-06-08 12:50] nastyafrosty commented on #149
@lptn @fr0zen ребят,а что это за странічка User credentials page?

[2019-06-08 12:50] rizomaa commented on #145
@lptn @fr0zen пазначце калі ласка дзе абываецца валідацыю на бэке або на фрнаце?

[2019-06-08 12:51] nastyafrosty commented on #136
@Olya147 @fr0zen ребят, а что тут?) і откуд этот чекбокс

[2019-06-08 12:52] rizomaa commented on #135
@Olya147 маеш на увазе не падсвечана?

[2019-06-08 12:53] rizomaa commented on #129
не важная штука зачыняю... пасля кали небудзь зробім @fr0zen @Olya147

[2019-06-08 12:53] #129 closed

[2019-06-08 12:58] rizomaa commented on #26
@Olya147 як у нас апрацощваюцца гэтыя памылкі?

@lptn @fr0zen

[2019-06-08 13:00] fr0zen commented on #35
Дадзеныя збіраюцца. зачыняю.

[2019-06-08 13:00] #35 closed

[2019-06-08 13:29] rizomaa opened #522 "Вырашыць багі перанакіравання пры аплаце на розных CMS"
@fr0zen @lptn

1. Які ён?
2. Ці працуе ён па апошняму камміту з develop?

[2019-06-08 13:30] #356 closed

[2019-06-08 13:31] rizomaa commented on #319
#522

[2019-06-08 13:42] rizomaa commented on #333
@lptn @Tyuba4  як зараз працуе алгарытм падпіскі асабліва па часцы фінальнай даты падпіскі?

[2019-06-08 13:54] #371 closed

[2019-06-08 13:56] #425 closed, assigned to fr0zen

[2019-06-08 13:57] rizomaa commented on #448
арганізацыям на сёння не патрэбны асобныя адміны,
калі ласка абмяжуйцеся простай старонкай уводу новага пароля для аднаго карыстальніка.
@lptn @fr0zen

магчыма вернемся да суммы адмінаў зімой 2020

[2019-06-09 06:02] rizomaa commented on #512
ага, дзякуй

[2019-06-09 06:36] rizomaa commented on #126
@fr0zen як твой каментар суадносіцца з назвай дадачы?

[2019-06-09 06:38] rizomaa commented on #346
@lptn так згодзен з @Olya147

cit!
@fr0zen @lptn на гэтым усе штукі з адмінамі сканчваюцца. больш не пішыце ніякіх складаных фіч.

калі хочацца пакодзіць нешта актуальна
1. Інсталятар.
2. Пераклады

[2019-06-09 06:40] rizomaa commented on #120
@fr0zen я не зусім разумею, чаму зачыніў задачу.
Яна актуальная.

[2019-06-09 11:18] Tyuba4 commented on #333
@rizomaa Тут да Алеся пытанне, ён больш знае апошнюю версію Дойкi

[2019-06-09 16:49] alies-dev commented on #333
@rizomaa

Для bepiad мы ствараем падпіску на  x транзакцый якія мы разлічваем маючы дату заканчэння кампаніі,  інтэрвал і бягучы час, вось код
https://github.com/diglabby/doika/blob/e903d326583948942e0a0b4210ca7dbe996daa38/app/Models/SubscriptionIntend.php#L62-L71

Гэта нам дапаможа пазбавіцца ад праблемаў калі хтосці захоча працягнуць кампанію на 2 гады а людзі падпісаліся толькі на 1 год, падпіс

[2019-06-09 23:00] alies-dev commented on #346
"Забыліся пароль" і абнавіць пароль - розныя штукі (я перейменаваў гётую issue каб не блытацца)

[2019-06-09 23:04] alies-dev commented on #512
@rizomaa
@fr0zen

Выцекла з дызайна наколькі я разумею, вось https://miro.com/app/board/o9J_k0X88dM=/?moveToWidget=3074457346272483621
![image](https://user-images.githubusercontent.com/5278175/59165424-0f1aaa00-8b24-11e9-95e6-6a2e7722f70e.png)

[2019-06-09 23:10] alies-dev commented on #145
@rizomaa
На бэке валідацыя рэалізавана, адпісваюся

[2019-06-09 23:14] alies-dev commented on #117
Я думаю гэта не актульана, прынамкі валідацыя на бэке есць

[2019-06-09 23:15] #512 closed, assigned to alies-dev

[2019-06-09 23:21] alies-dev commented on #160
@nastyafrosty
Пры стварэнні новага рэліза на GitHub

1. дадаецца задача ў чаргу задач на Travis CI
2. калі чарга падыходзіць, ствараецца арзіў ([код для стварэння)](https://github.com/diglabby/doika/blob/7c2df71f78e0a09a072fb8a357b7f366c4eecd51/.travis.yml#L44-L65)
3. калі архіў створаны, ен аўтаматычна заліваецца як Asset для рэліза, паглядзець можна [тут](https://github.com/diglabby/doika/releas

[2019-06-09 23:32] alies-dev commented on #341
@rizomaa
так, праблема засталася не вырашана

[2019-06-09 23:35] alies-dev commented on #222
@nastyafrosty
магчыма вось гэта толькі Напісаць тэкст імэйлаў па рэкурэнтным плацяжам #464 (але не дублюецца)

Прапаную проста сесці і падумаць якія імэйлы мы плануем дасылаць і напісаць да іх тэксты (да УСІХ), ну а мы рэалізуем

[2019-06-09 23:39] alies-dev commented on #217
@rizomaa
ну глядзі, вось якія імэйлы рэалізаваны пакуль што: https://github.com/diglabby/doika/tree/develop/app/Mail

гэта усе што есьць

[2019-06-09 23:48] alies-dev commented on #196
@rizomaa
Станоўча :)
Я дадаў мінммальны код, цяпер версія дойкі даступна праз `window.appVersion` на франце, а каб  зняніць яе трэба змяніць значэнне `APP_VERSION` у `.env` (і `.env.example` ПЕРАД кожным рэлізам).

@fr0zen
Леха, твой ход!

[2019-06-10 00:01] alies-dev commented on #149
@nastyafrosty
@romanromanenko
А які патэрн ці правілы валідацыі мусяць быць для тэлефона? (зараз на бэкэндзе можна макс 20 сымбалаў)

то бок прабелы мы не дазваляем выкарыстоўваць? Ці падтрымліваем толькі беларускія нумары без коду краіны? Адкуль гэтыя 12 узяліся?
![image](https://user-images.githubusercontent.com/5278175/59165981-4bea9f00-8b2c-11e9-9c8f-ceced9a05478.png)

[2019-06-10 12:17] rizomaa commented on #333
@lptn ведаеш гэта фича не адназначная вось каб так проста выдаляць.

1. Напрыклад, арганізацыя вырашае працягнуць кампанію (калі яшчэ сама кампанія не скончылася). Гэта практыка вельмі характэрна. Арганізацыі, напрыклад, могуць ствараць кампаніі для збора членскіх унёскаў. І гэта рэальная патрэбна, якую яны апісваюць пры размовах.

2. Па другое, у скрайнім выпадку адпісацца магчыма праз свой анлай

[2019-06-10 16:15] alies-dev commented on #333
@rizomaa
Пра сяброўскія ўнескі: можна ж ствараць каманію на колькі заўгодна гадоў, так?

Дадаткова памятай што карткі маюць свой тэрмін прыданасці (калі 4 гадоў), так што перападпісвацца ўсе адно давядзецца сябрам НДА

Магчыма вырашыць праблему проста не пазначая дату фініша кампаніі, у такім выпадку мы не будзем абмяжоўваць колькасць данэйтаў на падпіску

[2019-06-13 08:13] rizomaa commented on #333
@lptn так апошні варыянт мне падабаецца. можна зрабіць такую і адпаведна улучыць гэты кейс у рыбу мэйла @Olya147

[2019-06-13 08:18] rizomaa commented on #341
@lptn у чым яе складанасць на твой погляд. бо разумею гэта игуа цягнецца з минулай версіі

[2019-06-13 08:20] rizomaa commented on #145
@fr0zen ці патрэбна на франце яе рабіць?

[2019-06-13 10:28] alies-dev commented on #341
@rizomaa
мы можам з гэтым жыць я думаю, яно здаецца дыскамфорт дадае толькі для распрацоўшчыкаў, вырашым у далейшым, не думаю што гэта блочыць рэліз 2.0

Першая /doika дадаецца ад таго што мы заліваем дойку ў тэчку з такім імем, другая doika дадаецца на ўрозне Laravel для таго каб роўты спасылкі маглі генерыцца правільныя і унікальныя

[2019-06-13 10:33] alies-dev commented on #333
@rizomaa
Згода! Але думаю гэта траба знабіць яўнымна ўроўне UX/UI (хаця б дапамагашку дадаць)

[2019-06-14 04:40] rizomaa commented on #333
@nastyafrosty цікавы твае думкі тут...

[2019-06-14 04:46] rizomaa commented on #346
так, розніцу адчуў.

і першы і другі варыянт не такія гарачыя.

[2019-06-15 05:14] ghost commented on #464
Примеры писем можно найти по ссылке ниже. Пожалуйста, изучите их и (при необходимости) оставьте комментарии.
https://docs.google.com/document/d/1CP19vpVUDnBsbQlVzZ0uP7CrpLjfZrCKk8Kw-6oKsY4/edit

[2019-06-15 13:53] alies-dev commented on #464
@Olya147
Дзякуй за добрую працу, я пакінуў нескалькі сваіх камэнтроў, галоўны з якіх самы верхні -- пра тэмы лістоў

[2019-06-15 15:05] svetit commented on #464
Таксама пакінула некалькі каментароў, @Olya147

[2019-06-16 08:39] ghost commented on #464
@lptn @svetit @fr0zen @rizomaa @alexap13 @nastyafrosty @KsenjaV Спасибо, я прочитала все замечания. Но нужно прояснить несколько моментов:
1) сообщения «Паспяховы платёж», «Падзяка за выраблены плацёж», «Аплата не прайшла»  - это, скорее, не письмо на электронную почту, а текст для модального окна при разовой оплате.
Письмо с благодарностью обязательно  отправлять на эл. почту при каждом платеже?

[2019-06-16 17:37] svetit commented on #464
@Olya147
1. Тады лепш асобную табличку зраби для надписаў для вакна пры разавых плацяжах. (У тым жа доку)
І яшчэ раз гляну там.

[2019-06-16 17:41] svetit opened #533 "Памылкі пры спробе усталяваць Doika"
Я спрабую паставиць дойку.
Пакуль я валюсь на п. 10. (для Лінукса)
"Разгортваем базу дадзеных камандай php artisan migrate."

1. Скажыце, інфа ўсюды актуальная тут
https://github.com/diglabby/doika/wiki/Устаноўка-для-Распрацоўшчыкаў ?

2. Я не ведаю як усталяваць ext-pdo, ext-curl, ext-json, ext-mbstring для пхп.
Падкажыце, калі ласка. Ці могуць быць праблемы з-за гэтага?

3. І версія нпм у мяне:

[2019-06-17 08:21] alies-dev commented on #533
@svetit
не прайшла папярэдняя каманда:  `composer install` (ці не была запушчана ці завяршылася з памылкай), запусці яшчэ раз калі ласка з тэчкі дойкі і пакажы вывад яе

[2019-06-17 10:47] ghost commented on #261
@KahjuksEi @maxmatoha @fr0zen Нужно исправить названия вкладок:
![1](https://user-images.githubusercontent.com/46268205/59598782-ac1daa00-9105-11e9-895b-40fea53650fa.png)
![2](https://user-images.githubusercontent.com/46268205/59598787-b049c780-9105-11e9-9a31-6ba8e15bf142.png)

Исправить опечатки:
![FAQ (опечатка)](https://user-images.githubusercontent.com/46268205/59598986-20584d80-9106-11e9-922d

[2019-06-17 10:53] ghost commented on #193
Сейчас модуль поддерживает только белорусскую версию. Карточка не актуальна.
Закрываю.

[2019-06-17 10:53] #193 closed

[2019-06-17 10:57] ghost commented on #136
Исправлено.

[2019-06-17 11:13] ghost commented on #135
@rizomaa Не понятно, что он означает: действующая кампания или что-то ещё.
Кроме того, его можно переключать прямо в общем списке кампаний (не заходя внутрь для редактирования).
На макете вместо тумблера статус прописан словами https://miro.com/app/board/o9J_k0X88dM=/?moveToWidget=3074457346284206864

[2019-06-17 11:34] KahjuksEi commented on #261
ок, сделаем

[2019-06-17 13:23] KahjuksEi commented on #261
готово, через какое то время появится ПР

[2019-06-17 20:30] cema93 commented on #136
@Olya147 просьба уточнить, каким образом это исправлено?
только что установил doika, ситуация описанная в данной issue сохраняется

[2019-06-18 13:00] ghost commented on #136
@cema93  чек-бокс скрыт.
![123](https://user-images.githubusercontent.com/46268205/59683988-cc229b80-91e1-11e9-8986-5cc52a52dbb6.png)

[2019-06-18 14:43] ghost opened #536 "Указать пропорции загружаемого рисунка в поле "Выява кампаніі""
**Предусловие:** открыть модуль (админ), создать кампанию.
**Шаги воспроизведения:**
1.  нажать на "Рэдагаваць";
2. загрузить в поле "Выява кампаніі" изображение (!портретная ориентация);
3. нажать "Захаваць";
4. открыть страницу кампании на сайте
**Фактический результат:** рисунок обрезан по вертикали.

![1](https://user-images.githubusercontent.com/46268205/59693363-7228d280-91ef-11e9-8cf2-1e655

[2019-06-18 15:03] ghost commented on #460
[doika-1560870138272.log](https://github.com/diglabby/doika/files/3302137/doika-1560870138272.log)

[2019-06-18 20:43] #136 closed

[2019-06-18 21:51] ghost commented on #464
@lptn @svetit @fr0zen @rizomaa @alexap13 @nastyafrosty @KsenjaV  Попытка № 2. Сбрасываю ссылку на новый документ с текстами сообщений. Пожалуйста, прочтите его и оставьте замечания. https://docs.google.com/spreadsheets/d/1rOQv1g7skB_77JRRn6BSyyFLo5V9I5RfpCAQG0sIpr4/edit?usp=sharing

[2019-06-19 05:51] rizomaa commented on #217
Дзякуй
У нас ёсць нейкі прыклад як генеруецца спасылка для адпіскі? @lptn

[2019-06-19 06:23] rizomaa commented on #135
@Olya147 маеш на ўвазе слупок падпіску з макета?

[2019-06-19 06:26] rizomaa commented on #222
@lptn спіс лістоў апісаны тут у задачы. ці ёсць нейкія яшчэ думкі на гэты конт?

[2019-06-19 06:28] rizomaa commented on #464
@Olya147

па першаму лісту
з большага даволі афіцыйна (можа так  і трэба для шаблона).
трэба дадаць
1. ці гэта разовы ці гэта рэгулярны плацёж
2. і дадаць дзе чалавек зможа адпісацца.

[2019-06-19 20:08] cema93 commented on #106
Логика:
Действия при изменении поля start_time:
1. Установить текущее значение поля start_time как минимальное для поля finistAt
2. Проверить,  не является ли текущее значение поля finistAt меньшим, чем значение поля  start_time. Если finistAt <= start_time  удалить значение finistAt

Действия при изменении поля finistAt:
1. Установить текущее значение поля finistAt как максимальное для поля start

[2019-06-19 20:10] cema93 commented on #106
Реализация на jquery:
$("#start_at").set("onChange", function(d){ $("#finistAt").set( "minDate" , d ); });
$("#finistAt").set("onChange", function(d){ $("#start_at").set( "maxDate" , d ); });

Пишу, чтобы не забыть, позже перепишу на vue

Материалы по теме
[https://vuejs.org/v2/guide/events.html#ad](https://vuejs.org/v2/guide/events.html)

[2019-06-19 20:11] cema93 commented on #106
@diglabby/frontend  Что-то я не очень понимаю, куда лучше всего писать функции для фронта. В какой файл?

[2019-06-21 09:52] alies-dev commented on #222
@rizomaa

Дадаў "(ПАСЛЯ ПЕРШАЙ АПЛАТЫ)", бо падпіска ствараецца пасля першага паспаховага плацяжа

Не зразумеў(

пакуль рэализаваць не можам

👍

👍 (але и иншыя прычыны могуць быць адхілення транзакціі (скрадзена ці згублена картка), шлюзы дасылаюць тэкст памылкі, прапаную яго перасылаць бяз зменаў, як есьць)

Хутчэй за ўсе тое ж самае як і пункт вышэй

[2019-06-21 09:53] alies-dev commented on #217
@rizomaa
так, вось https://github.com/diglabby/doika/blob/865db113041fff4623de0418323a46db9db45a59/resources/views/emails/subscriptions/charge--failed.blade.php#L21

[code]

[2019-06-21 13:40] nastyafrosty commented on #120
@lptn @rizomaa @fr0zen может имейл будет обязательным? во всяком случае при рекурентном он бы нужен был, чтобы приходило уведомление об оплате и можно было отписаться

[2019-06-21 13:41] nastyafrosty commented on #26
@Olya147
@lptn @fr0zen  это блокирующая задача? или уже решено что-то?

[2019-06-21 13:45] nastyafrosty commented on #149
@lptn скорее тут вопрос сам, что готовы реализовать. можно сделать и через +3.... и без плюса, и через 8.. (может так еще кто-то пишет). можно чтобы одним скопом писалось, и через проблемы или / ...   если будет шаблон, то его нужно показать в инпуте

[2019-06-21 14:09] nastyafrosty commented on #464
@rizomaa @lptn @fr0zen
1)если у человека оформлена подписка и в день снятия средств у него их недостаточно, будет ли списана эта сумма позже, когда деньги на карте появятся?
2) "карта заблакаваная або скончыўся тэрмін яе дзеяння." если срок действия карты закончен,то человеку нужно заново подписаться? он же не может как-то поменять карту? (нет интерфейса донейтера)

[2019-06-21 14:14] nastyafrosty commented on #464
@Olya147  док откоментила

[2019-06-21 14:17] nastyafrosty commented on #222
@lptn @rizomaa "1.2. Калі карыстальнік проста набраў свой мэйл у разавым плацяжы

Не зразумеў(" тут наверное о том, что человека просто поблагодарить за едино разовое пожертвование

[2019-06-21 15:22] alies-dev commented on #26
@nastyafrosty
@rizomaa

Я да сяго часу не разумею які з межах гэтай задачы рабіць

Інфармацыю пра няўдалыя транзакцыі мы запісваем у БД, дасылаем імэйлы пра няўдалыя рэкурэтныя плацяжы (ініцыяваныя шлюзам), а @fr0zen  рэалізваў старонку дзе паказвае памылку калі транзакцыя ініцыявана карыстальнікам. Не думаю што штосці яшчэ варта рабіць тут

То бок мне здаецца што усе зроблена і задачу зачыняем

[2019-06-21 15:28] alies-dev commented on #464
@nastyafrosty

Так, 5 будзе зроблена 5 спробаў. З якой часціней -- дакументацыя bePaid [маўчыць](https://docs.bepaid.by/ru/subscriptions/plans) ("Количество неудачных попыток оплаты прежде чем отменить подписку. По умолчанию 3")

Так, вядома няма, трэба па-новай будзе падпісвацца

[2019-06-21 18:31] cema93 commented on #221
@Olya147 Просьба проверить

[2019-06-21 19:31] ghost commented on #221
Да, появился.

![1](https://user-images.githubusercontent.com/46268205/59946646-d2c84180-9473-11e9-8505-fe98ff6ea8ac.png)

[2019-06-21 19:31] #221 closed

[2019-06-22 10:55] fr0zen opened #541 "Зрабіць сбор дадзеных аб тым, чаму чалавек адпісваецца."
Зрабіць сбор дадзеных аб тым, чаму чалавек адпісваецца.
Рэалізаваць наступны алгарытм. Націсківаем лінк - з'яўляецца апроснік аб тым, чаму адпісваемся - па выніках з'яўляецца лінк на адпіску.
Прамыя спасылкі на адпіску забаронены.

[2019-06-22 11:01] cema93 opened #542 "Калі не прайшла плата, карыстальнік атрымлівае паведамленне на пошту"
## Апісанне
Я хочу, чтобы пользователь, чей платеж не прошел получал письмо с просьбой попробовать оплатить ещё раз
Пример:
я попробовал оплатить, оплата не прошла. Я обиделся и ушел.
Через час система проверяет, был ли удачный платеж. Если нет то высылать письмо с информацией о не прошедшем платеже и предлагать оплатить ещё раз

[2019-06-22 11:52] nastyafrosty opened #543 "Фикс названия поля суммы"
Сейчас название поля ввода суммы, которая нужна для сбора, обозначена как "колькасць", это не очень понятно. предагаю "патрэбная сума"

[2019-06-22 11:59] cema93 opened #544 "В базе нет стандартных цветов"
В виджете появляется ошибка TypeError: Cannot read property 'colors' of null

[2019-06-22 12:03] cema93 opened #545 "В виджете оплаты кнопка подтвердить смещается вниз при вставке текста"
В виджете оплаты кнопка подтвердить смещается вниз при вставке текста.

Если текста очень много, кнопка кажется отдельно от всей формы.

Кнопка "подтвердить" должна быть сразу за выбором разово\подписка

[2019-06-22 12:08] fr0zen opened #546 "Зняць выдзяленне з кнопкі сумы, калі ў поле сумы дадаюцца дадзеныя."
Калі ўводзім дадзеныя ў поле, выдзяленне з кнопак суммы не здымаецца.

[2019-06-22 12:09] cema93 opened #547 "В виджете оплаты не проставлена ссылка на doika"
В виджете оплаты, внизу есть надпись "powered by Doika". В этой надписи проставлена ссылка на "#", а не на doika.falanster.by

[2019-06-22 12:10] nastyafrosty opened #548 "Поле ўводу "іншая сума" зрабіць пастаяннай да моманту пакуль туды не пачалі ўводзіць суму"
В виджете в поле. где донэйтер может ввести свою сумму вместо 0  лучше написать "іншая сума" і не менять фразу на выбранную сумму із предоставленных, пусть пользователь всегда відіт,что он может впісать свою

[2019-06-22 12:13] cema93 opened #549 "Прыбраць функцыянал тэставыя плацяжы."
На странице " Плацежныя сістэмы" отображается надпись "Адключыць тэставыя плацяжы". С первого взгляда не понятно, что будет происходить при включении\отключении этой функции.

Предлагаю переименовать этот пункт на "Тэставыя плацяжы". При включении этого пункта включаются тестовые платежи. при отключении - отключаются.

И сделать этот пункт по дефолту включенным.

[2019-06-22 12:16] cema93 opened #550 "Не захоўваюцца наладкі плацёжнай сістэмы"
При заполнении всех полей на странице настройки платежной системы не сохраняются данные.
В консоли;
exception: "Symfony\Component\Debug\Exception\FatalThrowableError"
file: "C:\xampp\htdocs\doika\app\Http\Controllers\Dashboard\SettingsController.php"
line: 34
message: "Argument 1 passed to Diglabby\Doika\Http\Controllers\Dashboard\SettingsController::Diglabby\Doika\Http\Controllers\Dashboard\{clos

[2019-06-22 12:52] nastyafrosty opened #551 "Частота рекурентності платежа в адмінке: пакінуць толькі 1месяц"
убрать в частоте рекурентності 1 час, возможно 1 день
і вообще оставляем ли этот функционал, в начале у нас было ежемесячно

[2019-06-22 12:54] nastyafrosty opened #552 "Кнопка рекурентности в виджете"
Если у нас есть разные виды рукурентности (месяц, неделя, день), то пользователю неоходимо видеть, на что же он подписывается. есть предложение в кнопке рекурентности писать не "подписка", а "ежемесячно", "еженедельно"

[2019-06-22 12:56] cema93 commented on #333
Чтобы решить вопрос с приостановкой\возобновлением компании предлагаю следующее:
1) убрать возможность приостановить\возобновить компанию компанию
2) добавить возможность отключить компанию (без возможности повторного запуска).

[2019-06-22 13:22] cema93 opened #553 "Подготовка релиза к публикации"
Удаляются ли перед публикацией релиза кнопки и поля, которые не работают?

[2019-06-23 18:43] cema93 commented on #553
Мы предоставляем пользователям продукт, который работает с деньгами. Всё, что работает с деньгами должно быть качественным и безопасным.

Если есть не рабочие кнопки это показывает, что продукт не качественный.

Если в админке есть кнопки, которые не работают, то думаю, что их стоит из релиза убирать, чтобы не объяснять, что кнопка есть, но пользоваться ей пока что нельзя.

[2019-06-23 18:44] cema93 commented on #553
@diglabby/core поделитесь своим мнением

[2019-06-23 18:57] cema93 commented on #549
@diglabby/core прошу вас высказать свое мнение

[2019-06-23 19:07] cema93 opened #554 "warning в консоли"
при работе с админкой и виджетом в консоли разработчика появляется масса warning-ов
![image](https://user-images.githubusercontent.com/1865012/59980769-071e3800-9603-11e9-8253-8896d36d6db9.png)
Я понимаю, что это не ошибки, но, если они есть, значит мы что-то делаем не правильно

Их надо либо исправить, либо скрыть. @diglabby/core что думаете на этот счет?

[2019-06-23 19:08] cema93 commented on #234
@Olya147 @rizomaa  просьба проверить. Если всё хорошо - issue закрываем

[2019-06-23 19:39] alies-dev commented on #553
Згодны, функцыянал які плануецца ажывіць мусіць быць выдалены ці схаваны

[2019-06-23 20:42] cema93 opened #555 "сломана логика работы с компонентом"
В камите #537 по не знанию архитектуры сломал логику работы компонента и применения канфигов

[2019-06-24 18:13] ghost commented on #234
@cema93 Исправлено. Закрываю.
![234](https://user-images.githubusercontent.com/46268205/60041789-e1f1fe00-96c4-11e9-9105-fad56348dc59.png)

[2019-06-24 18:13] #234 closed

[2019-06-25 14:55] rizomaa commented on #333
@lptn вітаю,

1. Усе кампаніі на баку біпэйда безтэрміновыя (!!!)
2. У модулі можна задаваць канцоўку кампаніі.
3. Калі наступае каноцўка кампаніі што напісана у модлулі. модуль усіх падпісчыкаў адпісвае праз запыт да біпэйда.

па твайму пытанню накот картак і сяброўскіх унёскаў.
1. пакуль не думаем пра ануляваныя карткі. можна стварыць асобную ішшу і гэта прадумаць.
2. так, магчыма ствараць тэрмі

[2019-06-26 15:29] ghost commented on #261
@KahjuksEi  нужно поправить перевод.
![11](https://user-images.githubusercontent.com/46268205/60193320-1dfd9e00-9840-11e9-8b93-513cdd18c822.png)

[2019-06-27 16:18] alies-dev commented on #333
@rizomaa

Што ты меў на ўвазе тут -- падпіскі? Бо ў біпэйда няма кампаній.

Па-добраму для гэтага тксама патрэбны крон ці чэргі, што будзе не толькі ў наступнай версіі.

[2019-06-29 07:46] alies-dev commented on #547
done

[2019-06-29 07:46] #547 closed, assigned to alies-dev, fr0zen

[2019-06-29 07:51] alies-dev commented on #536
@fr0zen @nastyafrosty
Якія патрабаванні да выявы? Магу дадаць валідацыю на бэкэндзе, але трэба ведаць абмежаванні

[2019-06-29 07:52] alies-dev commented on #533
@svetit

Як справы ў цябе з усталеўкаю? Прайшла далей?

[2019-06-29 08:36] alies-dev opened #562 "Дадаць laravel-ide-helper для аўта-кампліта"
https://github.com/barryvdh/laravel-ide-helper

[2019-06-29 08:38] alies-dev commented on #562
done

[2019-06-29 08:38] #562 closed, assigned to alies-dev

[2019-06-29 08:41] rizomaa commented on #222
https://github.com/diglabby/doika/issues/217#issue-408712732
@lptn

[2019-06-29 08:41] rizomaa commented on #120
@nastyafrosty https://github.com/diglabby/doika/issues/217#issue-408712732

[2019-06-29 08:42] rizomaa commented on #222
@lptn https://github.com/diglabby/doika/issues/26#issuecomment-504430036

[2019-06-29 08:46] rizomaa commented on #26
@lptn  што наконт:
Клиентска частка
1.уведзена сума больш/менш, чым дазволена ў канфігу.
2. уведзене не сума
3. валідацыя мэйла
4. валідацыя тэлефона

https://github.com/diglabby/doika/issues/120

[2019-06-29 08:47] rizomaa commented on #149
гэта задача, але не гарачая

[2019-06-29 08:49] rizomaa opened #564 "Фронтэнд. Рэалізаваць вывад памылак пры захаванні кампаніі. Адмінка"
Адмінка

- [x] 1. пустая назва кампаніі.
- [x] 2. не пазначана дата пачатку і сканчэння
- [x] 3. няма апісання
- [x] 4. Непазначана сума кампаніі
- [x] 5. Выява - не абавязкова

[2019-06-29 08:50] rizomaa commented on #541
не гарачая. @fr0zen

[2019-06-29 08:53] rizomaa commented on #542
@cema93 глядзі тут тэксты ўсіх мэйлаў збіраем, якія могуць дачылацца данэйцеру:

https://github.com/diglabby/doika/issues/464#issuecomment-504439832

[2019-06-29 08:54] rizomaa commented on #544
@cema93 ты маеш на ўвазе наогул колераў?

напішы дэтальней багу

[2019-06-29 08:55] rizomaa commented on #546
акей. але не гарачая. мржна камусці перадаць на рабленне пакуль

[2019-06-29 08:58] rizomaa commented on #549
@cema93 так, можна па дэфолку уключаным.
ёсць яшчэ думака

каб у кліенскай частцы было паведамленне побач з аплатай, на першым вакне віджэта.
гэта дасць магчымасць і карыстальнікам і адміну модуля своечасова перключыцца у рэальны рэжым.

[2019-06-29 08:59] rizomaa commented on #551
@fr0zen @lptn так, у нас зараз толькІ штомесяцовая рэкурнтнасць. @nastyafrosty

[2019-06-29 09:00] rizomaa commented on #552
@nastyafrosty пакуль толькІ штомесяцовая падпіска, усё астатнія варта прыбраць (схаваць). будзем думаць над імі пасля.

[2019-06-29 09:01] rizomaa commented on #333
@lptn

1. Меў на увазе планы, па якім адбваюцца рэкурэнтныя плацяжы.
2. Так, гэта будзе пасля. Таму мы на гэтай версіі не парымся і робім безтэрміновыя падпіскі, бо важна запусціць іх наогул

[2019-06-29 09:03] rizomaa commented on #553
@cema93 @lptn @fr0zen
так калі ласка не мудрыце тое, чаго няма на макетах і колькасць рухаз зменшым і не будзе дохлых прыціскаў

[2019-06-29 11:42] svetit commented on #533
@lptn  Вітаю. Дзякуй вялікі за адказ!
Я з тых часоў не спрабавала працягнуць. Але буду. І скіну што там далей.

[2019-06-29 11:45] svetit commented on #533
`Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested PHP extension ext-curl * is missing from your system. Install or enable PHP's curl extension.
  Problem 2
    - The requested PHP extension ext-mbstring * is missing from yo

[2019-06-29 12:20] ghost opened #565 "Фіча. Наладзіць паведамленні, калі не адбылася аплата: няма сродкаў, скончыўся тэрмін карты."
Нужно обсудить, как поведёт себя система (в т.ч. механизм списания средств и аннулирования подписки) в следующих случаях:

- [ ] няма сродкаў
- [ ] скончыўся тэрмін карткі

[2019-06-29 12:50] rizomaa commented on #565
@Olya147 дзякуй што дадала тэму.

Пакуль я думаю, што
1. Напрацягу тыдня адбываецца 3 спробы праз 2 дні.
2. Калі не атрымліваецца робіцца спроба праз месяц (згодна падпісцы).

@diglabby/core @lptn @fr0zen @cema93 вашы думкі?

[2019-06-29 12:54] alies-dev commented on #533
@svetit

так, у цябе ў сістэме не хапае PHP экстэншынаў (яны ж і модулямі завуцца):
 - ext-curl
 - ext-mbstring
 - ext-dom

 Для ubuntu паспрабуй
[code]

[2019-06-29 13:12] alies-dev commented on #26
@rizomaa
Зразумеў. Проста лэйбл задачы стаіць "бэкэнд/backend" а па факту задача для франта толькі, адпісваюся

[2019-06-29 13:17] alies-dev commented on #565
робіцца 5 спробаў, але інтэрвал паміж імі мне не вядомы (@rizomaa відаць ведае болей, сапраўды [3 спробы па дэфолту, але мы праставілі 5](https://github.com/diglabby/doika/blob/9aedabb2d50067314ea296c46f3d6a58b9359644/app/Services/PaymentGateways/BePaidPaymentGateway.php#L131) [вярнуць 3?])

Выдаленне модуля нічога не мяняе. Трэба выдаляць кампаніі перад выдаленнем модуля

[2019-06-29 13:22] alies-dev commented on #333
@rizomaa

Насамрэч я запарыўся некалькі месяцаў таму і дадаў вось гэта: https://github.com/diglabby/doika/blob/9aedabb2d50067314ea296c46f3d6a58b9359644/app/Services/PaymentGateways/BePaidPaymentGateway.php#L117

Тут падлічваецца колькі разоў падпіска можа быць выкарыстана да канца кампаніі (`billing_cycles`) і такім чынам пры змене дат кампаніі старыя падпіскі не мяняюцца. Што рабіць цяпер з гэтай

[2019-06-29 13:24] alies-dev commented on #551
Я думаю пакінем падтрымку любых інтэрвалаў на backend а вось на франце трэба толькі 1месяц пакінуць

[2019-06-29 13:26] svetit commented on #533
@fr0zen  Мне дапамог гэта вырашыць!

[2019-06-29 13:28] alies-dev commented on #564
Праверыў бэк: усе апісанныя праверкі ужо рэалізаваны, справа за франтом (адпісваюся)

[2019-06-29 13:29] alies-dev commented on #533
@svetit Файна!
Калі паставілі табе дойку - закрывай issue калі ласка ;)

[2019-06-29 13:35] alies-dev commented on #149
@nastyafrosty
[Такая](https://github.com/jackocnr/intl-tel-input) штука прыблізна?
![image](https://user-images.githubusercontent.com/5278175/60384901-e6833180-9a8b-11e9-8983-d82f2b5588d4.png)

Вядома РБ будзе па дэфолту выбарана

Ці пытаць код краіны увесці рукамі?

[2019-06-29 13:45] rizomaa opened #566 "Зрабіць магчымасць безтэрміновай кампаніі (або на бязмежную суму)"

[2019-06-29 14:10] svetit commented on #533
![image](https://user-images.githubusercontent.com/1722996/60385336-c43fe280-9a90-11e9-97fc-75899cdf74df.png)
Атрымалася, ура! :)

[2019-06-29 14:14] svetit commented on #533
Трэба было ўсталяваць усе залежнасці да php.

Напрыклад, "sudo apt install php7.2-pdo" ...

[2019-06-29 16:18] rizomaa commented on #533
@svetit у гайдзе як разумею гэта патрабаванне прапушчана?

@fr0zen @lptn @cema93

[2019-06-29 16:19] rizomaa commented on #26
@lptn дзякуй

[2019-06-29 16:21] rizomaa commented on #551
@lptn удаклдані калі ласка дзе у нас зараз запісваецца інтэрвал, праз які адбываецца рэкурнэтнаяспісанне грошай?

[2019-06-29 17:02] alies-dev commented on #533
@rizomaa
У гайдзе гэта есьць :P

[2019-06-29 17:03] #533 closed, assigned to svetit

[2019-06-29 17:08] alies-dev commented on #551
@rizomaa
У БД subscriptions.payment_interval:
![image](https://user-images.githubusercontent.com/5278175/60387279-4dfbaa00-9aa9-11e9-8823-3782f3373151.png)

Мы гэты інтэрвал абавязаны перадаваць на bePaid пры стварэнні падпіскі, раней ен быў захардкоджаны на `1 month` але я зрабіў яго гнуткім перад прэзентацыяй

На франце як гэта будзе (налады кампаніі, налады дойкі, захардкоджана) -- ня ведаю, ду

[2019-06-29 18:27] rizomaa commented on #565
@lptn

тры разы на мой погляд дастаткова, але я не буду вельмі можна настойваць на іх, хаця адзін і той жа ліст можа трапіць у спам.

хачу падкрэсліць, што гэтыя спрабы не павінны адключыць ад падпіскі наогул. простамодуль разумее, што у чэла няма сродкаў і "прапусціць" гэта месяц, запытае наступны усё як па плану. разумееш ідэю?

Ці згодны з агарытмам
1.3-5 папярэджэнняў.
2. паўтор запыта на наст

[2019-06-29 18:30] alies-dev commented on #565
@rizomaa

так, менавіта так гэта і працуе (ну ці мы чакаем што яна так працуе :) )

[2019-06-29 18:35] rizomaa commented on #333
@lptn так, пакуль ствараць безтэрміновую.

у будучай ітэрацыі можна будзе дадаць фічу.

1. калі кампанія безтэрміновая - падпіска безтэрміновая.
2. калі кампанія тэрміновая - падпіска тэрміновая.

але не зараз, каб сканцэнтравацца на асноўным зараз
1. інсталятар
2. працуючы мэйлінг.

[2019-06-29 18:43] alies-dev commented on #333
@rizomaa
Чакай, я так і не зразумеў што рабіць ў маючай логікай і кодам (абмежаванне КОЛЬКАСЦІ аплат на падпіску): выдаляем ці пакідаем?

[2019-06-29 18:49] rizomaa opened #567 "Фіча. Як адміністратар модуля, жадаю мець магчымасць дадаваць тэрміновыя і безтэрміновыя кампаніі (+ на бязмежную суму) для таго, каб лепей абаптаваць іх вывад для прыхільнікаў і палепшыць кіраванне падпіскамі"
Функцыянал:
1. калі кампанія безтэрміновая - падпіска безтэрміновая.
2. калі кампанія тэрміновая - падпіска тэрміновая.

[2019-06-29 18:51] rizomaa commented on #333
Трэба зрабіць падпіскі такім чынам каб зхмены дат кампаніі не ўздзенічалі на падпіскі. толькі калі сцякае дата падпіскі ануліруюцца. такая логіка патрэбна @lptn

[2019-06-29 18:52] rizomaa commented on #565
@lptn тады дзякуй за тлумачэнне

[2019-06-29 18:53] rizomaa commented on #551
@lptn захардкодзіць маеш на ўвазе і пакінуць у табліцы базы. так?

[2019-06-29 19:10] alies-dev commented on #551
@rizomaa маю на ўвазе каб фронт заўседы дасылаў на бэк інфу пра адзін месяц -- гэта самае простае што можам зрабіць

[2019-06-29 19:16] alies-dev commented on #333
@rizomaa
Ну глядзі, зараз калі ствараецца падпіска на кампанію каторая скончыцца праз 70 дзен, то ахвярадаўца плаціць тройчы: зараз, праз месяц і праз два месяца, бо у нас падлічваецца колькасць аплат на момант падпіскі і дасылаецца на біпэйд (я пісаў пра гэта [тут](https://github.com/diglabby/doika/issues/333#issuecomment-500227853) і [тут](https://github.com/diglabby/doika/issues/333#issuecommen

[2019-06-29 19:16] rizomaa commented on #551
@lptn так, я не прачытащ надпіс да базы. меў на увазе, што зараз увесь канфіг ляжыць у базе.. гэта крута!

[2019-06-30 19:28] cema93 commented on #567
Думаю, что данный функционал  избыточен, усложняет администрирование(дополнительное поле при создании компании), и решается созданием компании  у которой дата окончания будет стоять через 10 лет...

[2019-06-30 19:28] #555 closed, assigned to cema93

[2019-07-01 07:52] ghost commented on #10
@rizomaa @fr0zen @cema93 @lptn @alexap13 Ознакомьтесь со списком возможных вопросов пользователей, пожалуйста. Если есть замечания, знаете ответы или появились ещё какие-то идеи - оставьте свои комментарии:
https://docs.google.com/document/d/1rtnML9M-gQD_BifhTumMOdSyyVd83wt5p8Db5NLGJKg/edit

[2019-07-01 08:51] cema93 commented on #10
@Olya147 мне вопросы наравятся

[2019-07-01 19:04] cema93 opened #573 "работа doika на nginx"
приветствую.
Я планирую использовать Doika  на своем сервере, но у меня нет apache  и не будет.

Будет ли работать doika на nginx, нет ли каких-нибудь особенностей?

[2019-07-04 16:45] ghost commented on #135
@rizomaa  Нет. На макете есть столбик "Статус кампаніі". На мой взгляд, он более информативен, чем вкл/выкл переключатель.

[2019-07-04 19:08] ghost commented on #464
@lptn  [Тексты сообщений](https://docs.google.com/spreadsheets/d/1rOQv1g7skB_77JRRn6BSyyFLo5V9I5RfpCAQG0sIpr4/edit#gid=0) готовы.

[2019-07-06 10:51] rizomaa commented on #522
http://it3donate-landing.falanster.by/
http://it3donate-landing.falanster.by/doika/admin/campaigns

[2019-07-06 10:51] fr0zen commented on #522
@fr0zen
http://it3donate-landing.falanster.by/ - не грузіцца, трэба фікс.
http://it3donate-joomla.falanster.by/ - працуе
http://it3donate-wordpress.falanster.by/ - 403, трэба фікс

[2019-07-06 11:01] fr0zen commented on #522
https://github.com/diglabby/doika/issues/319

[2019-07-06 11:10] fr0zen opened #577 "Cфарміраваць шаблоны email-аў паводле #464"
Перанесці тэкста шаблонаў з гугл-дока ў шаблоны email, якія выкарыстоўваюцца Ларавелем.

[2019-07-06 11:13] fr0zen opened #578 "Рэкурэнтныя плацяжы скончваюцца 500-ай памылкай. Пафіксіць"
- [ ] Ці працуюць разавыя
- [ ] Ці працуюць рэкурэнтныя

Зараз правядзенне рэкурэнтных плацяжоў скончваецца 500-ай памылкай. Пасля аплаты не перанакіроўваецца на старонку падзякі.

[2019-07-06 11:25] #552 closed, assigned to nobody

[2019-07-06 11:28] rizomaa commented on #565
https://github.com/diglabby/doika/issues/541

[2019-07-06 11:28] rizomaa commented on #542
https://github.com/diglabby/doika/issues/541

[2019-07-06 11:31] rizomaa commented on #554
на якіх старонках гэта з'яўляецца?

@Olya147 у цябе тое самае?

[2019-07-06 11:45] rizomaa commented on #553
@cema93 апішы калі ласка палі, якія на твой погляд не працуюць... зацяб 3 штукі

[2019-07-06 11:46] fr0zen commented on #551
- [ ]  Прыбраць элемент выбару інтэрвала часу з адмінкі.
- [ ] Назначыць кожнай новай кампаніі інтэрвал у адзін месяц

[2019-07-06 11:46] rizomaa commented on #319
@lptn як тут ідзе, нам зараз вельмі патэрбны працуючы тэставы дамен, для дэманстрацыі

[2019-07-06 11:47] rizomaa commented on #551
зачыняю картку яна нерэлевантная патрэбам. пасля дададзім гэта калі будзе такая патрэба

[2019-07-06 11:47] #551 closed, assigned to fr0zen

[2019-07-06 11:51] fr0zen opened #579 "Стварыць тэставы сідэр для выкарыстанна падчас уталёўкі модуля"
- [ ] Зрабіць тэставы сідер базы, з якога ў базу будзе пісацца значэнне інтэрвалу ў 1 гадзіну. (На прадакшэне 1 месяц.)
- [ ] Карыстальнік вызывае сідэр пры усталёўцы модуля (праверыць рыдмі)

[2019-07-06 12:10] rizomaa opened #580 "Стварыць гайд па разгортванню з рэлізаў"
Мы маем гайд для распрацоўшчыкаў.
Пакуль у нас няма графічнага інсталятара, трэба мадыфікаваць гайд для распрацоўшчыкаў.

- [ ] Стварыць скрыпт для дадавання тэставых дадзеных.
- [ ] Стварыць гайд для інсталяцыі на базе гайда для [распрацоўшчыкаў](https://github.com/diglabby/doika/wiki/%D0%A3%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D1%9E%D0%BA%D0%B0-%D0%B4%D0%BB%D1%8F-%D0%A0%D0%B0%D1%81%D0%BF%D1%80%D0%B0%D1

[2019-07-06 14:26] ghost commented on #261
Нужно исправить стр. восстановления пароля:
![06-07-19](https://user-images.githubusercontent.com/46268205/60757418-05953c80-a013-11e9-9014-a73aa65cbae5.png)

[2019-07-06 15:06] ghost commented on #554
@rizomaa Таких сообщений много, и они появляются при:
1) переходах между разделами, за исключением "Агульная інфа" и "Зваротная сувязь";
2) создании пользователя и кампании.
Логи ниже:
[Внешний вид.log](https://github.com/diglabby/doika/files/3364787/default.log)
[Изменение цветов в виджете.log](https://github.com/diglabby/doika/files/3364788/default.log)
[Платёжные системы.log](https://github.com

[2019-07-06 16:17] ghost opened #581 "Ошибка 403 при открытии тестового виджета на сайте wordpress"
При открытии сайта http://it3donate-wordpress.falanster.by/  появляется страница с ошибкой  403 (You don't have permission to access / on this server).

[2019-07-06 16:34] ghost opened #582 "В тестовом виджете не отображается часть кнопок и данных о кампании"
**Шаги для воспроизведения:**
1. создать кампанию;
2. добавить её шорт-код  на страницу сайта;
3. открыть виджет http://it3donate-landing.falanster.by/
4. _повторить шаги 1-3 для сайта  http://it3donate-joomla.falanster.by/_

Фактический результат: данные о кампании (целевая сумма, полоса прогресса, чек-бокс) не отображаются. Кроме того, при вставке текста размером в несколько строк кнопки съезжаю

[2019-07-07 16:51] alies-dev opened #583 "Абнавіць кантэнт імэйлаў па разавым і рэкурэнтным плацяжам (агульны спіс для усіх выпадкаў)"
Паводле Напісаць тэкст імэйлаў па рэкурэнтным плацяжам #464

Асноўны спіс мэйлаў: https://docs.google.com/document/d/1CP19vpVUDnBsbQlVzZ0uP7CrpLjfZrCKk8Kw-6oKsY4/edit#

[2019-07-07 16:51] alies-dev commented on #464
@Olya147

дзякуй, рэалізацыю будзе ўмежах новай issue "Абнавіць кантэнт імэйлаў па рэкурэнтным плацяжам #583"

[2019-07-07 16:51] #464 closed, assigned to nobody

[2019-07-07 16:53] alies-dev opened #584 "Абнавіць кантэнт імэйлаў па рэкурэнтным плацяжам"
Смежнае:
 - Абнавіць кантэнт імэйлаў па рэкурэнтным плацяжам #583
 - Напісаць тэкст імэйлаў па рэкурэнтным плацяжам #464

[2019-07-07 17:23] cema93 commented on #553
Кнопка нового пользователя, кнопка отключения компании, Возможно раздел уведомлений

[2019-07-13 10:52] ghost commented on #10
@rizomaa @fr0zen @lptn что думают остальные?

[2019-07-13 11:28] rizomaa commented on #10
@Olya147 агульныя заўвагі. ствары спіс таго, што гатова. дадатковыя пытанні пасля дададзім

[2019-07-13 13:52] rizomaa commented on #248
gyp verb download contents checksum {"node-v11.15.0-headers.tar.gz":"e738ca0fa48e1b43a4edb8d3accb7ed6ce65aa27e74ccfd26989eb87a0add509"}
gyp verb validating download checksum for node-v11.15.0-headers.tar.gz (e738ca0fa48e1b43a4edb8d3accb7ed6ce65aa27e74ccfd26989eb87a0add509 == e738ca0fa48e1b43a4edb8d3accb7ed6ce65aa27e74ccfd26989eb87a0add509)
gyp verb get node dir target node version installed: 11.15

[2019-07-18 06:01] fr0zen opened #591 "Пасля падпіскі bepaid робіць 5 запытаў на веб-хук"
@lptn ведаеш, чаму Bepaid робіць 5 запытаў пры стварэнні падпіскі?
![image](https://user-images.githubusercontent.com/19183277/61432575-90423980-a939-11e9-9684-f2b20a01f7b7.png)

Дамп ngrok
![image](https://user-images.githubusercontent.com/19183277/61432911-8d941400-a93a-11e9-8555-d0a09dade065.png)

[2019-07-18 06:11] fr0zen opened #592 "Зрабіць роуты, па якіх магчыма рабіць выбарку візуальных дадзеных без аўтарызацыі."
Зараз візуальныя наладкі захоўваюцца ў табліцы "settings", - наладкі магчыма атрымаць толькі пасля аўтарызацыі. Але трэба атрымліваць візуальныя дадзеныя на віджете таксама. Імены опцый:
[code]

[2019-07-18 08:56] alies-dev commented on #591
@fr0zen
так, ен робиць пакуль не атрымае 2XX адказ, а у цябе 5XX

[2019-07-18 09:27] fr0zen commented on #591
@lptn магчыма спачатку зрабіць рассылку мэйла, а потым ужо запіс ў базу? Тады зможам адлавіць 500-ую пакуль транзакцыя не зайшла ў базу

[2019-07-18 09:31] alies-dev commented on #591
@fr0zen
можаш і так але гэта ня правільна

у тваім выпадку трэба пафіксіць мэйлінг проста)

[2019-07-18 21:44] ghost commented on #491
Исправлено.

[2019-07-18 21:44] #491 closed, assigned to fr0zen

[2019-07-18 21:58] ghost commented on #261
Исправить название вкладок:
![261 (19-07)](https://user-images.githubusercontent.com/46268205/61494907-2ae55b80-a9c0-11e9-8f0d-9535934a1696.png)

[2019-07-18 22:15] ghost opened #593 "Исправить размер целевой суммы в разделе "Спіс кампаній""
**Шаги для воспроизведения:**
1) создать кампанию, используя корректные данные;
2) перейти в раздел "Спіс кампаній".

**ФР:** целевая сумма уменьшена в 100 раз  (напр., 80 руб. => 0.80)
**ОР:** сумма сборов в карточке кампании и в общем списке кампаний совпадают.
![19-07](https://user-images.githubusercontent.com/46268205/61495488-d2af5900-a9c1-11e9-9ada-44bdc5deeb40.png)

**Тестовые условия:**
Ве

[2019-07-20 10:39] rizomaa commented on #248
Выйшаў на такія пірагі:

![Selection_021](https://user-images.githubusercontent.com/9870374/61577707-d2af7600-aaf3-11e9-8d4c-c263088e3f5a.png)

[2019-07-20 10:40] rizomaa commented on #248
@ilyaaki @fr0zen @cema93 ёсць ідэі у чым праблема?

[2019-07-20 11:12] fr0zen commented on #522
@Olya147 можаш прайсціся па даменах?
http://it3donate-landing.falanster.by/
http://it3donate-joomla.falanster.by/
http://it3donate-wordpress.falanster.by/
http://it3donate-drupal.falanster.by/

Калі модуль усюды выглядае карэктна - у гатова картку

[2019-07-20 11:15] fr0zen commented on #581
@Olya147 праглядзі зараз калі ласка

[2019-07-20 11:18] fr0zen commented on #248
@rizomaa адчыні калі ласка [Лагін](http://donate3/doika/doika/dashboard/login)

[2019-07-20 11:31] fr0zen opened #594 "Праца модуля з 3-D secure"
Як будзе працаваць модуль на баку плацельшчыка, калі для яго карты ўсталявана дадатковая абарона 3-D Secure?

[2019-07-20 11:52] rizomaa commented on #248
зараз такая буба

"UnexpectedValueException
The stream or file "/var/www/html/donate3/public_html/doika/storage/logs/laravel-2019-07-20.log" could not be opened: failed to open stream: Permission denied"

[2019-07-20 12:23] rizomaa commented on #594
@fr0zen яно будзем працаваць гэтак жа, бо мы ж выкарыстаощваем афсайт плацяжы.
чаму такое пытанне?

[2019-07-20 12:24] rizomaa commented on #248
@fr0zen
UnexpectedValueException
The stream or file "/var/www/html/donate3/public_html/doika/storage/logs/laravel-2019-07-20.log" could not be opened: failed to open stream: Permission denied

[2019-07-20 12:45] fr0zen commented on #248
@rizomaa трэба chmod 775 на /var/www/html/donate3/public_html/doika/storage/

[2019-07-20 12:46] fr0zen commented on #594
@rizomaa не тэсціў сам, там дадаў, каб не запамятаваць

[2019-07-20 13:44] rizomaa commented on #248
@fr0zen дзякуй. запрацавала, але па лагину пытанне...

[2019-07-20 13:46] rizomaa commented on #248
"Пасля дадаем зыходныя дадзеныя камандай php artisan db:seed"
Адсутнічаў у старым гадзйен. выдаліў стары,. зараз у нас толькі адзін

[2019-07-20 13:46] #248 closed

[2019-07-20 13:50] rizomaa commented on #522
@fr0zen гэта усталёўка ідзе з рэліза, або з develop галіны?

[2019-07-20 13:54] fr0zen commented on #522
@rizomaa dev галіна.

[2019-07-20 13:57] rizomaa opened #595 "Запусціць дэмадамен з апошняга рэліза."
На сёння ёсць куча інстансаў для тэставання, але для дэмкі, каб паказаць як працуюць няма.

чаму трэба асобны дамен. таму, што на галінцы дэв часта багі і дойка зусім не працуе

[2019-07-20 13:58] rizomaa commented on #522
Ага, дзякуй.
Тады я стварыў дадатковую таску для дэма дамена #595

[2019-07-23 14:22] ghost commented on #581
@fr0zen  всё работает.

[2019-07-23 14:22] #581 closed, assigned to fr0zen

[2019-07-23 14:58] ghost opened #597 "Добавить в виджете сообщение об ошибке в случае если пользователь не выбрал сумму платежа"
**Шаги для воспроизведения**:
1. открыть сайт http://it3donate-landing.falanster.by/ ;
2. нажать кнопку "Платёж";
3. включить чек-бокс "Я згаджаюся з правіламі";
4. не заполняя сумму платежа, нажать кнопку "Пацвердзіць"

**ФР:** открывается пустая страница.
**ОР:** появляется сообщение "Калі ласка, увядзіце суму плацяжу"; пользователь остаётся на прежней странице.

![1](https://user-images.githubu

[2019-07-23 15:15] ghost opened #598 "Зафиксировать в виджете кнопку "Назад""
**Шаги для воспроизведения:**
1. открыть сайт http://it3donate-wordpress.falanster.by ;
2. выбрать сумму платежа;
3. включить чек-бокс "Я згаджаюся з правіламі";
4. нажать кнопку "Платёж";
5. нажать "Пацвердзіць";
6. прокрутить скролл в виджете.

**Факт. результат:** кнопка "Назад" не зафиксирована и движется по экрану вместе со скроллом.
![2](https://user-images.githubusercontent.com/46268205/617

[2019-07-23 16:29] ghost commented on #522
@fr0zen
**1. Веб-версия:**
- при переходе на страницу оплаты в виджете появляется вертикальный скролл (не вмещается строка Powered by Doika)
- после совершении оплаты через сайт http://it3donate-landing.falanster.by/ происходит переадресация на страницу http://it3donate-landing.falanster.by/doika/doika/widget/campaigns/1

**2. Моб. версия** (см. приложение в разрезе сайтов):
- отсутствует кнопка,

[2019-07-29 10:51] #598 closed, assigned to fr0zen

[2019-07-30 10:00] ghost commented on #582
Исправлено.

[2019-07-30 10:00] #582 closed, assigned to fr0zen

[2019-09-03 18:00] fr0zen opened #622 "Наладзіць адпраўку мэйлаў пры разавых і рэкурэнтных плацяжах"
Развагі
1. Выкарыстоўваем свой мэйлер (https://github.com/diglabby/doika/issues/710)
2. Калі-небудзь дададзім функцыю знешніх мэйлераў. Але спачатку абкатаем на сваім.
3. Усе паведамленні апісаны тут: doika/doika/dashboard/notifications
4. Ці патрэбна табліца мэйлінга (кшталту лога аб паспяховасці адпраўкі) - можа быць карысна для аналізасітуацыі.

Астатняе яшчэ даследую

[2019-09-03 18:06] fr0zen commented on #622
Асяродак: apache2 + php 7.1 + mysql 5.6 + sendmail

- [ ] Разабрацца, якія наладкі мэйл сэрвера патрэбны для працы рассылак зараз.
- [ ] Пратэставаць ці адпраўляюцца мэйлы пасля адзіночнага плацяжу .
- [ ] Пратэставаць ці адпраўляюцца мэйлы пасля стварэння падпіскі.
- [ ] Пратэставаць ці адпраўляюцца мэйлы пасля таго як біпэйд робіць зняцце грошаў па плану падпіскі.
- [ ] Пратэставаць, ці адпраўля

[2019-09-03 18:14] fr0zen commented on #622
Тэсціць можна тут http://it3donate-joomla.falanster.by/

[2019-09-25 10:39] rizomaa opened #628 "Дадаць поле каментар пры рабленні данэйта. Поле зрабіць уключаемым праз адмінку"
Як ахвярадаўца хачу, каб была магчымасць пісаць каментары пасля уводу персанальных дадзены.

Як адмін, хачу бачыць каметары у табліцы данэйтаў пэзнай кампаніі.

## Каментар
- Толькі тэкст
- Абмежаваць увод сімвалаў.
- Чытаецца праз адмінку у табліцы данэйтаў па кампаніі.
- Можна падпісаць плэён тэкст.

[2019-11-06 17:24] #592 closed, assigned to alies-dev

[2019-11-08 14:39] samarieta opened #642 "Изменение цвета ховера кнопок"
## Апісанне
Как админ, я хочу чтобы во вкладке изменение дизайна, можно было менять цвет ховера кнопок, для того чтобы красивая цветовая гамма не перекрывалась черным цветом.
<!--
Example 1: `Як адмінстратар сайта, я хачу бачыць графік паступлення працяжоў, каб лепей прадказаць быдучыя працяжы`.
Example 2: `Як карыстальнік дойкі, я хачу мець магчымасць увесці любую суму плацяжа, як данэйціць вялік

[2019-11-08 14:42] samarieta opened #643 "Просмотр кампаний на тестовом сайте"
## Апісанне
Как [админ тестового сайта], я хочу [изменять кампанию и видеть, как она выглядит при публикации], для того чтобы [представлять внешний вид своей конкретной кампании].
<!--
Example 1: `Як адмінстратар сайта, я хачу бачыць графік паступлення працяжоў, каб лепей прадказаць быдучыя працяжы`.
Example 2: `Як карыстальнік дойкі, я хачу мець магчымасць увесці любую суму плацяжа, як данэйціць

[2019-11-11 14:31] rizomaa commented on #8
@Olya147 ці усё тут у норме?

[2019-11-11 14:33] #58 closed

[2019-11-11 14:35] rizomaa commented on #66
ДОкі прыведзены у гармонію тут https://github.com/diglabby/doika/wiki
астатнія паляпшэнні пасля запуска функцыянала

[2019-11-11 14:35] #66 closed

[2019-11-11 14:36] #74 closed

[2019-11-11 14:37] rizomaa commented on #75
@Olya147 ці краналася гэта карткі?

[2019-11-11 14:39] rizomaa commented on #105
@fr0zen што значыць тэг прыпынена?

[2019-11-11 14:40] rizomaa commented on #106
@cema93 тут разабраўся?

[2019-11-11 14:40] #113 closed

[2019-11-11 14:41] #117 closed

[2019-11-11 14:42] rizomaa commented on #122
@fr0zen у мяне пытанне, калі задача не пачыналася,як яна можа быць прыпынена? )

[2019-11-11 14:43] rizomaa commented on #123
Тут проста трэба схаваць гэты значок, бо ў скоўпе такога не значылася

[2019-11-11 14:43] #124 closed

[2019-11-11 14:46] #182 closed

[2019-11-11 14:47] #241 closed

[2019-11-11 14:53] rizomaa commented on #483
карыстальніка ствараць наогул непатрэбна. выходзім паза скоўп. пераіменоўваю тэму

[2019-11-11 14:56] #448 closed, assigned to fr0zen

[2019-11-11 14:56] #424 closed, assigned to fr0zen

[2019-11-11 15:46] #591 closed, assigned to alies-dev

[2019-11-12 12:57] rizomaa commented on #378
@lptn хочаш нейкім аўтатэстам пакрываць?

што такое "feature test"?

[2019-11-12 13:00] rizomaa commented on #383
@fr0zen гэта не гарачая задача. я нават думаю, што тут не тэрба маляваць проста кликаеш па старонцы и белая старонак з надпісам і ўсё.

[2019-11-12 13:01] rizomaa commented on #341
акей тады я зжамаю гэту ішшу ў свабоднае плаванне

[2019-11-12 13:11] rizomaa commented on #335
так, тут перачытаў перапіску. так. я наогул думаю магчыма тэставы функцыянал на сёння не замарачвацца. можна тэставаць 1 рублём. Бо тэсты патэрбны больш для распрацошгчыкаў.

Наогул тэставае функцыянаванне непатрэбна, калі яна дадае шмат болі.

Задача непрыярытэтная

[2019-11-12 13:17] rizomaa commented on #333
@lptn

1. так трэба прыбраць абмежаванне на падпіскі - напрыклад гэта для членскіх унёскаў
2. наогулкалі кампанія мае верхнюю мяжу падпіскі (планы) безтэрміновыя. Калі кампанія заканчваецца, крон апрацоўвае адпіскі. Карацей. Тут вымаўлёваецца крон які будзе адпісваць ад скончаных кампаній патрэбныя планы(падпіскі) кожнага ахвярадаўцы

@lptn

[2019-11-12 13:46] rizomaa commented on #73
дзякуй гэта функцыя ёсць у іншай задачы. @ilyaaki

[2019-11-12 13:46] #73 closed

[2019-11-19 14:15] rizomaa commented on #460
гэта задача не гарачая, наогу выходзіць за скоўп і нідзе неабмяркоўвалася загаддзя

[2019-11-19 14:20] rizomaa commented on #542
дадаў, бо выглядае функцыя даволі значнай

[2019-11-19 14:21] rizomaa commented on #643
падобная картка https://github.com/diglabby/doika/issues/460

[2019-11-19 14:26] rizomaa commented on #549
пакуль думкі ідуць прыбраць наогул тэставыя плацяы, бо бачу дэвелаперы разгубіліся

[2019-11-19 14:28] rizomaa commented on #553
@cema93 дзякуй.

1. Кнопка нового пользователя,  - прыбіраем яна не патрэбна.
2. кнопка отключения компании, - дапрацуем.
3. Возможно раздел уведомлений - правярай

[2019-11-19 14:29] rizomaa commented on #554
@Olya147 дзякуй будзем глядзець

[2019-11-19 14:29] rizomaa commented on #564
@lptn дзякуй

[2019-11-19 14:30] rizomaa commented on #565
падобная картка https://github.com/diglabby/doika/issues/542

[2019-11-19 14:31] rizomaa commented on #567
з большага можна і так @cema93 тут важна ўзважыць як гэта узаемадзенічае з апі бягучага агрэгатара і наступных

[2019-11-19 14:35] rizomaa commented on #573
@cema93 прывітанне, гэта адкрытае пытанне

[2019-11-19 14:38] rizomaa commented on #577
@fr0zen а дзе той гугл док...
шукаю нешта не трапляецца https://github.com/diglabby/doika/issues/222

[2019-11-19 14:43] rizomaa commented on #578
дзякуй. я тады стаўлю гэту задачу, як прыярытэтную.

@lptn ці было ў цябе нешта такое. бо ты кажаш рэкурнтныя працуюць з бэка, але 500 памылка гэта сэрверная памылка. патлумач, мо я нешта не лаўлю тут

[2019-11-19 14:53] rizomaa commented on #577
https://github.com/diglabby/doika/issues/217

[2019-11-19 14:53] rizomaa commented on #577
наогул, асабліва парыцца з шаблонамі не трэба. проста тэксты. будзе плэйн рабіць.
або патлумач, што трэба змяніць @fr0zen

[2019-11-19 14:54] rizomaa commented on #160
@lptn што тут яшчэ засталося не зробленым?

[2019-11-19 14:57] rizomaa commented on #30
@lptn пытанне, вышэй

[2019-11-19 15:34] rizomaa commented on #594
@fr0zen тэсціш зараз нешта з 3дэсекюрэ?

[2019-11-25 21:01] alies-dev commented on #578
@fr0zen
@rizomaa
Хлопцы, пакуль не магу праверыць (проста тупа стаміўся ад працы апошні месяц і не хачу брацца за оўпэн-сорс), але калі скініце тэкст памылкі -- магу пафіксіць нават без тэстаў (хутчэй за ўсе).

Гэта нават абавязковае патрабаванне ва ўсіх OSS праектах  - даваць як магу болей інфы па багу для дэбага, а тое што я тут паль што бачу - так сабе інфармацыйна

Любая 500 памылка логіцца ў

[2019-11-26 14:57] rizomaa commented on #483
Дублюе https://github.com/diglabby/doika/issues/490 Зачыняю

[2019-11-26 14:57] #483 closed, assigned to nobody

[2019-11-26 15:01] rizomaa commented on #566
Дублюе https://github.com/diglabby/doika/issues/567
таму зачыняем

[2019-11-26 15:01] #566 closed, assigned to alies-dev

[2019-11-26 15:05] rizomaa commented on #565
Паступіла ад @cema93

Мне падаецца, што ідэя з'яўляецца падвыпадкам для гэтай

"Апісанне
Я хочу, чтобы пользователь, чей платеж не прошел получал письмо с просьбой попробовать оплатить ещё раз
Пример:
я попробовал оплатить, оплата не прошла. Я обиделся и ушел.
Через час система проверяет, был ли удачный платеж. Если нет то высылать письмо с информацией о не прошедшем платеже и предлагать оплатить

[2019-11-26 15:05] rizomaa commented on #542
Зачянем гэту картку. працяг тут https://github.com/diglabby/doika/issues/565

[2019-11-26 15:05] #542 closed, assigned to nobody

[2019-11-26 15:07] rizomaa commented on #565
Дадаў толькі две опцыя якія неабходна запіліць:

- [ ]  няма сродкаў
- [ ]  скончыўся тэрмін карткі

[2019-11-26 15:10] rizomaa commented on #549
Трэба наогул прыбраць рэжым тэставых плацяжоў

[2019-11-26 15:11] rizomaa commented on #335
Падобная картка тут https://github.com/diglabby/doika/issues/549. Яе зачыняю

[2019-11-26 15:11] rizomaa commented on #549
Зачыняю гэту картку. бо выдаляем функцыі тэставых плацяжоў

[2019-11-26 15:11] #549 closed, assigned to nobody

[2019-11-26 15:20] rizomaa commented on #30
Дублюе задачу https://github.com/diglabby/doika/issues/26

[2019-11-26 15:20] #30 closed

[2019-11-26 15:24] rizomaa commented on #120
Абавязковыя палі для кліентскай часткі:
1. Сума
2. Абранне спосабу ахвяравання.
3. Згода з умовамі арганізацыі па праняццю данэйтаў
4. На другім вакне: у залежнасці ад спосабу, калі абраны рэкурэнтныя плацяжы
5. Абавязковае поле мэйл
6. Усе астатнія палі апцыянальныя і тым ліку на разавых плацяжах

[2019-11-26 15:40] rizomaa commented on #584
нейкая мета задача.+ нізто яе не вядзе. зачыняю

[2019-11-26 15:40] #584 closed, assigned to alies-dev

[2019-11-26 15:41] rizomaa commented on #577
Дублюе задачу https://github.com/diglabby/doika/issues/583. Зачыняю гэту картку

[2019-11-26 15:41] #577 closed, assigned to nobody

[2019-11-26 15:46] rizomaa opened #647 "Дадаць у канец мэйлаў з лістом аб рэкурэнтных плацяжах спасылку з магчымасцю адпісацца"
Сумежная картка тут:
https://github.com/diglabby/doika/issues/217

[2019-11-26 15:47] rizomaa opened #648 "Наладзіць паведамленні калі адбылася разавая аплата або падпіска"

[2019-11-26 15:51] rizomaa commented on #622
![Selection_004](https://user-images.githubusercontent.com/9870374/69649149-a4334000-107d-11ea-98b4-79b2a4e15e2c.png)
што тэсціць @fr0zen

[2019-11-27 10:27] rizomaa commented on #643
пакуль пазначу сумежныя карткі:
1. https://github.com/diglabby/doika/issues/460
2. https://github.com/diglabby/doika/issues/544

Пасля, магчыма, іх склеім

[2019-11-27 13:34] rizomaa opened #649 "Папярэджанне пра з'ём сумы згодна падпіскі"
Для адпраўкі такога ліста дададзены ў табліцу notifications

Умовы:

- [ ] 1. Штодзённая праверка кронам скрыпта.
- [ ] 2. Скрып пазначае, дату каго папярэдзіў.
- [ ] 3. Скрыпт правярае дату, калі яна менш за месяц - 3 дні, можна рабіць папярэджанне.

[2019-11-27 13:38] rizomaa commented on #583
Актуальныя лісты 1-4.

5-6, спатрэбяцца для павелічэння функцыянала

[2019-11-27 13:43] rizomaa commented on #333
Ліст спынення (нумар 7):
https://docs.google.com/document/d/1CP19vpVUDnBsbQlVzZ0uP7CrpLjfZrCKk8Kw-6oKsY4/edit#

[2019-11-27 13:46] rizomaa commented on #332
Ліст змены даты кампаніі (нумар шэсць):
https://docs.google.com/document/d/1CP19vpVUDnBsbQlVzZ0uP7CrpLjfZrCKk8Kw-6oKsY4/edit#

[2019-12-10 09:05] rizomaa opened #655 "Не лагініцца на сайт пад тэставым адмінам"
Зайшоў у базу бачу, што ёсць нейкія левыя карыстальнікі а адміна няма
![Selection_023](https://user-images.githubusercontent.com/9870374/70513998-c16b1280-1b43-11ea-9c9e-65bc8003ea69.png)

але у сідах нібы стаіць адмін нічога не пазначана, як гэта мяняецца падчас дэплоймэнта
https://github.com/diglabby/doika/blob/develop/database/seeds/AdminSeeder.php#L12

@fr0zen @lptn

Пакуль буду сам разбірацца

[2019-12-10 09:26] rizomaa commented on #655
1. Стварыў дадатковы сід з тыпавым пасвардам, прымяніў яго (`php artisan db:seed --class=AdminSeeder2`)
2. Вычысціў старыя запісы з базы засталася адна.
3. Тэстую тут http://it3donate-landing.falanster.by/doika/doika/dashboard/login
4. Працуе.

Карысныя спасылкі:
https://laravel.com/docs/5.8/seeding
+
https://stackoverflow.com/a/26144180

Пытанне, усё ж застаецца чаму заліваюцца нейкія незразумелы

[2019-12-10 09:28] rizomaa commented on #655
Задача была блакуючай, бо немагчыма было перадаць дызайнерам на праверку юзабіліці адмінкі

[2019-12-10 22:30] alies-dev commented on #378
feature test - https://laravel.com/docs/master/http-tests

але я думаю для гэтага ня трэба issue тут: закрываю

[2019-12-10 22:30] #378 closed

[2019-12-10 22:33] alies-dev commented on #160
@rizomaa
ну можна сказаць зроблена, можна і палепшыць але працуе і так

Чаго няма -- дакументацыі

[2020-01-15 14:48] AlekseyKrivitskiy opened #663 "Не адлюстроўваецца кантэнт модуля - Doika_1.2"
У тэчцы client-side я стварыў html файл, падключыў неабходныя файлы для працы модуля, але на сайце адлюстроўваецца памылка "Аб'ект не знойдзены!".
![laravel1](https://user-images.githubusercontent.com/59744681/72443381-34a91980-37bf-11ea-86d5-f7fc43d4c2b7.PNG)
![laravel](https://user-images.githubusercontent.com/59744681/72443383-34a91980-37bf-11ea-8752-a5dbeac417ec.PNG)

[2020-01-15 15:11] rizomaa commented on #655
@lptn @fr0zen памылка зноў узнікла. падазраю, што неяк няякасна спрацоўваюць сіды пры аўтаматычным удбналенні. калі перазапускаю сіды заходзіць.

ці можаце часова адключыць аўтаматычныя скрыпты, бо яны зараз запавольваюць тэставанне і распрацоўку?

[2020-01-15 19:37] alies-dev commented on #655
@rizomaa
Дэфолтавы логін і пасворд які ствараецца сідэрамі тут: https://github.com/diglabby/doika/blob/e0c8be76d5cbf6ed42f2d4a5255b31f2d5c8d2aa/database/seeds/AdminSeeder.php#L11-L12 і нязменныя (не дынамічныя)

усе астатнія карыстальнікі ствары ці старой дойкай ці чыімсці дзеяннямі

[2020-01-15 19:48] rizomaa commented on #655
@lptn так, я гэта усё бачыў і спрабаваў рабіць.

1. калі адбываюцца нейкія аўтаматычня дзеянні з рэпам (праверкі, тэсты?),
2. на сервак перазаліваюцца дадзеныя і праект нанова.
3. гэта блакуе магчымасць зайсці (па тым пасвардам якія у сідзеры, які паказваеш).

дапамагло толькі стварэнне новага карыстальніка праз сід. пісаў рашэнне вышэй. але яно не устойлівае, бо прымушае пастаянна бегаць на серве

[2020-01-15 20:38] alies-dev commented on #655
пры любым каміце запускаюцца праверкі код-стайла і ганяюцца тэсты

ня ведаю (я тут нічога не рабіў)

тое ж самае як і папярэдні пункт

[2020-01-18 17:04] AlekseyKrivitskiy opened #664 "Усталяванне праэкта Doika"
Паспрабавау усталявать новую версию праэкта Doika. Зрабиу усё па мануалу https://github.com/diglabby/doika/wiki/%D0%A3%D1%81%D1%82%D0%B0%D0%BB%D1%91%D1%9E%D0%BA%D0%B0-%D0%B4%D0%BB%D1%8F-%D0%A0%D0%B0%D1%81%D0%BF%D1%80%D0%B0%D1%86%D0%BE%D1%9E%D1%88%D1%87%D1%8B%D0%BA%D0%B0%D1%9E
Але зноу жа не работаюць стыли и не адлюстроуваецца кантэнт.
![image](https://user-images.githubusercontent.com/59744681/72

[2020-01-20 07:16] KahjuksEi commented on #664
@AlekseyKrivitskiy, все должно работать на 10 винде, проверь версии
apache-php-7.2
php-7.2
mysql-5.7
Laravel Framework 5.8.36
Composer version 1.8.5
node v10.15.3
перепроверь путь в адресной строке, у меня например работает doika/doika
![image](https://user-images.githubusercontent.com/39082880/72705827-852cc800-3b6d-11ea-83db-59d1d14c2160.png)
@fr0zen  тут странные вещи при установке композера пр

[2020-01-20 13:27] AlekseyKrivitskiy commented on #664
@KahjuksEi У вас проект в папке D, у меня же в domains, в пути не должно быть ошибок.
![image](https://user-images.githubusercontent.com/59744681/72728380-47946300-3b9e-11ea-8299-afdaa25572d5.png)
![image](https://user-images.githubusercontent.com/59744681/72728399-54b15200-3b9e-11ea-8253-84306bcbca4e.png)
А вот при написании команды composer update ошибка вылетает. Гуглил, но так и не понял как п

[2020-01-20 14:03] KahjuksEi commented on #664
Там как раз прикол с путями, например у меня работает так:
![image](https://user-images.githubusercontent.com/39082880/72732341-89c1a280-3ba6-11ea-975e-fe83936ff3c6.png)
И попробуй такую версию apache выставить
![image](https://user-images.githubusercontent.com/39082880/72732492-e1600e00-3ba6-11ea-97c9-f8c62758ee82.png)

[2020-01-20 14:19] AlekseyKrivitskiy commented on #664
@KahjuksEi у меня вот такая стоит, просто 7,2 нету
![image](https://user-images.githubusercontent.com/59744681/72732890-ce017280-3ba7-11ea-8a35-50466e4f0fb7.png)
Да, заработало, причина была в правильном расположении папок и проекта, а почему так? почему нужно в domains создавать еще одну папку "D", туда клонировать проект, и домен настраивать на ту папку "D", ну и путь прописывать уже в url? Это

[2020-01-20 14:56] KahjuksEi commented on #664
Логика вложенности в том, что в доменах мы создаем папку для проекта, в котором мы впишем при желании верстку, модули (как например дойку) и прочий контент,  а не создаем проект тупо ради модуля))

[2020-01-20 14:59] AlekseyKrivitskiy commented on #664
@KahjuksEi звучит логично) спасибо большое за помощь)

[2020-01-22 12:33] AlekseyKrivitskiy commented on #664
Проблема решилась правильным расположением файлов и папок. Необходимо создавать папку проекта, и в нее уже устанавливать модуль. Домен настраивать на папку проекта, а не модуля.

[2020-01-24 20:15] rizomaa commented on #664
@AlekseyKrivitskiy зачынайце картку, калі усё атрымалася!

[2020-01-25 10:40] #664 closed, assigned to nobody

[2020-01-27 17:14] AlekseyKrivitskiy commented on #261
@rizomaa
![image](https://user-images.githubusercontent.com/59744681/73196708-20f79e80-4141-11ea-96e1-b88f3f166cb3.png)
Сделал перевод сообщения об успешном выполнении
Почему-то нету текста остальных элементов -> добавил текст
![image](https://user-images.githubusercontent.com/59744681/73196923-89468000-4141-11ea-942b-b0e2264af3ca.png)

[2020-01-28 10:52] AlekseyKrivitskiy commented on #261
![](https://sun9-5.userapi.com/c205720/v205720208/4dcb9/SSWlr46UuD8.jpg)
Удалося зрабіць пераклад для старонкі аднаўлення пароля, затрымаўся на старонцы апавяшчэнняў.

Пачаў глыбей разбірацца і зразумеў што там яшчэ і ад мовы залежнасці ёсць. А я выправіў у тым, што першае знайшоў.

У файлах беларускай мовы пераклады прысутнічаюць, але не адлюстроўваюцца на старонцы.

[2020-01-29 14:36] InaFK commented on #253
Неабходна абнавіць дакуменатцыю на выпадак, калі, пры разгортванні праекту лакальна пад macOC узнікае наступная "памылка" пры запуску каманды
**sudo chmod 777 -R storage/** (п.6):
https://prnt.sc/qukkt7
(тэчка "**storage**", відавочна, існуе).
 З чым гэта звязана і як "лекуецца"?

[2020-01-29 18:43] rizomaa commented on #253
@InaFK прывітанне,
дзякуй за каментар і пытанне:
1. удакладніце, ці атрымалася паставіць?
2. чаму вы вырашылі зрабіць 777, ці спрабавалі іншыя правы 755, 775?
3. у якой тэчцы у вас ляжаць сама doika?

[2020-01-30 11:28] rizomaa commented on #261
@AlekseyKrivitskiy ці ўсе імёны ключоў супадаюць?

[2020-01-30 15:38] InaFK commented on #253
@rizomaa прывітанне,
дзякуй за аказ

_не удалося да гэтай пары_

_спроба запусціць пад іншыя правамі плёну, нажаль, не дала.._
_а 777 рабіла, бо так у мануале_ - http://prntscr.com/qv3gom

_сама doika скланіравана ў адвольную тэчку falansterWork  - http://prntscr.com/qv3i7i_

[2020-01-30 17:08] rizomaa commented on #253
@InaFK falansterWork гэта тэчка віртуальнага хаста?
пакажыце як у вас вяглядае старонка ў браўзеры, з якой вы запускаеце дойка?

[2020-01-30 20:16] InaFK commented on #253
@rizomaa
так - http://prntscr.com/qv9ac8

[2020-01-30 21:10] rizomaa commented on #253
@InaFK Звярніце ўвагу. Вы кіруецеся гайдам для докера, але робіце натыўную ўсталёўку.
Раю вам пачаць усё з нуля па спасылцы (з якарам на Лінукс):
https://github.com/diglabby/doika/wiki/%D0%A3%D1%81%D1%82%D0%B0%D0%BB%D1%91%D1%9E%D0%BA%D0%B0-%D0%B4%D0%BB%D1%8F-%D0%A0%D0%B0%D1%81%D0%BF%D1%80%D0%B0%D1%86%D0%BE%D1%9E%D1%88%D1%87%D1%8B%D0%BA%D0%B0%D1%9E#linux
Прайдзіцеся па гэтаму гайду і напішыце, як я

[2020-02-01 20:24] InaFK commented on #253
@rizomaa
На сёння спрабую яшчэ разабрацца, як зрабіць лакальнае разгортванне праекта з дапамогай Docker.

[2020-02-04 15:56] SashaKalinin opened #675 "Натыўная усталёўка на Linux"

[2020-02-04 16:02] SashaKalinin commented on #675
![Установка Ubuntu на виртуальную машину](https://user-images.githubusercontent.com/60601773/73761721-49564d00-4780-11ea-9e20-f7332130e978.png)
Установил.
Затем установил LAMP( apache2, mysql,php7 с плагинами)
![установка php](https://user-images.githubusercontent.com/60601773/73761903-84588080-4780-11ea-9d18-ce948fc70aef.png)
![установка apache2](https://user-images.githubusercontent.com/60601773

[2020-02-05 11:16] yakaviuk commented on #675
@SashaKalinin Затем скинул файлы проекта в корневую папку /var/www/html/

Вам трэба закідваць не файлы, а тэчку doika у /var/www/html/,
каб файлы праекты былі ў /var/www/html/doika/
затым не забудзьце уключыце rewrite у apache (калі неактыўны)

[2020-02-05 12:03] SashaKalinin commented on #675
@yakaviuk Сделал все как вы сказали, вот что получилось.
![Localhost 80](https://user-images.githubusercontent.com/60601773/73840176-a574ac00-4828-11ea-97fe-9ae309e3bd3b.png)

[2020-02-05 12:07] SashaKalinin commented on #675
Закинул папку Doika в var/www/html
Прописал update
прописал sudo a2enmod rewrite
Рестарт apache
прописал http://localhost:80/

[2020-02-05 12:15] yakaviuk commented on #675
а цяпер go to
http://localhost/doika

[2020-02-05 12:21] SashaKalinin commented on #675
@yakaviuk прописал в адресной строке http://localhost/doika/
выдает белый экран
![doika](https://user-images.githubusercontent.com/60601773/73841237-38164a80-482b-11ea-9491-ae188b1a5bf1.png)

[2020-02-05 12:27] SashaKalinin commented on #675
да и просто на папочку нажимаю все равно белый экран

[2020-02-05 12:39] yakaviuk commented on #675
тады дадайце самыя простыя правілы rewrite у /var/www/html/.htaccess і праверце, ці працуюць яны

[2020-02-05 12:51] SashaKalinin commented on #675
@yakaviuk все работает
![ывфывф](https://user-images.githubusercontent.com/60601773/73843232-4b2b1980-482f-11ea-82c7-7c04710e9262.png)
![вфывфыв](https://user-images.githubusercontent.com/60601773/73843239-4ebea080-482f-11ea-9505-0fdd7dfdfaf0.png)

[2020-02-05 13:02] yakaviuk commented on #675
са скрыншоту бачу, што cat працуе, не больш за тое.

https://mediatemple.net/community/products/dv/204643270/using-htaccess-rewrite-rules

[2020-02-05 13:04] yakaviuk commented on #675
паспрабуйце праз /var/www/html/.htaccess дадаць рэдырэкт праз rewrite і праверце, ці будзе рэдзірэкціць

[2020-02-05 13:16] yakaviuk commented on #675
і думаю, Вы перазапісалі htaccess які быў спачатку ў doika, трэба аднавіць першапачатковую версію

https://github.com/diglabby/doika/blob/develop/.htaccess  - для doika 2.0

[2020-02-05 13:27] SashaKalinin commented on #675
файл не пере записался, все в порядке. **паспрабуйце праз /var/www/html/.htaccess дадаць рэдырэкт праз rewrite і праверце, ці будзе рэдзірэкціць** про это первый раз слышу,буду разбираться. Я просто подобного вообще никогда не делал. Все в первый раз. =)

[2020-02-05 14:09] #675 closed, assigned to nobody

[2020-02-05 14:11] SashaKalinin commented on #675
@yakaviuk
создал файл about.html  var/www/html
![Р](https://user-images.githubusercontent.com/60601773/73849096-5d5e8500-483a-11ea-8217-8a050bc55c39.png)
потом переписал правило
![Т](https://user-images.githubusercontent.com/60601773/73849153-7bc48080-483a-11ea-8733-e8758641c4e9.png)
не сработало,мб что не так сделал,подскажите
![н](https://user-images.githubusercontent.com/60601773/73849185-8e3eb

[2020-02-05 14:12] SashaKalinin commented on #675
@yakaviuk а можно с вами как то связаться кроме чата?

[2020-02-05 14:23] yakaviuk commented on #675
пашукайце мануалы па mod_rewrite, як праверыць яго статус у апачы і як праверыць, што працуе

[2020-02-05 14:46] SashaKalinin commented on #675
заработало вроде,я переписал условие вместо адреса  http://localhost/about.html можно вводить http://localhost/about  без html  в конце.
![2](https://user-images.githubusercontent.com/60601773/73851918-5f771280-483f-11ea-9211-7438214e296e.png)

[2020-02-05 14:50] SashaKalinin commented on #675
в файле doika все в норме
![3](https://user-images.githubusercontent.com/60601773/73852285-f80d9280-483f-11ea-9b88-457e88b9dcf4.png)

[2020-02-05 14:52] SashaKalinin commented on #675
Может для doika  в файле sudo nano /etc/apache2/sites-available/000-default.conf
нужно прописать какие-то параметры настройки сервера особенные?

[2020-02-05 16:43] SashaKalinin commented on #675
Вот какие ошибки apache2 выдает
![5](https://user-images.githubusercontent.com/60601773/73862553-c0a6e200-484f-11ea-86e6-f1a0400d4a1a.png)

[2020-02-05 16:48] SashaKalinin commented on #675
оно почему то не может найти файл autoload.php

[2020-02-05 16:50] SashaKalinin commented on #675
создал тестовый фал php на него заходит,
![6](https://user-images.githubusercontent.com/60601773/73863145-ade0dd00-4850-11ea-897c-2d378473709d.png)
![8](https://user-images.githubusercontent.com/60601773/73863153-afaaa080-4850-11ea-848b-b3e8bd0e1e49.png)

[2020-02-05 16:55] SashaKalinin commented on #675
Дето в том что оно идет по пути var/www/tlml/doika/vaendor/autoload.php
Но папки vendor не существует
подскажите где ее брать?

[2020-02-05 17:07] fr0zen commented on #675
@SashaKalinin vendor - папка зависимостей композера. Получается в результате исполнения команды composer install

[2020-02-05 17:36] SashaKalinin commented on #675
А почему она не запускается, я не мону поеять

ср, 5 февр. 2020 г., 20:07 Alexey Kirpichenkau <notifications@github.com>:

[2020-02-05 18:04] SashaKalinin commented on #675
Все настроено вроде бы,все работает. Но не хочет запускаться.

[2020-02-05 22:20] SashaKalinin commented on #675
установил compouser
запустил зависимости,и что то пошло не так
![11](https://user-images.githubusercontent.com/60601773/73888507-ce279080-487e-11ea-924e-22293cc9faf5.png)
![12](https://user-images.githubusercontent.com/60601773/73888513-d089ea80-487e-11ea-88bb-513a9c854352.png)

[2020-02-05 22:24] SashaKalinin commented on #675
появилась папка vendor с файлами в ней
![13](https://user-images.githubusercontent.com/60601773/73888854-789fb380-487f-11ea-8d58-71e40eee739e.png)

[2020-02-05 22:35] SashaKalinin commented on #675
вылезла новая ошибка.conteiner.php 788 строка
![15](https://user-images.githubusercontent.com/60601773/73889507-e9939b00-4880-11ea-9aca-bdad6449dc22.png)

[2020-02-05 22:39] SashaKalinin commented on #675
где-то тут косяк
![16](https://user-images.githubusercontent.com/60601773/73889772-7b9ba380-4881-11ea-8f9b-4c120117a274.png)

[2020-02-06 07:35] SashaKalinin commented on #675
прописал пару решений со Stack Overflow не помогло
php artisan cache:clear
cd /var/ww/html/doika/bootstrap/cache/ rm -rf *.php
ребутнул apache2
ошибка такая же

[2020-02-06 08:08] InaFK opened #676 "Лакальнае разгортванне праекту (натыўнае) пад mac (якар Linux)."
@rizomaa
Пасля запуску composer атрымала памылку http://prntscr.com/qx2fek
Прыйшлося спачатку выканаць п. 7 мануала і нанава запусціць composer
Далей усё пайшло добра - да п.8.
Тут пытанні па стварэнню БД http://prntscr.com/qyajzs.

[2020-02-07 12:01] SashaKalinin opened #677 "Нативная установка проекта Doika"
Дошел до пункта 10, выдает ошибку
![Снимок экрана от 2020-02-07 14-54-41](https://user-images.githubusercontent.com/60601773/74028161-c240e900-49ba-11ea-9213-e09768c4f34b.png)

[2020-02-07 12:03] SashaKalinin commented on #677
что бы я не ввел :
"Разгортваем базу дадзеных камандай php artisan migrate.
Пасля дадаем зыходныя дадзеныя камандай php artisan db:seed
Генерым ключ для laravel: зайсцi у папку doika праз i выканаць php artisan key:generate"
ошибка одинаковая.

[2020-02-07 12:18] SashaKalinin commented on #677
и вот такая ошибка
![Снимок экрана от 2020-02-07 15-18-13](https://user-images.githubusercontent.com/60601773/74029147-19e05400-49bd-11ea-8ec6-ca1d9325e748.png)

[2020-02-07 12:20] SashaKalinin commented on #677
https://github.com/diglabby/doika/issues/165

уже у кого-то была такая ошибка, но я не понимаю как ее решили

[2020-02-07 12:21] SashaKalinin commented on #677
![Снимок экрана от 2020-02-07 15-20-45](https://user-images.githubusercontent.com/60601773/74029305-76437380-49bd-11ea-8813-856711d59d0a.png)

[2020-02-07 12:45] SashaKalinin commented on #677
получилось
![Снимок экрана от 2020-02-07 15-44-28](https://user-images.githubusercontent.com/60601773/74030757-e1db1000-49c0-11ea-9bae-2ac3134531f4.png)

[2020-02-07 12:46] SashaKalinin commented on #677
но после ввода пароля таже ошибка что и выше
![Снимок экрана от 2020-02-07 15-45-19](https://user-images.githubusercontent.com/60601773/74030793-f7503a00-49c0-11ea-8b36-13a0e6a06f0f.png)

[2020-02-07 14:56] SashaKalinin commented on #677
Переустановил все заново.
Делал все 100% по шагам,каждое действие.
и всё равно ошибка.
![Снимок экрана от 2020-02-07 17-55-09](https://user-images.githubusercontent.com/60601773/74039624-37b8b380-49d3-11ea-8593-b019ef0777fe.png)

[2020-02-07 15:16] SashaKalinin commented on #677
попытался найти решение в интернете, ввел выделенную команду,выдало новую ошибку
![Снимок экрана от 2020-02-07 18-14-42](https://user-images.githubusercontent.com/60601773/74041058-fd9ce100-49d5-11ea-9ef1-3ce96ce9d815.png)
![Снимок экрана от 2020-02-07 18-14-49](https://user-images.githubusercontent.com/60601773/74041059-fe357780-49d5-11ea-9aa8-2b112b6ab305.png)

[2020-02-07 15:22] SashaKalinin commented on #676
Введите sudo mysql

[2020-02-08 22:23] InaFK commented on #676
@SashaKalinin, дзякую за дапамогу

@rizomaa, пасля выканання інструкцыі ў п.10
![image](https://user-images.githubusercontent.com/3469516/74092720-fe6a6b80-4ad8-11ea-8521-fa7e7ae4ef3d.png)

выпаў эксэпшн:
![image](https://user-images.githubusercontent.com/3469516/74092718-f4e10380-4ad8-11ea-966a-dc7772206575.png)
дапамагла sql-каманда (from stackoverflow.com):
ALTER USER 'root'@'localhost' IDENTIF

[2020-02-09 06:32] SashaKalinin commented on #676
У меня такая-же проблема.

вс, 9 февр. 2020 г., 1:23 Ina <notifications@github.com>:

[2020-02-09 06:36] SashaKalinin commented on #676
Вы просто ввели это в mysql?
ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY
'123';

вс, 9 февр. 2020 г., 9:31 Alexander Kalinin <sashakalininweb@gmail.com>:

[2020-02-09 11:48] InaFK commented on #676
@SashaKalinin
так:

![image](https://user-images.githubusercontent.com/3469516/74101439-ca2f9300-4b4a-11ea-8b9b-88fd68ad2c7c.png)

вось тут (https://stackoverflow.com/questions/52364415/php-with-mysql-8-0-error-the-server-requested-authentication-method-unknown-to/53881212#53881212) апісаны больш агульны выпадак з password:

![image](https://user-images.githubusercontent.com/3469516/74101464-314d4

[2020-02-09 15:31] SashaKalinin commented on #677
![Снимок экрана от 2020-02-09 18-27-52](https://user-images.githubusercontent.com/60601773/74104897-57361480-4b6a-11ea-845c-8490ca9294b1.png)

[2020-02-09 17:37] Gordonshik commented on #372
Делаю это
Pull request сделаю тогда, когда пойму как он делается. (видимо скоро)

[2020-02-10 19:06] rizomaa commented on #676
@InaFK віншую з усталёўкай.

закрывайце гэту картку, напішу прадалейшыя крокі.

[2020-02-10 19:07] rizomaa commented on #677
@SashaKalinin калі ласка зачыняйце гэту картку, калі вырашылі ўсё, па ёй

[2020-02-10 19:11] #677 closed, assigned to nobody

[2020-02-10 19:12] rizomaa commented on #372
@Gordonshik зачыняйце гэту картку

[2020-02-11 11:32] #676 closed, assigned to nobody

[2020-02-11 11:54] Gordonshik commented on #105
Занимаюсь этим, пока разбираюсь

[2020-02-12 20:27] Gordonshik commented on #105
Не могу разобраться с этим заданием, что-то никак у меня не получается пока что.
По поводу того, что для решения сделал:
1) Сначала посмотрел с помощью инструмента разработчика на элемент
увидел этот readonly="readonly", предположил, что вводить с клавиатуры нельзя именно по этой причине. Удалил ридонли в инспекторе и все заработало.
2) Решив, что надо искать файл с этим инпутом, чтобы удалить рид

[2020-02-13 14:33] rizomaa commented on #105
@Gordonshik дзякуй, што апісалі вашы шляхі рашэння. пакуль мы тады адкладзем гэту картку і папрацуем з іншай. пасля вернеся да гэтай

[2020-02-13 14:46] rizomaa opened #680 "Дадаць апісанне ў гайд, як ставіць віджэт (кліентскую частку) Doika"
1. Зрабіць гайд са скрынамі
2. Размясціць на вікі праекта.
3. Злінкаваць з гайдамі ўсталёўкі.

Што атрымалася знайсці:
Гэты айфрэйм, калі ставіш на старонку і ужо створана першая кампанія, можна выкарыстоўваць:
<iframe width="750" height="500" src="/doika/doika/widget/campaigns/1" frameborder="0"></iframe>

[2020-02-13 18:37] Gordonshik commented on #247
Беру это на себя.
Из вопросов:
1) with сердечко by у меня отсутствует это доделать надо самому или у меня не обновлен проект? понять не могу
2) Language то же самое, отсутствует в хедере и язык изменить не могу.
Быть может это просто дизайн вообще и надо просто сделать with serdechko by Falanster?
Пока по структуре буду смотреть с чем разбираться.

[2020-02-13 18:55] rizomaa opened #681 "Магчымыя альтэрнатывы для бягучага рухавіка франтэнда адмінкі"
Згодна размове з @Tyuba4 узнікла думка больш прапрацаваць тэму адмінкі
Знайшоў спасылку:
https://www.creative-tim.com/blog/web-design/free-dashboards-templates-laravel/

Наколкі складана гэты тэму інтэграваць у сам ларавэль, каб пасля яе пачаць наладжваць?

[2020-02-13 19:38] Gordonshik commented on #247
Пока наверстал саму надпись. Начал делать стили, пока ничего не отображается вообще, пытаюсь разобраться с этим. Гуглю атрибуты, вспоминаю стили. Немного видимо придется почитать про scss.
Увидел связь с props, изучаю способ взаимодействия с ними.
Пришел к выводу о том, что судя по всему создаются переменные в labels.php и в vue-i18n-locales.generated.js, которые используются в качестве строковых

[2020-02-13 19:51] Gordonshik commented on #247
Развидел связь с labels.php и в vue-i18n-locales.generated.js, пытаюсь понять откуда данные поступают.
Уже есть мысль, о других связях.
Но наверное, для начала, я прочитаю https://ru.vuejs.org/v2/guide/components-props.html

[2020-02-14 11:35] rizomaa commented on #247
@Gordonshik для сардэчка карыстайцеся шрыфтам awesome

[2020-02-14 17:22] Gordonshik commented on #247
Пока прочитал про: создание экземпляра Vue, Данные и методы, Хуки жизненного цикла экземпляра, Диаграмма жизненного цикла. И про другие принципы vue, но по структуре пока еще не вкурил. Только больше вопросов возникло после некоторых поисков. Вроде того, что есть два файла footer.vue, у них разные пути, но как они друг с другом связаны пока не очевидно. Кое что общее у них вроде как есть.

[2020-02-16 14:54] SashaKalinin opened #682 "Поле ввода,открытие виджета"
В виджете в поле. где донэйтер может ввести свою сумму вместо 0 лучше написать "іншая сума" і не менять фразу на выбранную сумму із предоставленных, пусть пользователь всегда відіт,что он может впісать свою

[2020-02-17 08:44] Gordonshik commented on #247
Прочитал это: https://ru.vuejs.org/v2/guide/syntax.html#%D0%A1%D1%8B%D1%80%D0%BE%D0%B9-HTML.
Пытаюсь сделать, пока не выходит

[2020-02-17 10:07] Gordonshik commented on #247
Начал по аналогии менять структуру футера во всех файлах и где видел по аналогии передавал переменные по пропсам, уже кучу раз переделывал, пока безрезультатно.

[2020-02-17 12:42] rizomaa commented on #247
@Gordonshik
Я бачу, што вы шмат усяго зрабілі, паспрабуем сістэматызаваць працу.

1. Напішыце алгарытм рашэння, як вы яго бачыце. 1, 2, 3.... пакрокава.
2. Будзем разам думаць...

Як разумею вы спадзяваліся:
1. Знайсці радок пераклада у масівах перакладаў... напрыклад, тут https://github.com/diglabby/doika/tree/develop/resources/lang/be
2. Дадаць атрыбуты у патрэбны кампанент і запоўніць у яго "Фа

[2020-02-17 13:20] Gordonshik commented on #247
@rizomaa
Как раз хотел отписать.
В какой-то момент я увидел такое в Footer.vue({{ $t('labels.admin.common.footer.with') }}), глянул где и что это и вышел на перевод, подумал, что надо объявить там, Дадаць атрыбуты у патрэбны кампанент і запоўніць у яго "Фаланстэр", как и написали
НО!
На данный момент моя логика такая (по шагам)
1. Из того, что я прочел я сделал вывод, что надо от full.vue спустить

[2020-02-18 10:04] Gordonshik commented on #247
Прочитал:
https://ru.vuejs.org/v2/guide/list.html
https://ru.vuejs.org/v2/guide/computed.html
https://ru.vuejs.org/v2/guide/class-and-style.html

[2020-02-18 10:05] rizomaa commented on #247
@Gordonshik пакуль тут трохі прытармозім.

зробім простую задачу (1-2) і вернемся да гэтых

паглядзіце: https://github.com/diglabby/doika/issues/680

[2020-02-18 10:08] rizomaa commented on #682
@SashaKalinin ваша картка дублюе больш раннюю, таму гэту зачыняю. Калі ласка працягвайце тут працаваць https://github.com/diglabby/doika/issues/548

[2020-02-18 10:08] #682 closed, assigned to nobody

[2020-02-18 12:35] Gordonshik commented on #680
То есть по сути нужно визуализировать статью Усталёўка для Распрацоўшчыкаў?
Што атрымалася знайсці:
Гэты айфрэйм, калі ставіш на старонку і ужо створана першая кампанія, можна выкарыстоўваць:
Эта информация где и как должна быть использована?

[2020-02-18 13:11] rizomaa commented on #680
@Gordonshik напісать тэкстам, толькі тыя пункты якія неабхоны для кліентскай часткі.

Вось тут можна прачытаць, што такое "кліенсткая частка" (віджэт)
https://github.com/diglabby/doika/wiki/Слоўнік-праекта

"Інфа" можа быць выкарыстана на старонцы, якую трэба стварыць.

[2020-02-19 08:30] Gordonshik commented on #372
closes #372

[2020-02-19 09:48] Gordonshik commented on #680
@rizomaa то есть я работаю с open server 5.3.5 и нужно написать условно так:
1) Качаем os 5.3.5 отсюда
2) Ставим сюда
3) Открываем это
4) Настраиваем так
5) Запускаем так
6)???
7)PROFIT
Я так понимаю, что это не то, ведь ставится и админка, а вопрос не о ней. Не понимаю, что нужно. С какого шага? Быть может пример?
Потому что я понимаю, что за клиентская часть, и прочитал, но пока я ее установку д

[2020-02-20 11:25] rizomaa commented on #680
@Gordonshik тут ужо пра сэрвер ничога не трэб пісаць.

магчыма задача сфармулавана не вельмі відавочна.

перафармулёўваю.

1. Спачатку паставіць сабе віджэт кліентскай часткі (сама дойка ўжо стаіць)
2. Падшыць сюды скрыншот.
3. Пасля напісаць як гэта зрабілі ў вікі.

Пачынайце пункты 1 і 2. Трэці калі будзе усё зроблена па першым двум.

[2020-02-20 18:15] Gordonshik commented on #680
@rizomaa окей, я понял что имелось ввиду, разобрался.
Тогда такой вопрос, а где этот виджет должен быть?
То есть я уже его вставлял, он появляется, все окей, но он наверное должен быть где-то конкретно? Я под этим подразумеваю то, что я вставил его в app.blade.php, например, и он у меня выше хедера, это же не дело, так?
Или важен сам факт, показать, мол вот я вставил код определенным образом и вот

[2020-02-22 06:44] rizomaa commented on #680
@Gordonshik так, важны толькі сам факт паказаць, як выводзіць віджэт на любой старонцы.

[2020-02-22 18:24] Gordonshik commented on #680
@rizomaa
Сам гайд:
https://github.com/diglabby/doika/wiki/%D0%AF%D0%BA-%D1%81%D1%82%D0%B0%D0%B2%D1%96%D1%86%D1%8C-%D0%B2%D1%96%D0%B4%D0%B6%D1%8D%D1%82-(%D0%BA%D0%BB%D1%96%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D1%83%D1%8E-%D1%87%D0%B0%D1%81%D1%82%D0%BA%D1%83)-Doika
![изображение](https://user-images.githubusercontent.com/51483246/75097233-57e29800-55b9-11ea-8ffe-c95f9b1b584e.png)
Я так понял это имелось вв

[2020-02-23 11:10] Gordonshik commented on #680
@rizomaa добавил в home wiki для разработчиков в конце:
https://github.com/diglabby/doika/wiki

[2020-02-25 14:46] InaFK commented on #500
@rizomaa
Бяру задачу на сябе.
Планую рэалізаваць заданне праз мажлівасць скрываць палітру (пасля выбару колера) праз клік па-за яе межамі.

[2020-02-25 15:04] rizomaa commented on #680
@Gordonshik прывітанне, ці можаш даслаць дакладную спасылку?

[2020-02-25 15:07] rizomaa commented on #372
@Gordonshik ці маеш такую кнопку?

![Selection_002](https://user-images.githubusercontent.com/9870374/75259787-a1212a80-57f9-11ea-9319-faf35bd87775.png)

[2020-02-25 15:12] rizomaa commented on #500
@InaFK перад пачаткам, усё пытанні пішыце, каб у нас было дакладнае тлумачэнне задачы

[2020-02-26 08:38] rizomaa commented on #680
@Gordonshik заўважыў тут https://github.com/diglabby/doika/wiki/Даданне-Doika-на-сайт

Асноўны каментар, ці магчыма зрабіць гайд па-беларуску? Дастаткова лаканічнага адказу, так ці не.

[2020-02-26 08:58] Gordonshik commented on #680
@rizomaa да, сейчас сделаю

[2020-02-26 09:19] Gordonshik commented on #680
@rizomaa перевел, но  на всякий лучше проверить

[2020-02-26 09:21] Gordonshik commented on #372
@rizomaa  не
![изображение](https://user-images.githubusercontent.com/51483246/75330637-7636e500-5892-11ea-88b4-3cf354ded3f2.png)
в других issues вроде было

[2020-02-26 17:31] #372 closed

[2020-02-26 17:42] Gordonshik commented on #492
@rizomaa при открытии ссылки http://it3donate-joomla.falanster.by/ ничего нет,
![изображение](https://user-images.githubusercontent.com/51483246/75371713-49a5bc00-58d8-11ea-855c-b6397795a7ee.png)
в самом виджете кнопки нормально работают
![изображение](https://user-images.githubusercontent.com/51483246/75371752-5cb88c00-58d8-11ea-9bc5-565217700fa4.png)

[2020-02-26 18:05] rizomaa commented on #545
@Gordonshik ці можаш паўтарыць гэты баг?

[2020-02-26 18:05] Gordonshik commented on #545
![изображение](https://user-images.githubusercontent.com/51483246/75373356-347e5c80-58db-11ea-9c1b-8e3782df1be1.png)
@rizomaa ничего никуда не смещается, или быть я чего-то не понимаю?

[2020-02-26 18:06] rizomaa commented on #492
@Gordonshik схіляешся на тое, што джумла псавала стылі?

[2020-02-26 18:07] rizomaa commented on #545
@cema93 на чым тэставаў?

@Gordonshik на якіх браўзераз правяраеш?

[2020-02-26 18:08] Gordonshik commented on #545
@rizomaa
![изображение](https://user-images.githubusercontent.com/51483246/75373815-19f8b300-58dc-11ea-9c73-62be75549579.png)

[2020-02-26 18:11] rizomaa commented on #545
@Gordonshik карыстаешся?

https://www.browserstack.com/?campaignid=359715590&adgroupid=1279831768347842&adid=&msclkid=e1ce91299c7011c550b2cf7f28ee2d7f

яшчэ некальки бразуераў які мімнімум зром + нешта_)

[2020-02-26 18:16] Gordonshik commented on #545
@rizomaa
нет, не пользуюсь
На хроме у меня та же история

[2020-02-26 18:18] Gordonshik commented on #545
@rizomaa на Brave тоже ничего

[2020-02-26 18:46] Gordonshik commented on #492
@rizomaa что-то минимально подобное происходит на долю секунды в Кіраванне/Знешні выгляд в примере компании, но это не совсем то все же, можешь анимацию глянуть сам, если интересно, просто кнопки в результате переключения (наведения) как бы меняют свой план на другой (с переднего на задний и наоборот), но вроде все смотрится вполне презентабельно, совсем не как на скрине.
Джумла или нет не могу ск

[2020-02-27 11:29] Gordonshik commented on #488
@rizomaa почему-то у меня список компаний после создания не отображается, соответственно сколько дней осталось на странице я посмотреть не могу.
При чем ссылка редактирования компании работает.
![изображение](https://user-images.githubusercontent.com/51483246/75440702-4f99ac80-596d-11ea-93b2-ee444621ab7a.png)
![изображение](https://user-images.githubusercontent.com/51483246/75440752-63451300-596d-

[2020-02-27 15:10] Gordonshik commented on #488
@rizomaa при добавлении компании список, как можно увидеть, расширяется, но это не приводит к отображению
![изображение](https://user-images.githubusercontent.com/51483246/75456935-3c4a0980-598c-11ea-9f2d-eac60989957c.png)

[2020-02-28 07:39] rizomaa commented on #488
@Gordonshik так гэта асобны баг. можаш яго вынесці ў асобную issue?

[2020-02-28 07:45] rizomaa commented on #492
@Gordonshik звярні увагу як тут https://www.figma.com/file/RlVbECuyzs25TCVHZ1Sls87E/Doika-module-%D0%BA%D0%BBi%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B0%D1%8F-%D1%87%D0%B0%D1%81%D1%82%D0%BA%D0%B0?node-id=0%3A1
(гэта пакінула @nastyafrosty арыентуемся як на шаблон для праўкі)

Трэба падправіць
1. Стылі межаў і падсветкі, дзе кнопкі сустракаюцца.
2. Таксама паглядзець магчыма замяніць самі кампаненты на б

[2020-02-28 07:46] rizomaa commented on #680
@Gordonshik зачыняй картку, дзякуй!

[2020-02-28 07:47] rizomaa commented on #545
@Gordonshik паспрабуй, для фронтэдндзера гэта вельми добра штука. Калі спатрэбіцца больш браузераў кажы, у нас ёсць поўны акаўнт.

[2020-02-28 15:10] Gordonshik commented on #492
@rizomaa я на фигме такое нашел, теперь мне не понятно, окей я нашел уже что и где, но что от меня ожидается? вот на моем скрине я сдвинул в виджете кнопки
![изображение](https://user-images.githubusercontent.com/51483246/75558713-47b43800-5a53-11ea-8889-7af6500ffdb4.png)
 но что делать с border, мне сделать так, чтобы они выглядели с розовыми border и он был всегда так виден
![изображение](https:

[2020-02-28 15:11] Gordonshik commented on #488
@rizomaa не вопрос, сделаю, только сейчас гляну как эти issue делаются.

[2020-02-28 15:41] Gordonshik opened #684 "Пры стварэнні не адлюстроўваецца кампанія ў спісе кампаній"
1. Заходим http://localhost/doika/doika/dashboard/campaigns/create заполняем формы нажимаем стварыць
![изображение](https://user-images.githubusercontent.com/51483246/75561064-6b797d00-5a57-11ea-807c-10ae7b61c45b.png)
2. Заходим http://localhost/doika/doika/dashboard/campaigns и видим, что в таблице стало на одну строку больше, но нет информации ни по одному из столбцов
![изображение](https://user

[2020-02-28 15:41] Gordonshik commented on #488
@rizomaa сделал

[2020-02-28 16:06] Gordonshik commented on #545
@rizomaa мне дальше как действовать если на моих браузерах нет этого?
Если аккаунт есть и мне он потенциально понадобится в стажировке- предлагаю расшарить, потому что там на каждый браузер 1 минута, а мне еще разобраться с этим надо будет как и что работает. Если это действительно время сэкономит.

[2020-02-28 16:26] rizomaa commented on #545
@Gordonshik акей. расшару.
пакуль гэту картку адкладваем. трэба каб пацвердзіўся баг, або дэталізаваны @cema93 са скрынамі.

дзякуй, што тут парыўся

[2020-02-28 16:32] rizomaa commented on #684
@Gordonshik мы знайшлі карнявую багу перад тым, як зрабіць https://github.com/diglabby/doika/issues/488

Таму прыярытэт на гэту ішус. Папярэднюю пакуль выключаю

[2020-02-28 16:40] rizomaa commented on #492
@Gordonshik колеры павінны наладжвацца праз адмінку. у тым ліку і межы.

Так з большаўа маеш рацыю, аналіз дапамог):

1. Калі ласка зрабі, як на макеце межы кнопак.
1.1. Калі нічога не абрана межы застаюцца. Кнопкі белыя.
1.2. Калі абраны адзін з варыянтаў межы знікаюць і выдзеленая клавіша чёмнага колеру.
2. Колеры межаў будуць такія ж як і колеры прыціска "Ахвяруй" (Іншымі словамі яны павінны па

[2020-03-01 20:49] Gordonshik commented on #492
Пока со стилями кнопок разобрался. Сделал вроде как по красоте, но в настоящее время разбираюсь с этим кожны месяц или разава, розовый бордер сделал, при clicked он исчезает, вопрос в том, что надо сделать, чтобы и у второго исчез этот бордер. Я так понимаю, что надо js написать что-то типа:
if(я нажимаю на кнопку а){
кнопка б теряет бордер
}
Ну и наоборот. Пока не могу найти где такую функцию пис

[2020-03-02 11:20] rizomaa commented on #492
@Gordonshik
Мо ты ўжо глядзеў у джээсе гэта eventListener у Vue
https://vuejs.org/v2/guide/events.html  (v-on)
Я яшчэ  тут нарошчаюц веды таксама

зы
Наконт як рабіць: па дызайну (мы паважаем яе працу, таму тут важна быць пасля доўным),
Як зробіш асноўнае заданне і вельмі хочацца паказаць свой варыянт, тады стварай брэнчы для A/B тэста =)

[2020-03-02 15:19] Gordonshik commented on #492
@rizomaa да, про v-on читал, как в реакте условном onClick, это я понимаю, просто пока не всегда помню и по-прежнему часто думается категориями ванильного js, так скажем.
Проблема как обычно не в том, что я не знаю, что надо сделать. Я представляю все эти ивентлисенеры и т.д. Я не могу найти компонент нужный куда его вписать и как это соединить все, у меня с этим проблема скорее.
По поводу дизайна

[2020-03-03 19:12] nastyafrosty commented on #492
@Gordonshik @rizomaa привет! Розовым бордером кнопки подсвечиваются, когда юзер ничего не выбирает и выскакивает ошибка. другое дело,что можно дизэйблить кнопку Ахваруй, пока не выбраны значения. Темный bg это active, т.е выбранное значение

[2020-03-03 20:33] Gordonshik commented on #492
@nastyafrosty привет, понял. Переделаю.
@rizomaa Ура, я понял, что все же это MainWindow, спасибо Vue Devtools за это, буду змагацца.

[2020-03-04 07:32] Timatiklive opened #685 "Не могу установить на open server"
Во время установки Doika на open server windows по инструкции столкнулся с ошибкой. После команды php artisan migrate - ошибка (на фото)  Еще смущает.ENV в котором, мне кажется, тоже может быть нюанс, больше смущает его имя. (Фото)

<img width="334" alt="2" src="https://user-images.githubusercontent.com/60982663/75855439-60ca3980-5e03-11ea-8df8-e6c72c4dfb80.PNG">
<img width="358" alt="1" src="http

[2020-03-04 11:49] rizomaa commented on #685
@Timatiklive
якое дакладна імя щ файла канфігарацыі і дзё ён ляжыць?

наконт паведамлення, што вы маеце шмат адказаў можа быць пытанне. а шт овы спрабавалі?
напрыклад:
https://laracasts.com/discuss/channels/forge/it-is-unsafe-to-run-dusk-in-production-error-when-trying-to-deploy?page=1#reply=367103

[2020-03-05 20:03] Gordonshik commented on #492
@rizomaa
![изображение](https://user-images.githubusercontent.com/51483246/76020560-b3574300-5f34-11ea-9b99-455c68b36c3b.png)
![изображение](https://user-images.githubusercontent.com/51483246/76020638-d3870200-5f34-11ea-93f3-24ccc2a0e73a.png)
Вроде все по дизайну. Кнопки в btn-group засунул, края острые теперь между ними. color розовым у кнопок платеж и подписка сделал. Плюс эти кнопки на скрине с

[2020-03-05 20:08] nastyafrosty commented on #492
@Gordonshik вижу нюанс, о котором мне тоже сказали в свое время: у инпута, куда вводится желаемая кастомная сумма, не должно быть такой тени,как у кнопок, потому что это не кнопка. на макете у меня легкая внутренняя тень. посмотри,пожалуйста

[2020-03-05 20:55] Gordonshik commented on #492
@nastyafrosty this? У меня уже с глазами что-то
![изображение](https://user-images.githubusercontent.com/51483246/76024590-6d9e7880-5f3c-11ea-84f2-6bd6a74a90cd.png)

[2020-03-05 21:25] nastyafrosty commented on #492
@Gordonshik угу, и может сделать закругление,как и у всех элементов?

[2020-03-06 19:55] Gordonshik commented on #492
@nastyafrosty ну, смотри сама. Правда интересно почему тогда тени не должно быть как у других элементов? Я просто пытаюсь понять алгоритм, мне казалось, что все должно быть выдержано в одном стиле или как это делается, я не знаю просто)
![изображение](https://user-images.githubusercontent.com/51483246/76117649-3e037500-5ffd-11ea-8b50-c38ab67253da.png)

[2020-03-06 20:57] nastyafrosty commented on #492
@Gordonshik тень не нужна ,потому что это поле ввода, оно,конечно,может якобы выступать, но не совсем логично. кнопки же это тот элемент, который в реальном мире выпуклый,имеет тень.

[2020-03-06 21:10] Gordonshik commented on #492
@nastyafrosty имеет смысл. Ну, я так понял с виду все окей?

[2020-03-08 08:30] Timatiklive commented on #685
Добрый день!
1. имя файла .env.example (пробовал test.env) лежит тут: D:\OSPanel\domains\localhost\doika
2. перечитал кучу форумов и русскоязычных и англоязычных, толком решения не нашёл, хоть эта проблема не только у меня. Пробовал с самого начала composer install, но все остается (думал, что ошибка при установке произошла, так как ненадолго потерял соединение) Сейчас буду ещё гуглить

[2020-03-08 08:56] Timatiklive commented on #685
попробовал composer install еще раз. такая же ошибка
<img width="658" alt="Снимок" src="https://user-images.githubusercontent.com/60982663/76159664-dd2a8880-6133-11ea-9757-6f1842b6cc22.PNG">

[2020-03-08 09:19] Timatiklive commented on #685
Эффекта нет...
<img width="533" alt="2" src="https://user-images.githubusercontent.com/60982663/76159973-00a30280-6137-11ea-982b-1f58f79c0752.PNG">

[2020-03-08 19:57] Gordonshik commented on #684
Пока не понимаю с чего начать, пытался с vuetools разобраться, но пока никакого эффекта не дало.

[2020-03-08 20:22] Gordonshik commented on #492
@rizomaa Вопрос такой, я менял кое-что в widget.css, но мой github desktop не фиксирует изменения в этом файле. Как мне эти изменения передать по реквесту в таком случае? В интернете внятного не нашел вроде

[2020-03-09 18:15] rizomaa commented on #685
@Timatiklive ці скапіравалі файл .env.example у .env ?

[2020-03-09 18:19] rizomaa commented on #492
@Gordonshik наогул для пачатку раю карыстацца git bash :
1. будзеш бачыць усё, як адбываецца.
2. зможаш хутчэй знаходзіць багі ў тым ліку адказы па ім.
3. калі ўся матчастка па гіту будзе засвоена на практыцы (1 год + ) можа пераходзіць на юай розныя=)

наогул мне дапамагае `git add *` ці `git add .` амаль заўсёды)

[2020-03-09 18:55] rizomaa commented on #684
@Gordonshik я таксама пароюся з гэтай задачай.

Фронт:

1. Адчыняю рэп і знаходжу кампанент https://github.com/diglabby/doika/blob/develop/resources/js/dashboard/views/Campaigns.vue

2. У ім метад: dataLoadProvider - на мой погляд гэта тое, што загружае дадзеныя. Гэта трэба чэкнуць, якія data вяртае, і тады можна рабіць прамежкавую выснову.

3. Наогул ці правяраў базу калі націскаеш дадаць кампані

[2020-03-09 19:28] rizomaa commented on #681
Вось такія бібліятэчкі трапіліся на руку
https://vuetifyjs.com/en/
https://bootstrap-vue.js.org/
https://element.eleme.io/#/en-US

[2020-03-10 05:57] Timatiklive commented on #685
Доброе утро! Попробую ещё раз! Полное имя файла с расширением должно быть таким: ".env" или ".env.env" спасибо!

[2020-03-10 20:30] Timatiklive commented on #685
Все получилось! Спасибо! Начудил с именами файлов .env
Готов к дальнейшим подвигам! :)
<img width="491" alt="4" src="https://user-images.githubusercontent.com/60982663/76356507-1a0aa100-6327-11ea-92d6-68a562d4824d.PNG">

[2020-03-11 08:09] rizomaa commented on #685
@Timatiklive супер. Тады я зачыняю гэту карту. Можаце праглядзець спіс адкрытых ішус.
https://github.com/diglabby/doika/issues

працягнем перапіску поштай.

[2020-03-11 08:09] #685 closed, assigned to nobody

[2020-03-11 11:06] rizomaa commented on #684
@Gordonshik ёсць дзве навіны, абедзве харошыя.

1. Харошая навіна 1. Пры даданні кампаніі, яна трапляе ў базу, але пакуль не выводзіцца. Што гэта значыць?
![Selection_001](https://user-images.githubusercontent.com/9870374/76409576-99d45200-639f-11ea-822b-cbbc1dadc356.png)

2. Хароша навіна 2. Гэта значыць, што мы звужаем скоўп пошука памылкі (які абазначыў тут https://github.com/diglabby/doika/iss

[2020-03-11 11:16] rizomaa commented on #684
Мяне панесла... працягваю лав сторы з гэтай карткай =)

1. Праверыў кансоль браузера.

`dashboard.js:122443 [Vue warn]: Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "busy"

found in

---> <BDatatable> at resources/js/dashboard/components/Plugins/**

[2020-03-11 14:08] Gordonshik commented on #684
@rizomaa попробую, конечно придется неслабо мозгами пораскинуть, но я постараюсь.
За проделанную работу - спасибо, интересный анализ. Самому было интересно почитать о том, как кто-то со стороны это делает.

[2020-03-12 10:02] rizomaa commented on #681
Найбольш аптымальныя на мой погляд:

SB Admin Laravel 5
LaraAdmin +
https://github.com/silverbux/laravel-angular-admin +
https://github.com/BRACKETS-by-TRIAD/craftable +
https://github.com/rappasoft/laravel-boilerplate

[2020-03-13 14:28] rizomaa commented on #684
Падзялюся наступнымі болямі і дасягненнямі.

1. Пасля учорашняй сустрэчы і парады ад @Tyuba4 капаць у бок <b-table> я прачытаў пару арктыкулаў пра slot-scope (дарэчы зараз ужо іншы сінтаксіс https://vuejs.org/v2/guide/components-slots.html#Deprecated-Syntax)

Самі артыкулы.
- https://vuejsdevelopers.com/2017/10/02/vue-js-scoped-slots/
- https://www.smashingmagazine.com/2019/07/using-slots-vue-js/

[2020-03-16 14:53] rizomaa commented on #684
Весткі з палёў

1. Працягваю пошукі з мінулага разу. В'ю тулса паказвае дзіўны з'явы... Напрыклад, бачна як звязваюцца элементы items з функцыяй правайдэрам.

![Selection_008](https://user-images.githubusercontent.com/9870374/76770195-96c9cf00-67ae-11ea-8ee2-369bb53cfa9b.png)
Гэта ляжыць у массіве props, калі перамесіцмся ніжэй у метада data(), убачым іншую цікавую з'яву...

2. Тут адлюстрозваецца

[2020-03-16 16:44] Gordonshik commented on #105
https://stackoverflow.com/questions/17825537/how-to-make-a-input-field-readonly-with-javascript
![изображение](https://user-images.githubusercontent.com/51483246/76683522-bf6a9100-6615-11ea-9fb9-72437bd2b4fd.png)

пробовал сделать как тут, потому что просто убрать readonly не выходит
![изображение](https://user-images.githubusercontent.com/51483246/76683479-6bf84300-6615-11ea-9d8b-56fce813d0ab.png

[2020-03-16 19:17] Tyuba4 commented on #684
@rizomaa Пока результатов никаких, попробую сейчас тоже позаменять slotы

[2020-03-16 19:23] Tyuba4 commented on #684
@rizomaa Что за тулза для Vue?

[2020-03-16 19:23] Gordonshik commented on #684
@rizomaa да по сути статью перелопатить, field-slots актуализировать

[2020-03-16 19:24] Gordonshik commented on #684
@Tyuba4 расширение для браузера Vue Tools

[2020-03-16 19:24] Gordonshik commented on #684
@Tyuba4
![изображение](https://user-images.githubusercontent.com/51483246/76792833-eb804080-67d4-11ea-8224-f401e1d057a6.png)

[2020-03-16 19:48] Tyuba4 commented on #684
@Gordonshik Спасибо

[2020-03-16 20:18] Tyuba4 commented on #684
@rizomaa @Gordonshik Если залезть в отладчике в `<BTable>` глубже то имеем массив с двумя пустыми членами
![Снимок экрана 2020-03-16 в 11 16 06 ПП](https://user-images.githubusercontent.com/32882913/76796436-79abf500-67dc-11ea-9100-80b03abe6ea8.png)

[2020-03-17 10:19] rizomaa commented on #684
@Gordonshik @Tyuba4 важная фішка дата правайдэр. Я пакуль яго перапісаў. Таму мае скрыны менавіта з новага датаправайдэра. Сёння пазней выкачу ПР.

@Tyuba4 а што ў цябе ва ўкладцы data?

[2020-03-17 10:30] rizomaa commented on #105
@Gordonshik а гэты datepicker натыўны, або бібліятэка? адчуваю. што бібліятэка. якая, ведаеш?

[2020-03-17 12:02] Gordonshik commented on #105
@rizomaa http://eonasdan.github.io/bootstrap-datetimepicker/#time-only
Наш:
![изображение](https://user-images.githubusercontent.com/51483246/76854444-1ebbe180-6860-11ea-8ac6-d8280c0ec76b.png)
а на том только это написано:
![изображение](https://user-images.githubusercontent.com/51483246/76854519-490d9f00-6860-11ea-956a-c2a14a07ff99.png)

[2020-03-17 12:12] Gordonshik commented on #684
@Tyuba4 там столько членов, сколько созданных компаний

[2020-03-17 14:34] rizomaa commented on #684
@Gordonshik @Tyuba4 рашэнне прапанаваў, глядзіце

@Tyuba4 можаш глянуць код і прыняць гэты рэквэст.

[2020-03-17 14:39] rizomaa commented on #684
зы
Рабіў усё з мінімальнай колькасцю правак, але яе бы змяніў падыход і спрасціў шаблоны. Але хай пакуль будзе гэты. Можа калі абкатаемся на некалькіх задачах яшчэ, зробім спрашэчнне

[2020-03-17 18:48] rizomaa opened #689 "У рэпе перазахоўваюцца выявы пры тэставанні стварэння кампаній storage/public/uploads"
Трэба дадаць гэту тэчку storage/public/uploads у гіт ігнорэ

[2020-03-17 18:50] rizomaa commented on #689
https://github.com/diglabby/doika/pull/688

[2020-03-18 19:59] Gordonshik commented on #105
Сейчас положняк такой:
дзякуй документации я осознал, что эта вещь фиксится, и как оказалось достаточно просто, надо лишь...
Надо лишь ввести button-only вместо data-input в теге инпут датапикера, воть так:
было
![изображение](https://user-images.githubusercontent.com/51483246/77002010-e30e3e00-696b-11ea-8f59-dba0eb34b29e.png)
стало
![изображение](https://user-images.githubusercontent.com/51483246

[2020-03-18 20:04] Gordonshik commented on #105
Ах, ну да, батон-онли оказалось отключает кнопку, удивительно, ищу дальше

[2020-03-19 08:50] Tyuba4 commented on #684
@rizomaa А ты проверял этот пул, у тебя все заработало?

[2020-03-19 09:37] rizomaa commented on #684
@Tyuba4 каншне =) спецом зрабіў свежую ўсталёўку з develop. у цябе ёсць пытанні па працы фічы?

[2020-03-19 19:24] Gordonshik commented on #684
@rizomaa  закрываем?

[2020-03-20 10:53] rizomaa commented on #684
@Gordonshik так зачыняем. але перад гэтым трэба склейваць рэквэсты. апісаў у самім ПР

[2020-03-20 10:54] rizomaa commented on #684
стоп.. у Виктара пытанне...
@Tyuba4 як у цябе там атрымалася прымяніць?

@Gordonshik дарэчы у цябе працуюць змены?

[2020-03-20 11:43] rizomaa commented on #487
Вітаю,

Ішус карэлюе з маёй папярэдняй #684 . Што мы бачым:
![Selection_001](https://user-images.githubusercontent.com/9870374/77159584-b155be00-6ab6-11ea-878f-9899e48203eb.png)

Гэта кнопка павінна быць стартавым механізмам выдалення.

Што зрабіць:
- [x] Знайсці эндпоінт для выдалення кампаніі php artisan route:list
- [ ] Вызначыць спосаб, якім будзе выдаляцца. Функцыя ў methods , паразважаць ці

[2020-03-21 08:49] Gordonshik commented on #684
@rizomaa да, вроде все окей

[2020-03-21 09:04] Gordonshik commented on #123
Не понятно где этот модуль payments, пооткрывал все в меню, но такого модуля не нашел, где он вообще?

[2020-03-21 09:53] Gordonshik commented on #105
Продолжаю изучать данный вопрос:
1. В документации увидел такую строчку: By default, <b-form-datepicker> returns dates as a string in the YYYY-MM-DD format, which is the same format returned by native browser <input type="date"> controls.
В нашем DateTimePicker написано в инпуте type="text"
Опустился вниз CampaignForm, так это:
![изображение](https://user-images.githubusercontent.com/51483246/7722

[2020-03-21 18:39] rizomaa commented on #105
@Gordonshik мне найбольш гэта штука з усяго падабаецца. Ці глядзеў тут?
https://bootstrap-vue.js.org/docs/components/form-datepicker/#button-only-mode

[2020-03-21 18:47] rizomaa commented on #123
@Gordonshik тут апісанне задачы трэба адрамантаваць

1.
Payments = Спіс ахвяраванняў (дадаў гэта ў апісанне карткі.)
Па спасылцы: http://doika2/doika/doika/dashboard/transactions

2. Трэба зрабіць 3-4 тэставых плацяжа (можна проста не рэкурэнтных).

3. Пасля з'явіцца спасылка на кампанію па яко зроблены данат.

4. Там згодна з апісаннем убачыш кнопку, якую трэба схаваць.

На мой погляд сама задача

[2020-03-21 18:54] Gordonshik commented on #105
@rizomaa да, два комментария назад. Что-то не получилось тогда, попробую еще

[2020-03-21 19:04] rizomaa commented on #105
@Gordonshik дзякуй.
1. па магчымасці пакідай прамыя лінкі на сорсы. бо я не злавіў гэтысорс. праз пошук на старонцы.
2. калі нешта імплеменціш, посці код тэкстам, так зручней глядзець на магію=)

зы
калі бачу занадта шмат блытанага коду, бяру чыстую кампаненту ў дакументацыі. так прасцей рабіць рэверс інжынірынг і знаходзіць працоўнае рашэнне.

у мяне чэшуцца рукі пакалупацца з тваёй задачай, але

[2020-03-21 19:04] Gordonshik commented on #123
@rizomaa тестовые платежи через виджет делается, так?

[2020-03-21 19:09] rizomaa commented on #123
@Gordonshik

Праз віджэт зараз або базу наўпрост.

Але будзе прафесійней:
1. Спачатку занесці наладкі bepaid у модуль.
2. Пасля ўсталяваць на нейкай старонцы віджэт і праз яго пракруціць плацяжы.

ЗЫ
Таксама важна пагартаць вікі, дзесці былі дадзеныя для тэставых плацяжоў там)