[2020-03-21 19:13] Gordonshik commented on #123
@rizomaa дадзеные эти посмотрел уже, да, буду разбираться

[2020-03-23 15:33] Gordonshik commented on #105
Пытаюсь интегрировать новый датапикер, пытался и в код вставить того датапикера в код campaignform.vue, ничего не получилось.
Далее создал новый компонент и туда занес датапикер, чтобы его уже передать по export-import  <new-time-picker /> но ничего все равно не выходит, проблема в том, что как я его не интегрирую, все время кнопка самого датапикера куда-то исчезает и пока что мне не совсем понятн

[2020-03-23 17:52] rizomaa opened #690 "Прыбраць памылку з кансолі"
З'яўляецца пры загрузцы старонкі.
Індыкатар кансолі:
dashboard.js:122400 [Vue warn]: Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "busy"

[code]
Старонка спісу кампаній `/doika/doika/dashboard/campaigns`

Чакаемы вынік: кансоль не паказвае памылкі.

[2020-03-23 18:43] rizomaa opened #691 "Пачысціць warnings, якія выдае npm пры зборцы"
[code]

[2020-03-23 19:26] rizomaa commented on #487
1. Хаця ў кампаненце стаіць   let { data } = await axios.post(this.$app.route(this.actionRoute)
Буду рабіць праз прамы доступ да эндпоінта па яго шляху.   | DELETE   | doika/dashboard/api/campaigns/{campaign}                   | dashboard.campaigns.delete

2. Выкарыстоўваюць ужо бібліятэку тады магчыма не буду мучаць ізітостам. Пагляджу як гэта працуе. window.swal .... паглядзеў. не ведаю, як яго

[2020-03-24 18:20] Gordonshik commented on #123
Что-то не то может делаю, но пока что через виджет платежи не появляются. При чем ни в списке компаний не появляется изменений, ни в списке ахвяраванняу.
Думал проблема в том, что срок компании уже прошел, но изменил, до конца 6 дней, но все равно ничего не меняется. При чем сам виджет из компании информацию получает, текст, название и т.д.
Было бы неплохо еще проверить у других как и что.

[2020-03-25 07:29] rizomaa opened #692 "Пытанні па архітэктуры і інфраструктуры праекта (бэкэнд)"
1. Якую функцыю зараз выконвае тэчка: https://github.com/diglabby/doika/tree/develop/resources/views ? Можам яе закрыць?

2. Ці гатовы докер для карыстання? https://github.com/diglabby/doika/tree/develop/docker Я удмаю памясціць мэйк файлы ў тэску з докерам, каб яны не поўзалі у корні, гэта не апшкодзіць логіку працы з імі?

3. Хацелася б тэставаць API падчас працы з франтом. Калі мы пачнем новы ф

[2020-03-25 07:38] alies-dev commented on #692
@rizomaa
1. У https://github.com/diglabby/doika/tree/develop/resources/views  ж ляжаць віюхі якія рэнрэрыць Лапавел (не vue). Выдаляць катэгарычна нельга - там ляжыць каркас прыкладання і некаторыя старонкі якія рэндэрыць Лапавэль (напрыклад аўтарызацыя)
1. Па докеру- пытанне да Лешы, ен яго ствараў. Наколькі памятаю былі праблемы на шляхам для рэсурсаў і URL старонак (кшталту /doika/doika )
1. Аў

[2020-03-25 07:57] rizomaa opened #693 "Пытанні па архітэктуры праекта (фронт энд)"
1. Як бачна, для фронтэнда бралася гатовы скрыпт і пасля дапрацоўваўся і перапрацоўваўся. Цікава атрымаць спасылку на аргінальны скрыпт.
2. Дзе вызначаецца $app і якую нагрузку яна нясе для праекта this.$app.route(this.searchRoute)? Напрыклад, ў гэтай кампаненце .https://github.com/diglabby/doika/blob/develop/resources/js/dashboard/components/Plugins/DataTable.vue Неяк хочацца па полачкам, бо вель

[2020-03-25 08:01] rizomaa commented on #692
@lptn дзякуй за хуткі адповяд. доступы да гэтага каркаса такія ж як і для дэмкі на франце?

[2020-03-25 09:35] alies-dev commented on #692
@rizomaa
не зусім разумею пра што ты, але думаю адказ станоўчы, бо доступы паўсюль аднолькавыя

[2020-03-25 14:02] #684 closed, assigned to rizomaa, Tyuba4, Gordonshik

[2020-03-27 15:17] Gordonshik commented on #105
Короче говоря по сто раз пытался со свойствами разобраться, менять их, ничерта не работает. По сути, что я тот из документации компонент беру, что пытаюсь изменить уже встроенный в проект результат один - появляется возможность писать в инпут, но исчезает функция выбора datapicker при клике на инпут.
Есть мысль вызов привязать к клику на кноку календаря, а инпут просто оставить, попробую так сдела

[2020-03-28 18:03] rizomaa commented on #487
Нарэшце дазрэў:

Вось пулрэквэст https://github.com/diglabby/doika/pull/695

Якія ўрокі з рашэння задачы:
1. Пастаяннае вывучэнне дапаможнай бібліятэкі https://bootstrap-vue.js.org/. Яна вельмі магутная, але не апісана ў стэку (дадаў старонку ў вікі, можна там [паціху запаўняць](https://github.com/diglabby/doika/wiki/%5BDevelopment%5D-Frontend)). Наогул галячок з апісаннем часта выкарыстоўваемых б

[2020-03-28 18:08] rizomaa commented on #490
З гэтых трох месцаў:

![Selection_008](https://user-images.githubusercontent.com/9870374/77830194-ece82c00-7137-11ea-99c7-4df3a14d948c.png)
![Selection_009](https://user-images.githubusercontent.com/9870374/77830237-44869780-7138-11ea-9411-380e36b8baa0.png)
![Selection_010](https://user-images.githubusercontent.com/9870374/77830239-46505b00-7138-11ea-84c0-6cbf011f0e8c.png)

[2020-03-28 18:13] rizomaa opened #696 "Скараціць назвы палёў табліцы Кампаніі"
Назва кампаніі  -> Назва
Статус кампаніі -> Статус
Ахвярадаўцы -> Ахвярадаўцы
Падпіска -> Падпіска
Сярэдні чэк -> Сяр. чэк
Сабраная сума -> Сабр. сума
Колькасць дзён да заканчэння -> Дзён да заканчэння
Дзеянні ->

[2020-03-28 18:19] rizomaa opened #697 "Занесці ў масіў перакладу некалькі радкоў з DataTable.vue або ўзяць гатовыя радкі іпадставіць пераменныя"
title: this.$t('labels.admin.common.confirmation'),
        text: "Выдаленая кампанія больш не ўзновіцца. Усе падпіскі прыпыняцца!",
        icon: "warning",
        buttons: ["Адмена", "Выдаліць!"
        ]

[2020-03-28 18:29] rizomaa commented on #655
@lptn дзякуй за адповяд. паставіў некалькі разоў яшчэ. бага знікла. проста буду мець на ўвазе, бо гэта паўтаралася і ў @Tyuba4

пакуль зачыня. ішус

[2020-03-28 18:36] rizomaa commented on #123
@Gordonshik

Некалькі пытанняў да цябе.

1. Наогул самі плацябы праходзяць без праблем?
2. Ці захоўваюцца ў цябе наладкі пацёжнага шлюза ў самім модулі? бо дзесці бачыў ішшу #550 што яны наогул не запісваюцца.
3. Дарэчы ў самой таліцы базы звестак з'яўляюцца плацяжы?

[2020-03-28 18:39] rizomaa commented on #550
Адчуваю, што гэта гарачы піражок становіцца.

[2020-03-28 18:39] #655 closed, assigned to rizomaa

[2020-03-28 18:43] rizomaa commented on #692
@lptn я пра гэта "У https://github.com/diglabby/doika/tree/develop/resources/views ж ляжаць віюхі якія рэнрэрыць Лапавел (не vue). Выдаляць катэгарычна нельга - там ляжыць каркас прыкладання і некаторыя старонкі якія рэндэрыць Лапавэль (напрыклад аўтарызацыя)"

Там тая самая (лагін, пароль) аўтарызацыя як на адмінку толькі натыўная для ларавэль, так?

[2020-03-28 18:56] rizomaa commented on #247
Вітаю, @Gordonshik

Падкажы калі ласка, ці змэрджылі мы гэту задачу?
Бо нешта гляджу ПР https://github.com/diglabby/doika/pull/683 Ён проста стопнуты.

[2020-03-28 19:18] rizomaa commented on #500
@InaFK абнавіце калі ласка тут інфармацыю? як ідзе праца з задачай?

[2020-03-28 19:26] rizomaa commented on #680
@Gordonshik прывітанне,

Пачаў ставіць па [твайму гайду](https://github.com/diglabby/doika/wiki/%D0%94%D0%B0%D0%B4%D0%B0%D0%BD%D0%BD%D0%B5-Doika-%D0%BD%D0%B0-%D1%81%D0%B0%D0%B9%D1%82) віджэт узнікла некалькі пытанняў:

1. Чаму трэба капіраваць код айфрэйма ў хэдэр html файла. Наколькі я ведаю гэта служовая частка разметкі для падключэння стыляў, бібліятэк, розных шруфтоў, кадыровак ці метатэгаў. А

[2020-03-28 19:27] rizomaa commented on #492
@Gordonshik хачу пратэсціць вылез залежны таск https://github.com/diglabby/doika/issues/680 як яго улагодзім зможам чэкнуць і зачынік ішу.

Дзякуй за працу)

[2020-03-28 19:38] rizomaa commented on #550
@cema93

У мяне візуальна пры запаўненні нічога не мяняецца наогул. Цікава

У мяне ў кансолі (Network->XHR->Response) даволі цікавы вынік:
`{"settings":{"gateway_bePaid_idMarket":"123","gateway_bePaid_keyMarket":"2342134123412341234","termsOfUse":"<p>\u0413\u044d\u0442\u0430 \u0443\u043c\u043e\u0432\u044b \u043a\u0430\u0440\u044b\u0441\u0442\u0430\u043d\u043d\u044f \u043f\u0440\u0430\u0432\u0430\u

[2020-03-28 19:48] rizomaa commented on #595
закрою. бо пакуль зусім не прыярытэтная

[2020-03-28 19:48] #595 closed, assigned to nobody

[2020-03-28 19:54] #52 closed

[2020-03-28 20:06] rizomaa commented on #550
План рэалізацыі:

- [x] 1. Знайсці апрацоўшчкі на бэкэндзе.
- [x] 2. Знайсці апрацоўшчыкі на франце.
- [x] 3. Праглядзець як справы ў базе.
- [x] 4. Паглядзець метад pending і props -> checked.
- [x] 5. Падумаць, якія паведамленні зрабіць пры паспяховым запісу або непаспяховым можна дадаць (ці ёсць ўжо пастаўленыя бібліятэкі, або самаму паставіць)
- [x] 6. Пратэставаць

[2020-03-29 10:11] Gordonshik commented on #490
Вопрос такой, это все тут я так понимаю как временной мерой подается, так? Типа пока не разобрались надо это прикрыть? То есть надо сделать так, чтобы их просто не было видно?
Еще вопрос отдельно по гитхабу, я ни в инете не нашел, ни сам додуматься не могу. Как в in progress это все дело перенести?

[2020-03-29 17:45] Tyuba4 commented on #578
@lptn @rizomaa Платеж вроде происходит нормально, но почему-то нет перенаправления на страницу благодарности, когда виджет находится в iframe, в обычном режиме все ок. Также не отбиваются webhooks, но это скорее всего из-за того, что я на локалке

[2020-03-30 07:30] alies-dev commented on #578
@Tyuba4
так, на лакалку веб-хукі не прыйдуць, трэба юзаць Ngrok ці падобныя тулы

што за памылка дакладней - трэба глядзець у логах

[2020-03-30 08:02] Tyuba4 commented on #578
@lptn Дак серверной ошибки нет, есть факт отказа браузера перенаправлять пользователя на страницу успеха операции.

[2020-03-30 08:37] rizomaa opened #698 "Дзе запісваецца рэжым тэставага плацяжу?"
Гляджу тут на старонцы наладак ёсць гэта поле. Але ў табліцы ня бачна.

@lptn падкажаш, як зараз арганизавана гэта частка?

[2020-03-30 08:42] alies-dev commented on #698
@rizomaa
прабач, не памятаю

[2020-03-30 08:52] rizomaa commented on #550
@cema93 праглядзеў гэту ішус,
з кансолі прыбраў памылкі.
пакуль тут не магчыма паўтарыць тваю памылку.

Але ёсць канешне іншыя заўвагі:
1. Як і дзе захоўваецца рэжым тэставых плацяжоў (у табліцы settings няма)
2. Даволі блытаная логіка ў switcher, магчыма там прыёдзецца перапісаць кампаненту і прыбраць кучу непатрэбных залежнасцяў.

Гэта на асобныя задачы.

зы
Світчэр трэба будзе раскурваць. Бо бе

[2020-03-30 08:52] #550 closed, assigned to rizomaa, Gordonshik

[2020-03-30 08:55] #594 closed, assigned to fr0zen

[2020-03-30 08:55] rizomaa commented on #594
няма ходу картцы, таму зачяняю. будзе пытанне больш актуальным адкрыем нанова

[2020-03-30 09:13] rizomaa commented on #698
вось тут бачу пуста тут
![Selection_014](https://user-images.githubusercontent.com/9870374/77894964-b963e980-727e-11ea-99ef-4ec6f957625e.png)
і тут
![Selection_015](https://user-images.githubusercontent.com/9870374/77895740-e49b0880-727f-11ea-9bc1-d19f555711cf.png)

пакуль гэту карту пакідаю на падумаць і да часу калі у нас наогул пойдуць хоць нейкія плацяжы.

зы
Ёсць думка
1. Вывесці тэставыя пла

[2020-03-30 09:35] rizomaa commented on #522
дамены пакуль вычышчаем таму картку зачыняем, калі будзем ладзіць адмысловыя тэсты, магчыма спатрэбіцца.

[2020-03-30 09:35] #522 closed, assigned to nobody

[2020-03-30 09:36] rizomaa commented on #487
Калі няма заўваг, зачыняю. Калі ласка адчыняйце і каментуйце, калі заўвыжыце нешта.

[2020-03-30 09:36] #487 closed, assigned to rizomaa

[2020-03-30 09:44] rizomaa commented on #8
Бяру гэту картку.

Бэк

- [x] 1. Стварыць табліцу для захавання notifications (палі: purpose (string), message (text), id (integer), regular(boolean)) - мадэлі + міграцыі
- [x] 2. Праглядзець усе паведамленні патрэбныя для аднаразовых і рэкурэнтных плацяжоў
- [ ] 3. Стварыць кантролеры для апрацоўкі паведамленняў.
- [x] 4. Стварыць сіды з дэфолтнымі тэкстамі.
- [x] 5. Дадаць адпаведныя роўты.

Фро

[2020-03-30 10:29] alies-dev commented on #698
@rizomaa
у нас апроч базы юзаецца яшчэ вось гэты файл https://github.com/diglabby/doika/blob/develop/config/settings.php#L26 у яго усе сецінгсы задумывалася пісаць

[2020-03-30 14:26] Gordonshik commented on #696
Делаю

[2020-03-30 14:27] Gordonshik commented on #696
По факту сделал, я так понял надо подождать пока примут мой предыдущий пулреквест

[2020-03-30 20:14] alies-dev commented on #692
@rizomaa
аўтэнціфікацыя у нас пра форму якую рэндэрыць Ларавэль (і толькі так).  + каркас для Vue
такжа там тэмплэйты імэйлаў ляжаць

такжа там ляжыць каркас для Vue для нашага віджэта

[2020-03-31 11:53] #545 closed, assigned to Gordonshik

[2020-03-31 12:38] rizomaa commented on #490
@Gordonshik як толькі пратэстую, зачыню. або нехта іншы раней паспее.

[2020-03-31 13:30] Tyuba4 commented on #578
Закрываю, решено.

[2020-03-31 13:30] #578 closed, assigned to Tyuba4

[2020-03-31 13:34] Tyuba4 commented on #578
Все работает, главное, ввести правильные тестовые данные магазина(id, key)

[2020-03-31 13:35] Tyuba4 opened #703 "Проблема с перенаправлением виджета на страницу успеха."
Платеж вроде происходит нормально, но почему-то нет перенаправления на страницу благодарности, когда виджет находится в iframe, в обычном режиме все ок. Также не отбиваются webhooks, но это скорее всего из-за того, что я на локалке

[2020-03-31 13:42] rizomaa opened #704 "Праверыць усе бібліятэкі js і папулярныя падключыць глабальна"
- [ ] - аналіз набйольш папулярных
- [ ] - вынас у габальнае падключэнне

Кандыдаты на перанос:
- [ ] import axios from 'axios'

[2020-03-31 14:04] rizomaa commented on #703
@Tyuba4 чаму уводзіш залежнаць перанкіраванне з "не отбиваются webhooks" ? ці бачыш тут найкія зувязі, або гэта незалежная таска?

[2020-03-31 14:09] rizomaa commented on #692
@lptn дзякуй, па аўтэтыфікацыі праз гуі пакуль пытанні скочыліся)

знайшоў кампаненты для Vue па часцы паведамленняў
https://gthub.com/diglabby/doika/blob/develop/resources/js/dashboard/views/Notifications.vue у бліжэйшы час працую над функцыянальнасцю кастанымных паведамленняў.

Пакуль да кампанентаў виджэта не лез,магчыма трохі пазней, калі нейкая аплата там запрацуе.

[2020-03-31 14:09] rizomaa commented on #696
@Gordonshik можаш пуліць)

[2020-03-31 14:12] rizomaa commented on #698
@lptn Якога характару налады? Тыя што для падключння агрэгатара, або нейкія сістэмныя? бо як разумею ёсць за яшчэ .env

Дарэчы, тут гэтага файлу settings.json пакуль няма https://github.com/diglabby/doika/tree/develop/storage

[2020-03-31 14:14] rizomaa commented on #689
@lptn як лічыш, гэту тэчку storage/public/uploads нейкім чынам адпраўляць у .gitignore ці гэта норм пакінуць так?

[2020-03-31 14:23] rizomaa commented on #8
У гэтым файле цікавы спіс: https://github.com/diglabby/doika/blob/develop/resources/js/dashboard/views/Notifications.vue

- [ ] notificationsAddress: null,
- [ ] notificationsPort: null,
- [ ] notificationsUser: null,
- [ ] notificationsPassword: null,
- [ ] notificationsEmail: null,
- [ ] notificationsSingleEmail:null,
- [ ] messageSingleTransaction: null,
- [ ] messageReccurentTransaction: null,

[2020-03-31 14:33] alies-dev commented on #689
@rizomaa
https://github.com/diglabby/doika/blob/develop/.gitignore#L20 :)

PS: так, трэба

[2020-03-31 15:17] #689 closed, assigned to rizomaa

[2020-03-31 20:45] Gordonshik commented on #696
@rizomaa Прыбау з бачнасці любы функцыянал па стварэнню новых юзэраў (рэгістрацыя. узнаўленне пасвардаў) #700
в этот pr изменения подкреились по укорачиванию полей таблицы, я не специально, пул реквест создавал без них, но закомитил изменения и оказалось, что они присосались к этому пулреквесту. Я понятия не имел, что такое может произойти. Протестируй, и тогда сразу закроем, или как?

[2020-04-01 08:13] alies-dev commented on #698
@rizomaa

налады праекту, якія складана прывязаць да нейкіх тыпаў у рэляцыйных БД.
.env - гэта для таго зто будзе разгортваць. для .env у нас няма GUI і ен можа быць закэшаваны. settings.json для наладаў праекту даступных з UI

ен ствараецца аўтаматам пры першым запісу (патрэбныя правы на запіс)

[2020-04-01 12:20] rizomaa commented on #692
@lptn гэта сінанімічныя запісы:

Diglabby\Doika\Models і
App\Models
Калі падключаеш прасторы мадэляў?

[2020-04-01 13:16] rizomaa commented on #222
https://github.com/diglabby/doika/issues/583 тут усё гатова. па 3 пункту пакуль не будзем распыляцца. пакінем, калі будзе дасканалая база

[2020-04-01 13:16] #222 closed

[2020-04-01 13:19] rizomaa commented on #583
тут гатова, узяў інфу для сідаў. таму гэту карту зачыняю.

[2020-04-01 13:19] #583 closed, assigned to alies-dev, rizomaa

[2020-04-01 14:27] alies-dev commented on #692
@rizomaa
не, мапінг тут:
https://github.com/diglabby/doika/blob/500dad18920a8efd5c2fbe6f0efd7ddc814ec4cb/composer.json#L55-L57

[2020-04-01 14:43] rizomaa commented on #8
Спыніўся на кантролеры і рэсурсах (калекцыях?)... заўтра працягну.

1. Эндпоінты павінны вяртаць джэйсон масіў.
2. Паспрабаваць гэта усё акучыць на пост мэне...

[2020-04-01 14:45] rizomaa commented on #692
бачу нейкая прамежкавая сітуацыя зараз паміж унутранай апрацоўка эндпоінтаў і АПІ.

Масівы дадзеных вяртаюцца ў  джэйсон фармаце як бы гатовыя для знешняй апрацоўкі, але прыём адбываецца наўпрост, ці я пакуль не знайшоў мідлварэ, якое правярае карыстачоў, якія могуць слаць запыты ў базу.

@lptn Можаш пракаментаваць частку па мідлварэ, дзе яны ляжыць, калі ёсць, бо ўжо думаю пісаць у Notification а

[2020-04-01 14:49] rizomaa commented on #692
@lptn дзякуй, пачынаю раскурываць гэту частку.

[2020-04-01 14:50] alies-dev commented on #692
Глядзі тут камэнтар https://github.com/diglabby/doika/blob/b81c6c5412fc67b5b9ab8fe44792d2ceae27d28e/routes/dashboard_api.php#L3-L5

 вось тут рэўіструем розныя файлы роўтаў і дадаем middleware узроўня файлаў

https://github.com/diglabby/doika/blob/96b9bf9e8993a70183ec6febc1d52da14df042f4/app/Providers/RouteServiceProvider.php#L24-L63

а тут можаш глянуць што middleware api насамрэч гэта группа інш

[2020-04-01 15:03] rizomaa commented on #698
@lptn Да апісанага табой тыпу, адносяцца наладкі знешняга выгляду віджэта?

[2020-04-01 15:06] alies-dev commented on #698
@rizomaa
думаю так. Няма нияких чотких межаў і правілаў што дзе заховаць. Думаю з улікам бягучай сітуацыі лепей захоўваць так, каб прасцей было распрацоўшчыкам (я так разумею задача стаіць максімальна спрасціць працэс распрацоўкі)

[2020-04-01 18:28] Tyuba4 commented on #703
@rizomaa Нет, это даже не ошибка, так как она появляется только на локале.

[2020-04-02 09:23] rizomaa commented on #8
Зрабіў прамежкава вы ПР https://github.com/diglabby/doika/pull/706 неабходна праглад з боку бэкэнда @Tyuba4 @lptn ці адэкват там...

[2020-04-02 09:29] rizomaa commented on #75
Гатова,пакуль ляжаць у галіне 8-notifications

[2020-04-02 09:30] rizomaa commented on #8
Далей вырашыць:

- [x] 1. Як запаўняць палі 'created_at', 'updated_at' , бо нешта яны стварыліся і аўтаматам NULL прапісваюць
- [x] 2. Фронтэнд. Клавішы рэдагавання і адмены.
- [x] 3. Фронтэнд. Рэалізаваць формы рэдагавання.
- [x] 4. Бэкэнд + . Наладзіць абналеўнне ў таліцах БД і каб былі метады у УІ Фронтэнд
- [x] 5. Зрабіць каб абноўленыя значэнні былі адразу бачны на старонцы.
- [x] 6. Зрабіць

[2020-04-02 09:34] rizomaa commented on #692
@lptn ага, дзякуй за тлумачэнне

[2020-04-02 09:48] rizomaa commented on #490
тэставаў?

[2020-04-02 09:49] rizomaa commented on #696
@Gordonshik я суботу вядзелю на тэставанне, зробленага табой.
дзякуй, што пракаментаваў, пакуль працягвай іншыя задачы, зараз важна #680

[2020-04-02 13:45] rizomaa opened #707 "Што варта ўлічыць пры рэалізацыі рэкурэнтных плацяжоў. Патрабаванні агрэгатара. Фармуляванне задачы."
Вось якія навіны прыйшлі ад агрэгатара. З большага усё вядома і намі улічана для новай версіі, але прачэкаць непашкодзіць:
"
Особенности размещения информации на сайтах ОТС, использующих реккуренты:

 1). Договор оферты, размещенный в открытом доступе на сайте /в приложении, который будет содержать информацию о возможности настройки периодического платежа, порядке его настройки и отключения.

2).

[2020-04-02 14:36] rizomaa commented on #703
@Tyuba4 калі я магу нечым тут дапамагчы пазнач, якую частку мне можна узяць. Бо пасля размовы я зразумеў: што ты бачыш прабелму ў vue і маршруцізацыях (роўтах) там.
Пакуль я магу паглядзець як арганізаваны віджэт.

Дарэчы Атрымліваецца ў нас двайная ўкладзенасць айфрэймаў:
1. Гэта айфрэйм віджэта дойкі.
2. Другі айфрэйм - агрэгатар. які укладзены ў першы.

Агрэгатар павінен вяртаць адказ з плацяжа

[2020-04-03 14:41] Gordonshik commented on #490
@rizomaa ну у меня наботает конечно.

[2020-04-03 15:00] Gordonshik commented on #680
@rizomaa да, в body тег, я чет просто не заметил походу. Потому что читал, что в body, но не туда вставил. изменю скрин.
Не совсем понимаю вопрос,
![изображение](https://user-images.githubusercontent.com/51483246/78374992-d842e280-75d4-11ea-84fa-eb65ff299b0d.png)
вот путь к файлу. А виджет сам появляется, когда я страницу запускаю, никаких действий больше не произвожу

[2020-04-04 11:12] Gordonshik commented on #680
гайд по поводу body тега дополнил, если что

[2020-04-08 09:39] Gordonshik commented on #593
Залез в vuetools, вижу что значение все нормально принимается, но действительно при изменении или создании новой компании сумма уменьшается, надо посмотреть всю цепочку.
![изображение](https://user-images.githubusercontent.com/51483246/78763528-ef475300-798d-11ea-96cf-b4805bd7cbda.png)
попробовал увеличить target amount, но результата не дало
![изображение](https://user-images.githubusercontent.co

[2020-04-11 08:56] Gordonshik commented on #593
Решил пойти намеченным путем, в итоге зашел в campaigns.vue, сначала увидел метод, который мог иметь к задаче отношение, но в результате тестов пришел к выводу об отсутствии связи.
Далее я поднялся вверх и увидел этот код, который меня заинтересовал:
[code]
По сути он являлся клеткой таблицы, которая отвечала за собранную сумму. Из этого кода стало понятно, что одна его часть отвечает за сумму, ко

[2020-04-11 08:58] Gordonshik commented on #593
Кстати, последнее касается и упомянутого метода

[code]
Тут тоже это деление, кажется, присутствует

[2020-04-16 20:38] rizomaa commented on #680
@Gordonshik як ты адчыняеш старонку на трэцим кроку? па якому адрасе?

[2020-04-16 20:41] rizomaa commented on #593
@Gordonshik лінкуй свой PR. цікава глянуць, што ў цябе атрымалася

[2020-04-18 09:39] Tyuba4 commented on #703
Пока игрался с платежами на локалке заметил, что на сервер приходит адрес платежной страницы такого формата: "https://checkout.bepaid.by/v2/checkout?token=...", но в айфрейме виджета адрес другого формата "https://checkout.bepaid.by/v2/checkout?token=...&iframe=inline". После я создал html страницу с афреймом и поместил туда по очереди платежные страницы с разными форматами адреса, чтобы проверить

[2020-04-18 20:31] Gordonshik commented on #680
@rizomaa сразу после авторизации на компании, на ней. Но оно в любом случае видно будет, если там размещать, где я это сделал

[2020-04-18 20:36] rizomaa commented on #680
@Gordonshik так, там можна узяць тэг з айфрэймам.
!!!
мне цікава, якая спасылка павінна быць на старонку, дзе ты ўстаўляеш гэты айфрэйм.

[2020-04-21 16:48] Gordonshik commented on #680
@rizomaa то есть? Ну та, которая ведет на эту страницу, где и стоит виджет? А какая еще может туда направлять? Или я не понимаю что-то?
Ну то есть если на странице А, есть этот плагин, то ссылка такой и будет: https://A
Вопрос в этом? сейчас проверю конечно

[2020-04-21 17:04] Gordonshik commented on #680
@rizomaa проверил, при интеграции на страницу входа там и появился, тогда какая ссылка еще нужна?

[2020-04-21 18:38] rizomaa commented on #680
@Gordonshik
Напрыклад. Я паставіў модуль.
Ведаю шлях да адмінкі, а дзе будзе шлях да старонкі віджэта?
Пазнач, каб чэл ведаў, з якой старонкі запусціць сам віджэт.
Іншымі словамі, што напісаць у камандны радок браўзера.
Важна апісаць макімальна дакладна, бо гэту аперацыю могуць рабіць не дэвелаперы, а адміны сайтаў.

[2020-04-22 17:09] Gordonshik commented on #680
@rizomaa так, окей, понял и разобрался. Но хочу уточнить как оформить
http://localhost/doika/doika/widget/campaigns/1 то есть путь условно у меня получился такой, но как он будет выглядеть в рамках реального сайта? я так понимаю там же локалхоста не будет и первая дойка наверное будет названием того сайта? просто я сам это ссылку определил, но как ее в примере лучше обозначить?

[2020-04-22 17:16] Gordonshik commented on #680
@rizomaa или наверное все же вместо локалхоста будет название сайта, а одну дойку мы уберем из ссылки или как это лучше оформить?

[2020-04-23 09:33] rizomaa commented on #680
@Gordonshik так можаш замест локалхаста написаць файлкарту кшталту: <адрас_сайта>

[2020-04-27 13:02] Tyuba4 commented on #703
Буду опробовать работу с webhooks. Если ответы о совершении платежей от bepaid будут приходить быстро, то предлагаю смотреть в сторону websockets как инструмента для измения платежной страницы в виджета на страницу статуса платежа, то есть о перенаправлении и информировании донатеров.

[2020-04-29 12:11] rizomaa commented on #8
Дадаў гэту фічу. Прашу тэставаць.

зы

Па пункту:

- [ ] Факультатыўна 3. Сварыць табліцу для захавання наладак пошты (пакуль магчыма гэта непатрэбна і проста адсылаць праз mail функцыю php - пасля можна будзе падумаць над больш складанымі шляхамі.)

Вынесу яго у асбную ішу, бо трэба абмеркаваць, які рухавік для рассылкі прыменім першым... каб шмат не заганяцца. Для гэтага

[2020-04-29 12:13] rizomaa commented on #565
Закрываю, яна вырашана

[2020-04-29 12:13] #565 closed, assigned to alies-dev, rizomaa

[2020-04-29 12:13] rizomaa commented on #648
Зачыняю, гатова. Пакуль толькі рэдагаванне, адсылка будзе асобнай задачай.

[2020-04-29 12:13] #648 closed, assigned to nobody

[2020-04-29 12:21] rizomaa opened #710 "Дадаць наладкі адсылкі паведамлення пасля данэйта"
- [ ] * Дадаць МVС для табліцы наладак
- [ ] * Пакуль пачынаем з рассыльчыка з дапамогай функцыі php mail (але пасля могуць дадацца знешнія сэрвісы sendgrid?)
- [ ] * Неадходна улічыць палі (зваротны мэйл)
- [ ] * Укладка вакнадзе усё расгортваць паказана на скрыншоце.

![Selection_034](https://user-images.githubusercontent.com/9870374/80595034-bfd7b380-8a2c-11ea-84c1-b47c3df44c16.png)

[2020-04-29 12:23] #75 closed

[2020-04-29 12:23] rizomaa commented on #75
https://github.com/diglabby/doika/pull/709

[2020-04-29 12:40] rizomaa commented on #564
Пакуль думкі
Чэнкуць усё праз swal

[2020-04-29 12:47] rizomaa commented on #115
@Olya147 я вось падумаў, што загружаць адразу пашкоджаны файл, гэта даволі рэдкі выпадак. таму пакуль картку зачыняем. Калі выпаўзе яшчэ, тады можам папрацаваць над гэтай праблемай. дзякуй за працу.

[2020-04-29 12:47] #115 closed

[2020-04-29 12:49] rizomaa commented on #120
звярнуся, пасля вырашэння фундаментальнага пытання па таму, як уладкуем віджэт

[2020-04-29 12:59] rizomaa opened #711 "Дадаць у масіў перакладу радкі са старонкі рэдагавання паведамленняў"
Для уводнай задачкі:

http://<url-хаста>/doika/doika/dashboard/notifications

Усё што не кранаецца саміх паведамленняў і іх назваў.

Падказка:
Амаль усё ляжыць у NotificationsForm.vue і Notifications.vue

![Selection_035](https://user-images.githubusercontent.com/9870374/80598642-55c20d00-8a32-11ea-87ab-1911f319a90d.png)

[2020-04-29 19:27] #490 closed, assigned to Gordonshik

[2020-04-29 19:28] #696 closed, assigned to Gordonshik

[2020-04-29 19:31] Gordonshik commented on #680
@rizomaa в пути doika один раз указывать? или так и указывать doika/doika?

[2020-04-29 19:43] Gordonshik commented on #247
@rizomaa видимо не мерджанули, reopen pr сделать не могу,
во всяком случае я пуллил, но не добавилось ничего
![изображение](https://user-images.githubusercontent.com/51483246/80639474-bd944a00-8a6a-11ea-90bc-63ab516186aa.png)

[2020-04-30 11:47] rizomaa commented on #593
@Gordonshik прыняў твой ПР, дзякуй=)

Прагляджу ўжо, як буду забіраць змены перад сваім ПР.

[2020-04-30 12:24] rizomaa opened #714 "Адладзіць прыём паведамленняў з сэрвера агрэгатара - Сварыць тэставы сэрвер"
- [x] 1.1. Усталяваць php-дэбагер на atom рэдактар
- [x] 1.2. Усталяваць праброс віртуальнага хаста праз ngrok
- [x] 2.1. Знайсці патрэбны файл (BePaidPaymentWebhookHandler.php) і паставіць брэйк пойін на метадзе donated.
- [ ] 2.2. Пратэставаць яго GET запыт
- [ ] 3. Адправіць запыт з віджэта.
- [ ] 4. Пасля аплаты павінен прыйсці адказ ад сэрвера.
- [ ]

Трэба:

- [ ] 1. Засеч час адказу.
- [ ]

[2020-04-30 12:29] rizomaa commented on #680
@rizomaa другі варыянт

[2020-04-30 12:32] rizomaa opened #715 "Спраектаваць максімальна простую рэгістрацыю карыстальнікаў"
Гэта ў сувязі з патрабаваннем ад агрэгатара.

Функцыянал
1. Рэгістрацыя (не трэба пасварт рэкавэры і т.п.)
2. Лагін.
3. Старонка профілься пустая пакуль

Старонка профіля можа ўтрымліваць:
1. Спіс транзакцый карыстальніка (агульная таблічка як у спісе плацяжоў, толькі з фільтрам па дадзенаму карыстачу).
2. Спіс падпісак (завакампаніі, колькасць данатаў)
3. Магчымасць змяніць пароль і пошту

[2020-04-30 12:37] Tyuba4 commented on #703
@rizomaa Для проверки webhooks
1) установить xdebug
2) установить и настроить ngrok
3) проверить webhook, для этого:
 a) найти файл app/Http/Controllers/Webhooks/PaymentGateways/BePaidPaymentWebhookHandler.php
 b) найти в нем метод donated и поставить поинт для дебагера
 c) ввести адрес localhost/doika/bepaid/donated/{campaignId} и убедится в том, что при этом сервер приходит в эту часть кода, пот

[2020-04-30 12:42] rizomaa commented on #714
Камент адсюль:

1. установить xdebug
2. установить и настроить ngrok
3. проверить webhook, для этого:
a) найти файл app/Http/Controllers/Webhooks/PaymentGateways/BePaidPaymentWebhookHandler.php
b) найти в нем метод donated и поставить поинт для дебагера
c) ввести адрес localhost/doika/bepaid/donated/{campaignId} и убедится в том, что при этом сервер приходит в эту часть кода
d) повторить тоже само

[2020-04-30 12:47] rizomaa commented on #703
Я тут стварыў асобную картку пакуль https://github.com/diglabby/doika/issues/714

калі задачы 100% перасякаюцца можам працягнуць у гэтай. @Tyuba4  ?

[2020-04-30 13:13] rizomaa commented on #714
Тут докі для запуска https://ngrok.com/docs#getting-started-stable

[2020-04-30 13:20] rizomaa commented on #247
Прывітанне @Gordonshik,

Проста твары новы ПР з гэтымі жа зменамі.

[2020-04-30 19:09] Gordonshik commented on #680
@rizomaa проверяй

[2020-05-04 11:29] rizomaa commented on #680
@Gordonshik у мяне асноўнае пытанне,

навошта закідваць спасылку ў app.blade.php калі ў гайдзе прапануеццаа прамая спасылка доступа да віджэта
?

паспрабуй апусціць другі крокі. ці зменіцца ад гэтага вынік?

[2020-05-04 12:04] rizomaa commented on #714
Наладзіў праз ngrok (https://ngrok.com/docs#virtual-hosts) віртуальны хост.

Адчыняецца мая лакальаня інсталяцыя:
http://e04438d1.ngrok.io/doika/doika/dashboard/login

![Selection_037](https://user-images.githubusercontent.com/9870374/80963596-f1c78c00-8e17-11ea-88f6-c0b65cbc162f.png)

Пры лагіне выдае
"
Symfony \ Component \ HttpKernel \ Exception \ HttpException
CSRF token mismatch.
Previous exc

[2020-05-04 15:57] alies-dev commented on #714
@rizomaa
тут усе распісана што да чаго https://laravel.com/docs/master/csrf

калі не ясна што гэта такое - ЧАСОВА адключайце VerifyCsrfToken middleware

[2020-05-05 10:17] rizomaa opened #717 "Пратэсціраваць заліўку фота кампаніі і змяніць правы на тэчкі для медыя кантэнта і кэша"
- [ ] 1. Праверыць ці дастаткова правоў пры стандартнай усталёўцы на лінукс сістэмах
- [ ] 2. Калі недастаткова выканаць каманду `sudo chmod -R ug+rwx storage bootstrap/cache`
- [ ] 3. Дапоўніць усталёвачны гайд для распрацоўшчыкаў.

PS
Заўважыў узгадванне `sudo chmod 777 -R storage/` для докер усталёўкі... https://github.com/diglabby/doika/wiki/Усталёўка-для-Распрацоўшчыкаў

[2020-05-07 05:11] rizomaa commented on #714
@lptn добрай раніцы,
дзякуй, чытаю артыкул)

[2020-05-07 05:38] rizomaa commented on #714
Пранікся) Знайшоў файл
https://github.com/diglabby/doika/blob/develop/app/Http/Middleware/VerifyCsrfToken.php
Па ходу гэты мідлварэ.

@lptn Маеш на ўвазе тут:
https://github.com/diglabby/doika/blob/develop/app/Http/Kernel.php
закаменціць гэты радок:
`36            \Diglabby\Doika\Http\Middleware\VerifyCsrfToken::class,`
?

Зы яшчэ паспрабую
[code]

зы @Tyuba4 табе таксама гэта можа быць цикава=)

[2020-05-07 12:13] rizomaa commented on #714
уваход зараз адбываецца без csrf паведамлення аб памылцы, але пераходзіць на лакальны хост з дыстанцыйнага.
мяркую
1. канфігі (.env не пракаціў)
2. .... думаю

[2020-05-07 12:32] rizomaa opened #718 "Выправіць памылку на старонцы стварэння кампаніі: Invalid prop: type check failed for prop "value". Expected File, Array, got String with value ""."
Як паўтарыць памылку.
1. Прайдзіце па шляху: <хост>/doika/doika/dashboard/campaigns/<нумар-любой створанай кампаніі>/edit
2. У кансолі першы надпіс чыровынм колерам:
[code]

[2020-05-07 12:32] rizomaa commented on #718
![Selection_041](https://user-images.githubusercontent.com/9870374/81294761-00ac7980-9078-11ea-9bd6-d8b40b4d6261.png)

[2020-05-07 17:33] Gordonshik commented on #680
@rizomaa изначально не так понял, исправлю

[2020-05-09 04:45] KuhniaDruggist commented on #548
Сделал. Изменил плейсхолдеры в поле ввода суммы в трех вариантах (be, ru, en)

[2020-05-09 06:44] rizomaa commented on #548
@KuhniaDruggist прыняў ПР. Напішу вам мэйл. Добрага дня

[2020-05-09 09:25] rizomaa commented on #680
@Gordonshik пакуль гэту задачу пакідаем, як неабходную зрабіць. Бо па сутнасці гайд не адказвае на пытанне, як паставіць Doika віджэт на сайт (старонку сайта) = Даданне Doika на сайт
Папанаваенае рашэнне можа падыходзіць, калі ў арганізацыі няма сайта, а ёсць дамен і ставім дойка на голы дамен. Але такую усталёку хутчэй за усё не прапусціць агрэгатар, бо не усё усовы старонкі вытрыманы.

[2020-05-09 11:46] rizomaa commented on #105
Зачыняю гэту картку, бо яна не ключавая зараз аніяк. І без яе можна запускааць праект

[2020-05-09 11:46] #105 closed

[2020-05-09 13:25] #544 closed, assigned to nobody

[2020-05-09 13:26] rizomaa commented on #553
Картку зачыняю, бо схаванне непрацощнага функцыянала і непатрэбных элементаў інтерфейса паклалі у іншыя карткі па тэмам.

[2020-05-09 13:26] #553 closed, assigned to nobody

[2020-05-09 13:28] rizomaa commented on #573
@cema93 дакладна зараз не плануем адаптаваць. гэта залежыць у аснощным ад цябе. ці гатовы закантрыбіць у гэту фічу, значыць будзе. калі не, значыць не. Тут яшчэ важна улічваць папулярнасць на шарных хостынгах.

але я бы асабіста вітаў такі функцыянал.

Пакуль картку пакіну=) Можа быць яшчэ у каго такая ідэя ўзнікне

[2020-05-09 13:30] rizomaa commented on #579
Сама ідэя сідэра добрая асабліва для распрацошчыкаў, каб не ствараць напрыклад 3 кампаніі з розным функцыяналам.

Але пакуль бачу, што разыходзіцц назва карткі і падпункты у ім. Я зачыню картку, калі узнікне падобная ідэя яшчэ у каго з гатоўнасцю яе зрабіць будзем пачынасць.

Дзякуй

[2020-05-09 13:30] #579 closed, assigned to nobody

[2020-05-09 13:30] rizomaa commented on #8
Зачыняю картку. Гатова.

[2020-05-09 13:30] #8 closed

[2020-05-09 13:57] rizomaa commented on #196
@lptn праверыў window.appVersion там пуста. Магчыма шлях да версіі іншы. Удакладні

[2020-05-09 15:44] rizomaa opened #720 "Дадаць тэксты падказкі ў вакне стварэння кампаніі (з перакладамі)"
Як адмін модуля хачу, каб была магчымасць бачыць неявілікі падкаскі побач з кожным полем
1. Поле назва. Тэкст "Калі ласка апішыве ў назве асноўны сэнс кампаніі і яе мэту. Напрыклад, Спыніць апустыньванне Палесся. Шукаем сродкі на здымак фільма пра праблему"
2. Поле "Апісанне". Тэкст: "Пакіньце 2-4 сказы з асноўным сэнсам і некаторымі дэталямі кампаніі. Сродкі пойдуць на падарожжы па найбольш апуст

[2020-05-09 16:34] Tyuba4 commented on #703
@rizomaa Тест ngrok показал, что отправка webhook происходит в течении 3-4 секунд. Следовательно можно работать с перенаправлением на страницу успеха внутри виджета с помощью websocket. Websocket будет работать на линии server-frontend.

[2020-05-09 16:51] Tyuba4 commented on #703
@rizomaa Я начинаю заниматься настройкой websockets на сервере.

[2020-05-09 16:51] rizomaa commented on #714
Падзадача:

Усталяваць лібу і праверыць яе працу з віджэта
https://www.npmjs.com/package/vue-native-websocket

[2020-05-09 19:51] alies-dev commented on #196
Я думаю па такое дробязі дзёгаць ня варта. Мае каміты тут прычэплены да іш'ю калі трэба паўтарыць (гучыць шматзначна асабліва 9га траўня). Я лепей чым сер'езным дапамогу :Р

[2020-05-09 19:54] alies-dev commented on #714
А што ў нас ёсць сервер з вэбсокетамі? Ці трэццебаковыя сэрвісы плануецца
выкарыстаць? Чым апраўдана такое ўскладненне?

On Sat, May 9, 2020, 19:51 Mister Cable <notifications@github.com> wrote:

[2020-05-11 16:37] KuhniaDruggist commented on #697
Привет. Правильно ли я понял, что необходимо добавить фразу "Выдаленая кампанія больш не ўзновіцца. Усе падпіскі прыпыняцца!" и название кнопок "Адмена", "Выдаліць!" в словари (be en ru) + в файле DataTable.vue добавить на них ссылки?

[2020-05-11 18:17] rizomaa commented on #714
@lptn займаюся прадумваннем гэтай часткі рашэння з боку франта.
бачыш прасцей рашэнне?

[2020-05-11 18:22] rizomaa commented on #697
@KuhniaDruggist дакладна

[2020-05-11 18:26] KuhniaDruggist commented on #697
Как мне можно будет проверить результат? Дело в том, что в демо версии у меня в разделе список компаний отсутствуют компании и создать компанию я не могу, соответственно удалить тоже)

[2020-05-11 18:29] rizomaa commented on #697
@KuhniaDruggist
Чаму вы не можаце стварыць кампанію?
Пакажыце скрын, або памылку калі такая маецца. Будзем глядзец)

[2020-05-11 18:34] rizomaa commented on #196
@lptn тут была заяўлена працуючая пераменная, яна не працуе. На мой погляд гэта варта пазначыць. Асабліва, каб разумець не толькі рухавік, але і дэталі. Пра прыярытэт задач мы ўжо гутарылі ;)

зы
наогул лічу зараз патрэбным зачыняць задачы, якія не асабліва важныя для асноўнага функцыяналу.

[2020-05-11 18:37] KuhniaDruggist commented on #697
Заполняю поля, нажимаю "Захавать" и ничего не происходит. В разделе списки компаний пусто. (Перед тем как нажать кнопку "Захавать" очистил консоль. После нажатия посыпались ошибки) Прилагаю скрин.
![Screenshot_107](https://user-images.githubusercontent.com/48412681/81598153-878e8880-93cf-11ea-87c2-eb43ec991ae6.png)

[2020-05-11 19:01] rizomaa commented on #697
@KuhniaDruggist Цікава што там у POST запыце першая памялка з кансолі.

На якой галіне git вы працуеце?

[2020-05-11 19:02] KuhniaDruggist commented on #697
develop

[2020-05-11 19:02] rizomaa commented on #697
Яшчэ
1. Ці пазнчалі апісанне?
2. Ці абіралі даты пачатку і даты канца?

[2020-05-11 19:08] KuhniaDruggist commented on #697
Только что попробовал - все вышло. Это приятно. Однако с точки зрения пользователя при заполнении обязательных полей(название, выбрать файл и количество) активируется кнопка "Захавать" означающая что появилась возможность сохранения. Но при клике на нее ничего не происходит и пользователь ничего не понимает, как это было со мной. Мне кажется с точки зрения доступности это не совсем правильно и с э

[2020-05-12 06:53] rizomaa commented on #697
@KuhniaDruggist
калі гатова, рабіце ПР _) + залінкуйце яго да гэтай карткі

я зараз працую над гэтай ішу: https://github.com/diglabby/doika/issues/564
пакуль думаю, што варта рабіць

па-першае, натыфікейшны па кожнаму полю, калі
1. яно абавязковае
2. але не запоўненае.

па-другое,
1. рабіць падсветку абавязковых
2. незапоўеныных палеў.

па-трэцяе,
1. пазначыць самі незапоўненыя абавязковыя палі, н

[2020-05-12 10:06] KuhniaDruggist commented on #697
Сделеал PR https://github.com/diglabby/doika/pull/721

[2020-05-12 12:11] rizomaa commented on #697
@KuhniaDruggist дзякуй, прыняў ПР =)

у бліжэйшы час абазначу наступную задачу

[2020-05-12 12:18] rizomaa commented on #261
@KuhniaDruggist наступная картка.

Актуальны толькі праверка 2 пунктаў гэтага спісу (астатняе ігнорым пакуль):
- [ ] 1. https://user-images.githubusercontent.com/46268205/59598986-20584d80-9106-11e9-922d-a0a9567d9a36.png
- [ ] 2. https://user-images.githubusercontent.com/46268205/59598993-23ebd480-9106-11e9-82aa-5628e9696d2e.png

[2020-05-12 12:56] KuhniaDruggist commented on #261
@rizomaa Не понял что нужно сделать? Все ошибки, указанные на скриншотах исправлены.

[2020-05-12 12:58] rizomaa commented on #261
@KuhniaDruggist выдатна, тады чэкніце кожны пункт спіса https://github.com/diglabby/doika/issues/261#issuecomment-627306670
і зачыняйце картку

[2020-05-12 14:17] KuhniaDruggist commented on #261
@rizomaa

![Screenshot_109](https://user-images.githubusercontent.com/48412681/81702956-a2ff9f00-9474-11ea-981d-bc163bf94980.png)
![Screenshot_108](https://user-images.githubusercontent.com/48412681/81702973-a85ce980-9474-11ea-8271-48308737f4c8.png)

[2020-05-12 14:47] rizomaa commented on #261
@KuhniaDruggist  добра.
можаце зачыніць картку?

[2020-05-12 14:49] Tyuba4 commented on #714
А в чем будет заключаться усложнение? Добавим библиотеку по типу такой https://packagist.org/packages/hoa/websocket и вперед.))) А вебсокеты позволят нам редиректится на страницу статуса платежа внутри виджета, не перезагружая всю страницу.

[2020-05-12 16:08] rizomaa commented on #711
@KuhniaDruggist наступная картка. Яна падобна на папярэднюю з перакладамі.

[2020-05-12 17:16] rizomaa commented on #564
Гатова =) Што атрымалася.

1. Поле picture_url
1.1. Асноўны затык быў на тым, што кампанія не стваралася, калі не было выявы да яе. Усе перарыў у франце, але адказ аказаўся на бэку.  Пакуль паставіў (праз дадатковую міграцыю*) NULL на поле picture_url табліцы campaign, магчыма ў будучым дададзім фічу выява па змоўчанні, але зараз не трэба.
1.2. На франце ў віджэце пакуль зрабіў праверку на запоўне

[2020-05-12 17:19] rizomaa commented on #564
https://github.com/diglabby/doika/pull/722

[2020-05-12 17:26] rizomaa opened #723 "Выбраць нейкую адну працуючую схему пазначэння абавязковых палёў і прымяніць яе"
Абавязковыя палі:
1. Назва кампаніі
2. Апісанне
3. Дата пачатку
4. Дата заканчэння
5. Патрэбная сума (Колькасць)

Астатнія палі пакуль апцыянальныя.

Магчыма прымяніць існуючую схему. Выява першая,
![Selection_044](https://user-images.githubusercontent.com/9870374/81725641-d2bba080-948e-11ea-8f3b-816f54391174.png)

або зрабіць зорачкамі Выява 2.
![Selection_045](https://user-images.githubuserconte

[2020-05-12 17:29] rizomaa opened #724 "Прыбраць надпіс Supported by the European Union"
![Selection_046](https://user-images.githubusercontent.com/9870374/81725902-3645ce00-948f-11ea-87f5-46e94a31cf96.png)

[2020-05-12 17:33] rizomaa commented on #707
Другая версія іх адказу
"
Вам потребуется:
1. Договор оферты, размещенный в открытом доступе на сайте, который будет содержать информацию о возможности настройки периодического платежа, порядке его настройки и отключения.
2. Должна быть настроена процедура акцепта договора оферты, при этом при настройке периодической оплаты держатель карты должен дополнительно акцептовать периодическую оплату (пут

[2020-05-12 17:35] rizomaa commented on #707
Пасля майго пытання:
"3. Якія крытэры да асабістага кабінету? Што там абавязкова павінна быць?"
Адказ:
3. Каких-либо конкретных требований к ЛК нет, как минимум, вы должны запрашивать email, чтобы вашему клиенту "улетало" письмо

Яшчэ трохі памыслю і накідаю патрабаванні для асабістага кабінета карыстальніка.

[2020-05-12 17:36] rizomaa commented on #703
@Tyuba4 Скажы, як мы будзем тэставаць на лакале усе цуды юды. Асабліва цікава частка франта

[2020-05-12 17:46] rizomaa commented on #691
Для затраўкі

- https://forum.vuejs.org/t/start-value-has-mixed-support-consider-using-flex-start-instead/62613/3
- https://www.gitmemory.com/issue/angular/angular-cli/14726/500717653

[2020-05-12 18:07] rizomaa commented on #690
Карацей памылкі глабальней. Гуляюць па ўсім старонкам, дзе ёсць адпаведныя кампаненты.
Пакуль их разбиваю на тры аснощныя, якія заўважыў.

1. value
[code]
2.
[code]

3. (двойчы)
[code]

[2020-05-12 18:11] rizomaa commented on #690
на storage патрэбна рабіць www-data групу абавязкова і рэкурсіўна + на public 0755 ці 0777

[2020-05-12 18:25] KuhniaDruggist commented on #724
Эта фраза вообще где-нибудь используется? Или её вообще необходимо убрать из словаря?

[2020-05-12 18:32] KuhniaDruggist commented on #711
@rizomaa  Правильно ли я понял: необходимо также внести все в словарь и сделать ссылки?

[2020-05-12 18:42] rizomaa commented on #724
@KuhniaDruggist
1. Спачатку выдаліць з кампанента (футэр)
2.  Пасля прыбраць са слоўніка.

[2020-05-12 18:43] rizomaa commented on #711
@KuhniaDruggist менавіта так. Уносце ва ўсе моўныя слоўнікі.

[2020-05-13 07:40] rizomaa commented on #724
@KuhniaDruggist дзякуй. прыняў ПР
зараз прыярытэт гэта картка https://github.com/diglabby/doika/issues/711

[2020-05-13 08:02] rizomaa commented on #253
https://github.com/diglabby/doika/issues/690

[2020-05-13 09:22] Tyuba4 commented on #714
@lptn @rizomaa На локалке вэбсокет почекал, все работает. Проверить бы на хостинге каком

[2020-05-13 09:23] alies-dev commented on #714
@Tyuba4
 які вэб-сэкет сервер ставіў? працуе з рэжыме дэмана?

[2020-05-13 09:31] rizomaa commented on #714
@Tyuba4 добра, што пайшло.
Табе трэба шарынг хостынг, або проста нешта анлайн (можам наш сэрвер выкарыстаць)?

[2020-05-13 09:54] rizomaa commented on #718
Дублюецца з https://github.com/diglabby/doika/issues/690
Таму зачыняю.

[2020-05-13 09:54] #718 closed, assigned to nobody

[2020-05-13 09:59] rizomaa commented on #554
#690 гатова. гэту карку зачыняю. калі будзе што паўтарацца калі ласка адчыняйце новую картку.

[2020-05-13 09:59] #554 closed, assigned to nobody

[2020-05-13 10:02] Tyuba4 commented on #714
@lptn Этот пакет поставил - https://packagist.org/packages/hoa/websocket  И все, через него работает

[2020-05-13 10:05] Tyuba4 commented on #714
@rizomaa Лучше сразу какую-нить шару попробовать. Может у Семы что-то есть?

[2020-05-13 10:34] rizomaa commented on #692
@lptn зараз падабраліся да двух значных функцый.
- [ ] 1. Мэйлінг
- [ ] 2. Старонка адпіскі ад рэкурэнтных плацяжоў.
Буду ўдзячны калі падкажаш, які код у нас ужо ёсць і можна выкарыстоўваць для гэтых задач.

[2020-05-13 10:41] rizomaa commented on #383
Дублюе задачу https://github.com/diglabby/doika/issues/218

[2020-05-13 10:41] #383 closed

[2020-05-13 10:49] rizomaa commented on #622
Развагі:

- [ ] 1. Выкарыстоўваем свой мэйлер (https://github.com/diglabby/doika/issues/710)
- [ ] 2. Калі-небудзь дададзім функцыю знешніх мэйлераў. Але спачатку абкатаем на сваім.
- [ ] 3. Усе паведамленні апісаны тут: doika/doika/dashboard/notifications
- [ ] 4. Ці патрэбна табліца мэйлінга (кшталту лога аб паспяховасці адпраўкі) - можа быць карысна для аналізасітуацыі.
- [ ]

Астатняе яшчэ дас

[2020-05-13 19:04] rizomaa commented on #723
Магчыма спрасціць вывад выбару даты на нешта больш кіруемае:

https://github.com/diglabby/doika/blob/14bc6ba199ce37f444ffaca7dc24aa5e5b90c811/resources/js/dashboard/views/CampaignForm.vue#L118
тут цікавы прыклад https://bootstrap-vue.org/docs/components/form-input#input-type

[2020-05-13 19:13] rizomaa commented on #723
Тут простая падсветка... можа быць
https://bootstrap-vue.org/docs/components/form-input#contextual-states пры вылідацыі.
там жа ніжэй добрыяворнінгі для палёў, што куды запаўняць. велмі інтуітыўна.

[2020-05-14 08:30] rizomaa commented on #59
Блізкія задачы https://github.com/diglabby/doika/issues/580

[2020-05-14 09:24] rizomaa commented on #160
@lptn які трыгер для раблення рэліза зараз?

[2020-05-14 09:28] rizomaa commented on #715
Старонка профіля можа ўтрымліваць:
1. Спіс транзакцый карыстальніка (агульная таблічка як у спісе плацяжоў, толькі з фільтрам па дадзенаму карыстачу).
2. Спіс падпісак (завакампаніі, колькасць данатаў)
3. Магчымасць змяніць пароль і пошту

[2020-05-14 20:14] KuhniaDruggist commented on #536
Я так понимаю здесь необходимо масштабирование загружаемых картинок под размер поля с учетом их пропорций? Ничего обрезаться не должно

[2020-05-15 11:02] rizomaa commented on #536
@KuhniaDruggist прывітанне,

1. Варта зрабіць допіс, каб людзі ведалі пра прапорцыі.
2. Таксама каб рабіўся не кропінг, а звыйназ смена памеру.

[2020-05-16 08:53] Tyuba4 commented on #714
@rizomaa @lptn Проверил, на shared-хостингах закрывают все порты, кроме сконфигурированных по умолчанию. Короче websockets отпадают.( Так что, думаю, надо  останавливаться на варианте с проверкой статуса транзакции через AJAX.

[2020-05-16 10:42] rizomaa commented on #714
@Tyuba4 добра, што зараз пряныли за ўвагі. Мінімізавалі працу.
Скажы якія далей крокі?

[2020-05-16 13:46] Tyuba4 commented on #714
@rizomaa Берем схему с проверкой статуса платежа AJAXом. Я делаю на бэкенде проверку с запросом на bepaid. Ты делаешь на vue периодическую отправку AJAX на бэкенд и перенаправление на страницу статуса при его изменении.

[2020-05-16 15:52] KuhniaDruggist commented on #543
Сделал все в одном PR в issue #711

[2020-05-17 05:36] rizomaa commented on #714
@Tyuba4

Значыць у нас на франце будзе кампанент, які кожную хвіліну (так?)
1. адпраўляе запыт на сэрвэр і
2. правярае ці прыйшло, што-небудзь.
3. калі прыйшло паказвае наступнае ваконо віджэта.

Акей, тады чакаю ад цябе эндпоінтаў і магчымыя варыянты статусаў.

[2020-05-17 05:55] rizomaa commented on #543
@KuhniaDruggist

Добра, але ёсць пытанні па ПР (прычытаў прув https://github.com/diglabby/doika/pull/728#issuecomment-629697173)

Я магу гэты раз прыняць такі ПР (бо тэмы блізкія) ў якасці выключэння (!). Але варта адсылаць асобныя (хаця і падобныя ішшус). Прынцып: адна ішус = адзін ПР.

Тут гайд працы з галінамі. Раю прачытаць:
https://github.com/diglabby/doika/wiki/Распрацоўшчыку.-Git.-Праца-з-р

[2020-05-17 16:47] rizomaa commented on #691
@KuhniaDruggist прыняў ПР ужо заўтра забяру абнаўленні з рэпа і прагляджу.
Дзякуй за працу)

[2020-05-17 17:48] rizomaa commented on #692
Па докер інсталяцыі. Паціху вывучаю матчастку докера. Паглядзеў, што ў нас ёсць па гэтаму пытанню.

1. Файлы прысвечаныя докеру ў розных частках праекта ў тым ліку ў тэчцы docker
2. Так у нас ёсць гайд для лінукс. І віндовы, яго ў асноўным спрабуюць навічкі, пакуль не было выпадку, калі ён прынес плён.

Маю некалькі пытанняў @lptn па працы з разгорнутым докер асяродкам:

1. Дзе захоўваецца база да

[2020-05-18 05:35] andrei-roh opened #730 "Уточнение гайда "Усталёўка для Распрацоўшчыкаў" для Win OpenServer"
Предлагаю уточнить гайд "Тэхнічныя патрабаванні да распрацоўкі" в некоторых моментах касательно установки:
1. Пункт 5 - для работы Git на Open Server Panel (Premium Edition не обнаружил) нужно зайти в Настройки Open Server-Закладки и добавить закладку git, в которой путь указать к git.exe (у меня это c:\program files\git\git-bash.exe). После этого в закладках Open Server появляется Git.
2. При уст

[2020-05-19 11:00] andrei-roh commented on #196
Хочу сделать эту задачу, подскажите, пожалуйста, правильно ли я понял:
- необходимо взять страницу http://localhost/doika/doika/dashboard/campaigns и добавить в тег <footer> div, в котором отобразится версия Дойки, взятая, например из файла .env?
- брать конкретно страницу campaigns?
- брать именно файл .env либо другой?

[2020-05-19 11:03] alies-dev commented on #196
@rizomaa

Мне ідэя падабаецца! Я проста за тое што калі мне прымаць удзел на праекце, то на болей важных і складаных задачах, чым гэтая

[2020-05-19 11:09] rizomaa commented on #196
@andrei-roh
1.1. Кожная старонка складаецца з кампанентаў. Ёсць кампаненты, якія паказваюць верхнюю ніжнюю частку для ўсіх старонак, ёсць якія размяшчаюцца пасярэддзіня, як правіла, яны адказваюцць за асноўную функцыю старонак. Таму тут хутчэй трэба знайсці патрэбны кампанент. Які падхгружаецца для адлюстравання футара.
1.2. "например из файла .env?" Магчыма і так.
2. Павінна адлюстроўвацца не тол

[2020-05-19 11:11] alies-dev commented on #196
@rizomaa
@andrei-roh
адносна таго што было зроблена: я пракінуў версію з бэкэнда на фронтэнд, выкарыстаўшы падыход які ужо быў: https://github.com/diglabby/doika/blob/ce45d41b7eb300fa0e22646760016497289c28ec/resources/views/dashboard/layouts/app.blade.php#L14-L24

як выцягвалі (і ці выцягвалі ўвогуле) гэтыя дадзеныя на візуальны слой - я не правяраў (гэта задача была па-за межамі майго скоўпа [як

[2020-05-19 11:13] alies-dev commented on #196
задача вельмі простая. у залежнасці ад таго дзе нам трэба гэта версія (у Vue app ці ў шаблоне старонкі) вырашаецца па-рознаму.

[2020-05-19 11:19] rizomaa commented on #196
@lptn слушна. тут пакінуў табе пытанні па развіццю архітэктуры рашэння. Чакаю тваіх каментароўю
https://github.com/diglabby/doika/issues/692#issuecomment-629835280

[2020-05-19 11:30] alies-dev commented on #692
не зусім (наколькі паматаю). Толькі тэчка  docker + пара файлаў у корні

Наколькі я бачу (і нажаль) у кантэйнеры

у чым праблема з сідамі? І што за тэставыя дадзеныя і як вы іх зюіраецеся выкарыстоўваць?

думаю лакальна могуць запускаць watch (не тэсціў на існуючым сетапе), але ж гэта залежыць ад архітэкстуры праекта (SPA і "наколькі" SPA). Ведаю  што на пытанне не адказаў, але тут "depeds on"

чы

[2020-05-19 13:29] andrei-roh commented on #196
@rizomaa есть пару вопросов:
- шаблон страницы есть в .html или .php.? Как его отыскать?
- чем работать с .vue ?

[2020-05-20 07:07] Tyuba4 commented on #714
@rizomaa
Да, все правильно. Работаю над бэком и эндпоинтами

[2020-05-20 07:10] Tyuba4 commented on #714
@rizomaa
Да, все правильно, только не каждую минуту, а чаще, через каждые 5-10 секунд. Работаю над бэком и эндпоинтами

[2020-05-20 14:57] alies-dev commented on #714
@Tyuba4
@rizomaa
во-во-во хлопцы

не зразумеў, якую праблему вы вырашаеце полінгам кожную хвіліну? Чуйка мне падзвае што тут штосьці не так

[2020-05-20 18:00] rizomaa commented on #196
@andrei-roh прывітанне,

1. шаблоны ляжаць у тэчцы resources/js ...
2. так, vue - гэта ключавое слова на франце праекта doika

[2020-05-20 18:03] rizomaa commented on #714
@lptn паглядзі калі ласка назву задачы, там апісана праблема. Калі ведаеш нешта больш за нас прапануй рашэнне, фронт працы. Я дапамагу рабіць па франтовай часцы любы працоўны варыянт.  Сэканоміш кучу нашага часу.)

[2020-05-20 18:20] alies-dev commented on #714
@rizomaa

А чаму яе трэба адладзіць? Яна ж працавала. Ужо не прыходзяць вэбхукі ці што? Дарэчы 'stripe/*' выключаць з CSRF ня трэба, бо мы не выкарыстоўваем VerifyCsrfToken для вэбхукаў:

https://github.com/diglabby/doika/blob/96b9bf9e8993a70183ec6febc1d52da14df042f4/app/Providers/RouteServiceProvider.php#L31-L37

\Diglabby\Doika\Http\Kernel::class
![image](https://user-images.githubusercontent.co

[2020-05-20 18:24] alies-dev commented on #714
Калі праблема ў тым што не прыгоходзяць вэбхукі, то  праверце куды МЫ УКАЗВАЕМ каб яны прыходзілі. У нашым выпадку гэта адбываецца тут https://github.com/diglabby/doika/blob/9aedabb2d50067314ea296c46f3d6a58b9359644/app/Services/PaymentGateways/BePaidPaymentGateway.php#L67

Толькі калі ў вашым `.env` стаіць `APP_URL=http://localhost` ці што-небудзь лакальнае, то вэбхук не прыйдзе (бо адрас лакальны

[2020-05-20 19:28] andrei-roh commented on #196
Добрый вечер. Я нашел файл для footer, сверстанный с помощью фреймворка vue.js, но когда я вношу изменения в файл, то в модуле ничего не меняется. Я так понимаю, что надо пересобрать модуль, как это сделать? В какой среде разработки работает фронтэнд?

[2020-05-20 19:53] alies-dev commented on #160
@rizomaa
git tag, вось тут гэта зададзена: https://github.com/diglabby/doika/blob/ce45d41b7eb300fa0e22646760016497289c28ec/.travis.yml#L45

[2020-05-20 20:15] alies-dev commented on #536
@rizomaa
@KuhniaDruggist
прашу заўважыць, што браўзеры не аптымальна мчянябць памеры выяваў -- на выхадзе будзе файл вялікага памеру. У ідэыяле лепей рабіць гэта на бэкэндзе (але не паўсюль стаяць наабходныя бінарнікі і php-модулі) ці 3-баковых API/сэрвісаў (што стварае складанасці пры гэгістрацыі)

Найпрасцей напісаць невялікі інлайн хэлпдля адміна і дэлігаваць гэта яму, а на бэке зрабіць валідац

[2020-05-21 05:58] rizomaa commented on #196
@andrei-roh
1. так, пасля кожнай змены вам варта рабіць перазборку франта, я карыстаюся `npm run watch` вельмі зручна.
2. Гэта пытанне удакладніце "В какой среде разработки работает фронтэнд?"

[2020-05-21 06:54] rizomaa commented on #730
@andrei-roh наколькі разумею гэты заваўвагі больш тычацца наладку самога асяродку.
я далёкі ад віндаўз усталёўкі, пакуль гэту картку патрымаем уверсе. калі нехта далучыцца з віндаўз яшчэ перагледзім гэтыч два пункты. дзякуй дэтальны разгляд.

[2020-05-21 06:56] rizomaa commented on #692
@lptn дзякуй за каментар, яшчэ напішу па гэтаму пытанню. так слушна тут больш інфраструктуры.

[2020-05-21 07:00] rizomaa commented on #714
@lptn звярні ўвагу на сумежную картку тут пазначаную https://github.com/diglabby/doika/issues/714#ref-issue-591115650
гэта картка менавіта для адладкі створана

[2020-05-21 07:14] rizomaa commented on #714
@lptn Дзякуй за камент. Мы разважалі з пазіцыі тэставання на лакальным асяродку. Як разумею, калі мы падключаем ngrok мы павінны закапіраваць гэты часовы урл у .env і ўсё будзе ціптоп? Паспрабую сёння гэта пратэставаць.

@Tyuba4 ці улічваў ты гэты момант?

[2020-05-21 07:16] rizomaa commented on #160
@lptn ага, дзякуй прыняў =)

[2020-05-21 07:17] rizomaa commented on #160
@lptn тады тут усё гатова і гэту картку зачыняем. так?

[2020-05-21 08:10] alies-dev commented on #160
Можна зачыняць, так. Але ёсць прастора для паляпшэнняў (напрыклад ставіць
толькі non-requre-dev залежнасці і падчышчаць файлы тэстаў у залежнасцях,і
перанесці стварэнне архіву на GitHub actions і інш)

On Thu, May 21, 2020, 10:17 Mister Cable <notifications@github.com> wrote:

[2020-05-21 08:13] rizomaa commented on #160
@lptn насамрэч, калі гэтыя паляпшэнні набаляць можна сварыць асобнуб ішу. гэту зачыняю

[2020-05-21 08:13] #160 closed

[2020-05-21 12:23] alies-dev commented on #714
@rizomaa

так (але я да сяго часу ня ўпэўнены што у вас запраблемы - рэдырэкт айфрэйма ці вэбхукі)

[2020-05-21 13:00] Tyuba4 commented on #714
@lptn проблема в редиректе айфрэйма

[2020-05-21 13:06] Tyuba4 commented on #714
@lptn @rizomaa Короче надо новый ишью делать или переходить в старый с багом редиректа. Алесь прав, все захламили.

[2020-05-21 16:29] rizomaa commented on #714
Пры вывадзе віджэта...
Карацей нжрок тут не дапамога, бо CORS яшчэ пракідваць трэба.
`Access to XMLHttpRequest at 'http://doika2/doika/doika/widget/api/campaigns/10' from origin 'http://ac6a9dc0.ngrok.io' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

[2020-05-21 16:36] Tyuba4 opened #732 "Не перанакіроўвае нна наступны крок пасля выканання плацяжу"
Задача связана с #703

[2020-05-21 17:15] andrei-roh commented on #196
@rizomaa Добрый вечер! Я разыскал footer, пробовал редактировать. Возникли вопросы по самому заданию:
- я решил считать в файле .env часть строки с версией и написал небольшой php скрипт, но не могу понять, как можно передать из php файла переменную в .vue или .js

[2020-05-21 18:53] rizomaa commented on #723
@darth-tesla Склеіў ПР https://github.com/diglabby/doika/pull/731 але пакуль задача на рэв'ю. Дзякуй)

[2020-05-21 19:10] rizomaa commented on #488
@Gordonshik можаш падказаць, які гэта быў ПР?

[2020-05-21 19:11] #341 closed

[2020-05-21 19:35] rizomaa commented on #536
@lptn

"чаму не аптымальна" на франце змяніць памер выявы?

ЗЫ
Дзякуй за лінк на цікавы сэрвіс.

[2020-05-21 19:59] rizomaa commented on #196
@andrei-roh ці спрабавалі рухацца ў бок які падказаў @lptn  https://github.com/diglabby/doika/issues/196#issuecomment-630751357

[2020-05-21 20:05] alies-dev commented on #536
Браўзеры рэсайзяць выявы выкарыстоўваючы неаптымальныя алгатырмы, у выніку
выява будзе на 20%-80% болей чым калі гэта рабіць праз MozJpeg, PNGOptim і
іншыя алгарытмы, якія выкарыстоўваюцца тым жа сэрвісам што я даў лінк. Але
гэта калі запарывацца аптымізацыяй.

З іншага боку перакласці гэтую праблему на адміна -- гэта нават спрасціць
дойку, што для фокуса над болей важнымі задачамі

On Thu, May 21

[2020-05-21 20:08] alies-dev commented on #714
Адкуль узяўся лакальны Дамэн doika2 у гэтым ерор мэссаджы?

On Thu, May 21, 2020, 19:29 Mister Cable <notifications@github.com> wrote:

[2020-05-23 05:25] rizomaa commented on #714
@lptn
1. Запусціў лакальны інстанс дойкі на сваім кампе. Яе віртуальны хост знаходзіцца http://doika2
2. Пасля запусціў ngrok па гэтаму ж віртуальнаму хасту
3. Пасля узяў згенераваны адрас і паставіў у .env замест localhost

Мэта усяго гэтага двіжа: зрабіць магчымым праводзіць тэставыя аплаты з лакальнай усталёўкі.

[2020-05-23 05:27] rizomaa commented on #536
@lptn так вось гэта

дойку, што для фокуса над болей важнымі задачамі

Зараз найбольш значна. Важна прыбраць задачы, якія непатрэбны на дадзеным этапе.

[2020-05-23 07:02] alies-dev commented on #714
Гэта правільны алгарытм, вэбхукі будуць прыходзіць. А вось рэдырэкт гэта не
пафіксіць

On Sat, May 23, 2020, 08:26 Mister Cable <notifications@github.com> wrote:

[2020-05-23 07:04] alies-dev commented on #536
Ну так давайце проста валідзіраваць памеры (з улікам рэціна дысплэяў) і не
кропаць ці гэсайзіць :)

On Sat, May 23, 2020, 08:27 Mister Cable <notifications@github.com> wrote:

[2020-05-23 07:10] Gordonshik commented on #488
@rizomaa привет, что значит какой? Честно говоря я что-то не помню.

[2020-05-24 08:57] rizomaa commented on #488
@Gordonshik тады я маркирую гэту картку як "неабходна зрабіць"

[2020-05-24 09:15] darth-tesla commented on #488
Этот баг всё ещё актуален? Просто у меня всё верно отображается. Или подобная ошибка происходит только при выборе определённых дат?

https://ibb.co/VCVqgX2
https://ibb.co/vPB829M

[2020-05-24 09:24] darth-tesla commented on #500
Начну стажировку с этой задачи. Реализую закрытие палитры при клике за её границами.

[2020-05-24 09:32] rizomaa commented on #488
@darth-tesla прывітанне,
пакуль яе не правяраў:
але патрэбна праверыць на
1. Адным месяцы. кампанія не пачалася, але пачнецца.
2. Некалькіх месяцах. кампанія не пачалася, але пачнецца.
3. Кампаніі, якая ідзе з аднаго года ў іншы. кампанія не пачалася, але пачнецца. і кампанія пачалася.
4. На кампаніі, якая пачалася у мінулым, але скончыцца ў будучым (напрыклад праз 2 дні)

[2020-05-24 09:33] rizomaa commented on #500
@darth-tesla паспрабуй спачатку ўзнавіць гэту багу, каб яна была чотка паўтараема і пасля апішы, што будзе яе рашэннем. лепей у скрынах

[2020-05-24 09:44] rizomaa commented on #196
Вось яшчэ спасылка трапілася, падумалася, што цікавая.
https://alligator.io/vuejs/file-reader-component/

[2020-05-24 10:39] alies-dev commented on #196
Не, ня трэба быць файлы на франце, неабходныя дадзеныя мусяць пракідывацца
праз blade в'юхі (што зараз і робіцца) і мусяць быць зашыты ў лэйаўт (як
json ці як js)

On Sun, May 24, 2020, 12:44 Mister Cable <notifications@github.com> wrote:

[2020-05-24 14:54] darth-tesla commented on #500
Я для себя обозначил следующие проблемы.

1. Возможность открыть сразу несколько палитр. Интуитивно непонятно, как их закрыть. Предлагаю сделать возможность закрытия палитры при клике за её пределами, а так же добавить кнопку закрытия для ещё более понятного интерфейса. https://ibb.co/tQVp2qm

2. Предлагаю сделать поля с хекс / ргба кодом пошире (чтобы код помещался полностью), а так же сделать од

[2020-05-24 15:00] rizomaa commented on #500
@darth-tesla дзякуй, слушныя думкі. як зразумеў:
1. клік па-за межамі для закрыцця.
2. крыжык-кнопка для закрыцця.

Твой пункт 2 пераношу у новы іш'ю. Хаця яна па аднаму і таму ж кампаненту. Лепей (асабліва пакуль толькі пранікаешся ў праект) асобнай карткай.

[2020-05-24 15:01] rizomaa opened #734 "Прапанова пашырыць шырыню ўводу колеру палітры для лепшага бачання коду"
Вось прапанова ад @darth-tesla

Цікава гучыць...

[2020-05-24 15:02] rizomaa commented on #500
@darth-tesla глядзі тут https://github.com/diglabby/doika/issues/734

[2020-05-24 15:07] Tyuba4 commented on #732
Система состоит из двух составляющих: серверная(проверяет статус транзакции, посылая запрос на сервер bepaid, после отправляет ответ из bepaid фронтенду), фронтенд(после создания страницы платежа, фронтенд c периодичностью в несколько секунд посылает запросы о статусе транзакции на сервер с целью получения ответа)

[2020-05-24 17:27] KuhniaDruggist commented on #149
@rizomaa  Привет. Не совсем понимаю где необходимо внести исправления? Переход по ссылке указанный в описании issue нельзя осуществить. Ошибка: "Не удается получить доступ к сайту"

[2020-05-24 19:59] rizomaa commented on #149
@KuhniaDruggist вось скрын.

Як паўтарыць:
1. Ствараеш кампанію
2. Бярэш шорткод з яе
3. Устаўляеш у вакно браўзера і загружаеш
4. Калі выбраў суму абіраем "Падпіскі"
5. І клікаеш "Пацвердзіць"

Далучаю скрын поля.
![Selection_050](https://user-images.githubusercontent.com/9870374/82763711-486e2780-9e12-11ea-9251-23050733f4f2.png)

[2020-05-24 20:01] rizomaa commented on #732
@Tyuba4 дзякуй за апісанне. скінь калі ласка свае змены пул рэквэстам... чакаю з нецярпеннем)

[2020-05-24 20:08] rizomaa commented on #196
@lptn дзякуй, уцяміў =)

@andrei-roh можа табе будзе цікава
калі заходзіш на старонку /doika/doika/dashboard/login
і глядзіш яе сорсы. Убачыш такі кавалак:
[code]

1. Трэба гэты джэйсан забраць, распарсіць
2. і узяць частку "appVersion":"2.0" ...
3. і пасля яе прыгожа вывесці на старонцы

так больш відавочна?

[2020-05-24 20:23] rizomaa opened #735 "Абнавіць некаторыя кампаненты лэндынга Doika // https://doika.falanster.by/"
- [ ] 1. Прыбраць надпіс. На фота пазначаны
- [ ] 2. Дадаць Відэа.
- [ ] 3. Дадаць лагатыпы арганізацый, якія раыстаюцца дойка

![Selection_051](https://user-images.githubusercontent.com/9870374/82764074-eb27a580-9e14-11ea-96ed-60fcdc78e06c.png)

@svetit калі ласка дадай інфармацыю пра:
1. Рэпазіторый, дзе працаваць з лэндынгам.
2. Спсылку на відэа
3. І лагатыпы для ўстаўкі.

[2020-05-25 07:25] rizomaa commented on #196
@andrei-roh
бачу такі алгарытм.
1. Трэба выняць з html аб'ект json
2. Распарсіць яго. Можа тут класічны спосаб https://www.w3schools.com/Js/js_json_parse.asp
3. Далей зрабіць рэактыўную пераменную у кампаненце футэра. секцыя script файла кампаненты  футэра
4. Далучыць гэту пераменную да месца дзе неабходна адлюстрощваць у секцыи template файла футэра

Для мяне паколь не відавочна як выняць гэты дж

[2020-05-25 10:50] andrei-roh commented on #196
@rizomaa ![Аннотация 2020-05-25 125646](https://user-images.githubusercontent.com/65450338/82806147-dd623680-9e8d-11ea-8ccb-642fcb959cc0.jpg)
Вроде вышло. По итогу чуть-чуть поменял только файл footer'a.
Вопрос по верстке: какой должен быть размер и расположение текста? Кроме того, я так понимаю, что текст должен быть на 3 языках?

[2020-05-25 11:15] rizomaa commented on #196
@andrei-roh пакуль усё акей па вёрстцы,
калі ласка далучай пулрэквэст у dev галіну. цікава паглядзець, што атрымалася накодзіць=)

[2020-05-25 12:30] svetit commented on #735
@rizomaa  Сюды дадаваць задачы па дэндынгу? Ці асобнымі ішусамі?

[2020-05-25 12:40] svetit commented on #735
Задача 2. Дадаць Відэа.

Спасылка на видэа https://www.youtube.com/watch?v=IYaf2GmB0q0&list=PLfDz_eqyn5f_zZkPcAbltV_QkIDHd_ekg&index=6&t=0s

Дадаць яго у блоку Што такое дойка. Расцягнуць гэты блок уніз, каб змясцілася відэа.
Пры гэтым водступы павінны быць такія ж. Шырыня відэа адпавядае шырыне тэкста.
(І для дэсктопа і для мабільнай версіі)
![doika_upgrade_1](https://user-images.githubuserconten

[2020-05-25 12:40] svetit commented on #735
Сюды далучыць спасылку, каб я магла праверыць верстку.

[2020-05-25 12:55] rizomaa commented on #735
@svetit пакуль усё сюды. Я аддзялю калі будзе патрэба.

=)

[2020-05-25 13:09] rizomaa commented on #735
@svetit з якім рэпазіторыяем працаваць?

[2020-05-25 13:23] svetit commented on #735
https://github.com/svetit/doika-landing - репазиторый. Я і забыла, што гэта мой..

[2020-05-25 19:29] rizomaa commented on #408
Пакуль закрываю картку, таму што большасць, хто карыстаецца  Дойка стваралі 1-2 кампаніі. Ім прасцей будзе яе перастарыць, чым на пісаць міграцыі версій 1.2 на 2.

На старонцы адмінкі бачу толькі вельмі агульная інфа. Ні інфы па асобны данатам ці данацерам няма. Назва кампаніі, колькасць ахвяраванняў, вылічыня ахвяравання.

Амагчыма актуальна прадумац гэты функцыянал для наступных версій з 2 на 3.

[2020-05-25 19:29] #408 closed

[2020-05-26 12:03] darth-tesla commented on #734
Прошу прощения. Выровнял поля по ходу работы над функционалом.

[2020-05-26 20:55] rizomaa commented on #734
@darth-tesla добра тады прышэй сюды адпаведны камміт, калі там усё акей. будзем зачыняць картку

[2020-05-27 05:11] KuhniaDruggist commented on #149
@rizomaa  Дорого дня. Посидел над этой issue и у меня по этому поводу три реализации.
1. Если речь идет лишь об ограничении количества вводимых знаков, то в данном случае решение простое: input добавляем maxlength="12" и все, проблема решена.
2. Подключить плагин masked input и реализовать маску ввода поля +375 (99) 999-99-99,однако это введет ограничения на ввод данных (в доступе останутся лишь м

[2020-05-27 11:03] alies-dev commented on #149
у button ёсць атрыбут `form`, на крайняк можна заюзаць яго каб выкарыстоваць сабміт баттн па-за межамі формы. Я верстку не бачыў, але не думаю што пераверстаць будзе праблемай каб кнопкі былі ўнутры формы

Але тут трэба рашэнне дызайнера лепей, тут кульгае UX. З майскай быў бы лепшы варыянт але можна абыцскіся і болей простым варыянтам. Цягнуць цяжкі пакет не хацелася б (як https://www.npmjs.com/p

[2020-05-27 11:06] alies-dev commented on #149
неадназначна

+375 (29) 7821892 // 17
+80297821892 // 12

плюс розныя варыяцыі з прабеламі і дужкамі

найпрасцейшы думаю будзе з 2ма інпутамі
![image](https://user-images.githubusercontent.com/5278175/83011839-3911f880-a023-11ea-9a6e-7aa1d228d94f.png)

[2020-05-27 11:27] rizomaa commented on #149
@KuhniaDruggist так, у гэтай задачы дастаткова абмежаванне
1. на 12 сімвалаў і
2. толькі лічбы на ўвод і "+" .

Астатнія паляпшэнні, калі ўзнікне патрэба будуць ў іншай задачы.

[2020-05-27 13:08] KuhniaDruggist commented on #149
@lptn
@rizomaa
Хорошо. Я все понял. Тогда делаю минимал только цифры и количество знаков. Если будет по данному вопросу новая issue подкиньте её мне.)))

[2020-05-27 16:47] rizomaa commented on #149
@KuhniaDruggist маю на ўвазе =)

[2020-05-27 17:17] andrei-roh commented on #735
@rizomaa Добрый вечер! Вопрос по 3 пункту. Логотипы организаций, которые установили модуль займут место удаляемого контента в пункте 1?

[2020-05-27 18:09] rizomaa opened #740 "Прыбраць памылкі з кансолі галоўнага выгляда віджэта"
Загружаеш віджэт на старонцы выводзіць:

[code]

[2020-05-27 18:43] andrei-roh commented on #735
Добрый вечер! Ссылка на пункты 1 и 2:
https://github.com/andrei-roh/doika-landing
По 3 пока не понятно.
Также предлагаю пару замечаний:
1. Если уменьшать масштаб сайта, то все элементы отдаляются друг от друга, то есть на большом дисплее с высоким разрешением будет очень не удобно смотреть сайт. Я предлагаю после определенной ширины экрана "зафиксировать" верстку, чтобы элементы не расползались по

[2020-05-27 20:16] andrei-roh commented on #735
Добрый вечер! Ссылка на измененную верстку: https://github.com/andrei-roh/doika-landing
3 пункт не совсем понятно, где взять логотипы.
Кстати я заметил, что при уменьшении масштаба элементы сайта расползаются - предлагаю "зафиксировать" верстку для удерживания элементов друг рядом с другом при небольшом масштабе.

[2020-05-28 07:17] rizomaa commented on #735
@svetit калі ласка адкажы на пытанне наконт лагатыпаў

[2020-05-28 07:19] rizomaa commented on #735
@andrei-roh калі ласка пазначай нікі (імёны) з кім камунікуеш.

Па другому абзацу. Ствары асобную ішу (картку) і пакажы там, 1. як ёсць і 2. як ты хочаш, каб было: ці скрынамі ці схеамай. Калі будзе бачна слушнасць прапановы я схільны падтрымаць)

[2020-05-28 07:48] andrei-roh opened #741 "Зафиксировать максимальную ширину страницы Doika // https://doika.falanster.by/"
Предлагаю зафиксировать максимальную ширину страницы для больших экранов и/или экранов с большим разрешением. При текущей ширине страницы на таких экранах элементы страницы будут "отодвинуты" друг от друга. Это заметно при уменьшении масштаба страницы.
Как есть сейчас (масштаб 25%):
![Аннотация 2020-05-28 102557](https://user-images.githubusercontent.com/65450338/83113764-c1020c00-a0d0-11ea-85b0-3

[2020-05-28 07:49] andrei-roh commented on #735
@rizomaa Понял, исправляюсь https://github.com/diglabby/doika/issues/741

[2020-05-28 08:09] rizomaa commented on #741
@andrei-roh які памер "большого экрана"?

@svetit што думаеш па гэтай прапанове?

[2020-05-28 08:46] rizomaa commented on #732
@Tyuba4 у мяне тут гара памылак у кансолі... з некаторымі разабраўся, пакуль падвіс на гэтых

На старонцы загружаецца толькі свае кампаненты біпэйдаўская штука не дагружаецца:
http://<хост>/doika/doika/widget/campaigns/<нумар кампаніі>/donate

![Selection_052](https://user-images.githubusercontent.com/9870374/83119290-332a1f00-a0d8-11ea-9ef2-dda2cbb13775.png)

Можа яшчэ прыйдзе у галаву нешта. Сён

[2020-05-28 09:36] andrei-roh commented on #741
@rizomaa думаю что это экраны 27+ дюймов 4k, но это не точно. Я не имею столько опыта и мониторов

[2020-05-28 16:45] darth-tesla commented on #741
@andrei-roh а что если увеличивать остальные элементы сайта на большой ширине?

[2020-05-28 17:17] andrei-roh commented on #741
@darth-tesla да, если нужно, то можно увеличить масштаб шрифта и размеры картинок и логотипов для большого разрешения экрана. Например с помощью медиазапроса на плотность точек.

[2020-05-28 17:46] darth-tesla commented on #741
Вопрос в том, какой вариант лучше с точки зрения UX 🤔

[2020-05-28 17:59] svetit commented on #735
@andrei-roh  Вітаю.
Трэцяе заданне з лагатыпамі я яшчэ не сфармулявала, там частка даследчай працы з майго боку. У бліжэйшыя дні напішу.

Калі ласка, захосці сайт на гітхабе, мне будзе зручней праглядзець яго перад тым, як мерджыць.

Я не зразумела, што менавіта ты маеш на увазе, калі кажаш "Кстати я заметил, что при уменьшении масштаба элементы сайта расползаются - предлагаю "зафиксировать" верст

[2020-05-28 18:34] andrei-roh commented on #741
@darth-tesla моя логика такая - пользователь открыл сайт и видит мелкий шрифт и расползшиеся элементы, он берет и увеличивает масштаб в браузере и вот тут не известно, как элементы встанут между собой, не нарушится ли верстка. Поэтому, если ширина ограничена, то все элементы со всеми расстояниями между собой пропорционально увеличатся при масштабировании.

[2020-05-28 18:46] andrei-roh opened #744 "Улучшить быстродействие сайта Doika // https://doika.falanster.by/"
В сss файле header.css я обнаружил, что изображение коровы на фоне травы закодировано в css файле в виде пары сотен строк кода. Сам css файл из-за этого занимает >1MБ, его загрузка проходит 382ms вместо 45ms у остальных css файлов, и это изображение не кэшируется, то есть оно загружается каждый раз при обновлении страницы заново.
В связи с этим предлагаю изображение коровы представить в .png и раз

[2020-05-28 19:57] rizomaa commented on #744
@andrei-roh
1. ці будзе кэшыравацца выява?
2. а колькі яе загрузка асобная займае?
гэта аднастаронкавы лэндынг, таму важна:: ці ёсць ээканомія пры першай загрузцы.

[2020-05-28 20:04] andrei-roh commented on #735
@svetit Добрый вечер! Отправляю ссылку на сайт: https://andrei-roh.github.io
Обсуждение по ширине верстки: https://github.com/diglabby/doika/issues/741
Прошу также глянуть очень важное (на мой взгляд, естественно) замечание и высказать своё мнение: https://github.com/diglabby/doika/issues/744

[2020-05-28 20:24] andrei-roh commented on #744
@rizomaa
1. Обычные изображения обычно кэшируются и остаются в дальнейшем для использования не только при обновлении страницы на F5, но и при закрытии/открытии браузера
2. Грубо говоря: изображение в виде кода "весит" 1,2 МБ, а сжатым будет от 500 кБ до 150 кБ в зависимости от формата. Загрузится оно (изображение) в 2-3 раза быстрее.

Для усиления масштаба трагедии укажу, что строка с изображением

[2020-05-29 08:19] rizomaa commented on #500
@darth-tesla перанес пакуль у бэклог. але апішы тут на чым спыніўся, пасля табе будзе прасцей вяртацца да карткі

[2020-05-29 10:45] rizomaa commented on #744
@svetit можаш пракаментаваць чаму ты закінулы выяву ў css?

[2020-05-29 16:21] svetit commented on #735
@andrei-roh Пра відэа - добра! Кідай мне пулрэквэст, я прыму.

[2020-05-29 16:32] svetit commented on #741
@andrei-roh Дзякуй за прапанову! Гэта вельми прыемна, калі ў чалавека з каманды узнікае жаданне палепшыць штосьці!

У мяне дазвол экрана 1920 на 1080 і ен мне падаецца агромны ужо.. :))))
Цяжка уявіць вячэзны экран на 27 цаляў.. і болей.

Ідэя ўладкаваць сайт, каб ен выглядаў лепш на вельмі вялікім экране - добрая.
Але прапанова, малюнак 2 мне не падабаецца. Бо ідэя была як раз у тым, каб фон з ка

[2020-05-29 16:36] svetit commented on #744
@andrei-roh @rizomaa
справа была такая. Адзин з валанцёраў - @KahjuksEi спрабаваў палепшыць верстку сайта.
І ен памяняў некаторыя выявы на нейкі код.
Я нічога у гэтым не разумею, і я першасна дадавала толькі png. І буду працягваць дадаваць пнг.
Зараз я не маю фоткі каровы, яна згубілася, і таму замяніць покул не магу. Я ужо хацела гэта зрабіць год назад, але не знайшла выяву. (Ці можна яе неяк пре

[2020-05-29 16:49] KahjuksEi commented on #744
Спакойно, вот она))
![lostCow](https://user-images.githubusercontent.com/39082880/83284587-86d65e80-a1e5-11ea-9c1a-7b1adf09a044.png)

[2020-05-29 16:54] KahjuksEi commented on #744
кстати чо то с сайтом в брейве и хроме
![Annotation 2020-05-29 194325](https://user-images.githubusercontent.com/39082880/83284972-28f64680-a1e6-11ea-941e-067d1c1ae8e3.png)

[2020-05-29 17:01] andrei-roh commented on #744
@KahjuksEi у меня на смартфоне в хроме ругалось на ненадежный сайт.
О, я попробую улучшить улучшенную верстку

[2020-05-29 17:10] svetit commented on #744
@KahjuksEi дзякуй Андрэй, цудоўна! Карова знайшлася! Ура!

[2020-05-29 17:10] rizomaa commented on #744
@andrei-roh @KahjuksEi дзякуй, што папярэдзілі, я зараз разбіраюся з гэтай задачай. Напішу, калі ўсё будзе ў страю.

[2020-05-29 18:09] alies-dev commented on #744
Спадарства а давайце гэты рэпазіторый выкарытоўваць для дойкі толькі, а не для сайта дойкі, абяцаю што на доўгай дыстанцыі ніхто шкадаваць пра гэта не будзе :)

[2020-05-29 18:15] rizomaa commented on #744
@lptn калі ласка не перашкаджай пакуль людзям працаваць у гэтай задачы. Я пакуль адмыслова не рассейваю нас па рэпам, бо 1. нас не шамт. 2. задача стаіць спрацавацца на простых тасках.

Калі усе будуць арыентавацца добра ва усім, будзем разносіць па рэпам. Я прыйкрасна разумею, што блытаць не трэба.

зы
Дарэчы, калі ты шукаеш ішу для ўдзелу ёсць для цябе.

[2020-05-29 19:48] darth-tesla commented on #247
Эта ишью ещё актуальна? "Фаланстэр" со ссылкой же уже есть в футере.

[2020-05-29 20:16] darth-tesla commented on #488
@rizomaa сделал небольшое "ручное тестирование" согласно описанному тобой алгоритму. Ошибку так и не удалось воспроизвести. Сравнивал рассчитанное количество дней с вот этим калькулятором - https://planetcalc.ru/273.

Может баг можно воспроизвести только в очень специфичных условиях? В таком случае я даже не знаю, с какой стороны подойти, чтобы его отловить.

[2020-05-30 05:20] andrei-roh commented on #744
@svetit Доброе утро. Попробовал внести изменения в верстку сайта. Экспериментировал на своем github домене. Результат скорости загрузки с изображением, закодированным в header.css:
![Аннотация 2020-05-29 223105](https://user-images.githubusercontent.com/65450338/83319938-2f6ad980-a24b-11ea-9e0a-ec50e25a723c.jpg)
Результат с отдельным изображением, тег на которое я для большего приоритета в загрузк

[2020-06-01 08:59] andrei-roh commented on #735
@svetit Жду информацию по 3 пункту

[2020-06-01 10:15] alies-dev opened #749 "Дадаць адсутнічыя пераклады"
[code]

[2020-06-01 10:15] alies-dev commented on #749
@rizomaa
каго з перакладчыкаў можам папрасіць папрацаваць?

[2020-06-01 12:35] andrei-roh commented on #680
@rizomaa добрый день! Хочу уточнить:
Я смог внедрить в свой сайт модуль Doika, но я использовал Open Server, где в localhost сначала установил модуль Doika по руководству для разработчиков, а потом положил в localhost свой сайт. После в модуле создал кампанию по сбору средств и разместил эту кампанию у себя на сайте:
![Модуль на сайте](https://user-images.githubusercontent.com/65450338/83408989-38

[2020-06-02 12:12] andrei-roh commented on #680
@rizomaa
[Установка клиентской части Doika.docx](https://github.com/diglabby/doika/files/4717011/Doika.docx)

[2020-06-02 21:57] alies-dev commented on #740
fixed by "added reactiveness for button color property" #742

[2020-06-02 21:57] #740 closed, assigned to rizomaa

[2020-06-03 12:45] rizomaa commented on #247
@darth-tesla а сардэчка там? (зы чырвогана колеру)

[2020-06-03 12:47] rizomaa commented on #488
@darth-tesla дзякуй за тэставанне, гэта таксама вельми важна. Будзем больш пильна сачыць за каммітамі.

Я тады зачыняю гэту картку.

[2020-06-03 12:50] rizomaa commented on #749
@lptn пакуль на гарыхонце асаблива няма перакладчыкаў, я прапаную гэту задачу таму, хто вызваліцца ад існуючых, або далучыцца, для уваходу ў праект. Гэта ж не гарачая задача, так?

[2020-06-03 13:30] rizomaa commented on #680
@andrei-roh прывітанне, выглядае цікава.

1. Пара заўваг. Можна тэксты пісаць адразу ў вікі праекта. На будучае, імкнемся рабіць чарнавікі у праектнай прасторы. Гэта ўжо ўзгаданая вікі.
2. Таксама знаёмся з папярэдняй размовай або працай над задачай, бо частка там карысныя спасылкі або інфа.

Вось старонка, дапоўні яе калі ласка
https://github.com/diglabby/doika/wiki/Даданне-Doika-на-сайт
беларуск

[2020-06-03 13:31] alies-dev commented on #749
@rizomaa
гэта не гарачая, але я пакуль у кантэксце і таму хацеў яе выканаць зараз. Тады напішу памятку для сябе:

@lptn
для праверкі перакладнаў запусціць `php artisan translations:missing` - заманда мусіць вянуць 0 памылак. Пасля гэтага уключыць гэтую каманду у наш CI працэсс (разкаменціцб закаманчанае тут: https://github.com/diglabby/doika/commit/4ea23f0d99f33c913b8aed07cd3caa6baa620754)

[2020-06-03 13:47] rizomaa opened #752 "Выправіць старонку вікі: Праца з гіт рэпазіторыем"
Асноўная праблема заўважана добра тут:
1. Адсутнасць стэйдж сэрвера.
2. Занадта шмат увагі галіне master з якой ідзе толькі зборка рэліза.
3. Не прапиана чотка з якой галіны робіцца ПР у апстрым.

Слушныя каментары па сённяшняму стану гайда:
https://github.com/diglabby/doika/pull/747

Спасылка на старонку вікі:
https://github.com/diglabby/doika/wiki/Распрацоўшчыку.-Git.-Праца-з-рэпазіторыем

[2020-06-03 16:22] svetit commented on #744
@andrei-roh  Шчыра кажучы, я не зусім зразумела у чым розница.
Ты параўноўваешь тое, што зараз - код на выяву, з варычнтам, калі выява сапраўдная у пнг?
І апошняее хутшэй, так?
А што значыць "абсалютнае пазіцыянаванне" ?

[2020-06-03 16:49] svetit commented on #735
@andrei-roh
3. У гэты блок тэксту трэба дадаць новыя лагатыпы са спасылками на сайты з дойкай, як ужо дададзеныя (на усіх мовах)
![image](https://user-images.githubusercontent.com/1722996/83664741-0e9bde80-a5d3-11ea-94a7-a16bf9fe9320.png)

Гэта арганізацыі:
Ахова птушак бацькаўшчыны https://ptushki.org/helpus/how_to_pay
Фонд развіцця брэсцкай крэпасці http://www.brestheritage.by/join/
Мамстарт htt

[2020-06-03 16:50] svetit commented on #735
![ptushki](https://user-images.githubusercontent.com/1722996/83664961-689ca400-a5d3-11ea-8306-7c5ed8622c9b.jpg)

[2020-06-03 16:50] svetit commented on #735
![br_krepost](https://user-images.githubusercontent.com/1722996/83664981-6e928500-a5d3-11ea-855f-7113942dd9b5.png)

[2020-06-03 16:50] svetit commented on #735
![mamstart](https://user-images.githubusercontent.com/1722996/83664994-73573900-a5d3-11ea-9177-f7bc750db2e0.jpg)

[2020-06-03 17:16] andrei-roh commented on #744
Да, верно, просто изображение загрузится быстрее изображения в виде кода. Абсолютное позиционирование это когда элемент становится как бы невесомым и его можно перемещать как угодно, даже накладывать на другие элементы - он как-бы невидим для них. Я использовал это вместо css свойства background url, так как я вызвал изображение непосредственно в html файле буквально перед заголовками

[2020-06-03 18:35] svetit commented on #744
@andrei-roh Ага, дзякуй.
Калі пры гэтым візуальна нічога не зменіцца на дэсктопе і  ў версіі шырыні планшэта і мабілкі, то можна зрабіць, як ты сказаў:)

[2020-06-03 19:22] KahjuksEi commented on #744
Вроде быстрее чем в base64 не отрисуется ни каким способом.

ср, 3 июн. 2020 г., 21:36 Sviatlana Yermakovich <notifications@github.com>:

[2020-06-04 08:55] andrei-roh commented on #735
@svetit Отправляю ссылку на сайт с добавленными партнерами: https://andrei-roh.github.io/index.html

[2020-06-04 10:37] andrei-roh commented on #744
@KahjuksEi я предварительно размещу сайт у себя в git pages и можно будет сравнить скорости

[2020-06-04 10:42] KahjuksEi commented on #744
Год назад уже проверяли, где то скрины должны были висеть на эту тему

чт, 4 июн. 2020 г., 13:38 Andrei Roh <notifications@github.com>:

[2020-06-04 12:14] andrei-roh commented on #680
@rizomaa https://github.com/diglabby/doika/wiki/Даданне-Doika-на-сайт

[2020-06-11 14:06] rizomaa commented on #680
@andrei-roh вітаю,

Дзякуй, добрая праца.

Адзін каментар:

Вось тут https://github.com/diglabby/doika/wiki/Даданне-Doika-на-сайт#Крок-трэцi-Размяшчэнне-
віджэту--модуля-doika-на-сайце

Удакладні тэкст:
"адкрыць для рэдагавання сайт"

Уяві, што ты рэдактар, які ўмее размяшчаць навіны, але не распрцоўшчык.

[2020-06-11 14:07] rizomaa commented on #741
@andrei-roh на чым спыняемся?

[2020-06-11 14:08] rizomaa commented on #247
@darth-tesla заасайніў табе картку. напішы як тут прагрэс?

[2020-06-11 14:10] rizomaa commented on #122
@darth-tesla бачу карта у прагрэсе. Напішы, што змянілася за апошні тыдзень?

[2020-06-11 14:13] rizomaa commented on #735
@svetit тут трэба твой апрув)

[2020-06-11 14:15] rizomaa commented on #744
@andrei-roh як тут тэст хуткасцяў?

[2020-06-11 14:28] svetit commented on #735
@andrei-roh Дзякуй, усе крута, рабі пул реквэст, заапруўлю.
@rizomaa Дзякуй, што пінгануў.
Выбачайце за затрымку.

[2020-06-11 15:00] andrei-roh commented on #735
@svetit Готово! https://github.com/svetit/doika-landing/pull/35

[2020-06-11 15:01] andrei-roh commented on #744
https://github.com/diglabby/doika/issues/744#issuecomment-636279064
Вот мой тест времени отклика сервера и времени закачке при размещении сайта на git pages, если я правильно понял вопрос

[2020-06-11 15:13] rizomaa commented on #744
@andrei-roh добра, тады ці вызначыліся тут, што рабіць?

[2020-06-11 15:13] svetit commented on #735
@andrei-roh Змерджыла! :)

[2020-06-11 15:16] andrei-roh commented on #735
@svetit Мне нужно что еще делать, чтобы завершить issue и добавить его в мой список достижений?

[2020-06-11 15:34] andrei-roh commented on #744
@rizomaa @svetit  Я выложил на git pages версию с обычным изображением https://andrei-roh.github.io для подтверждения

[2020-06-11 15:37] svetit commented on #735
@andrei-roh  здаецца усе гатова, але трэба удакладніць.
@rizomaa  Вітаю. На лэндзінгу дойка раней працаваў джэнкінг і аўтаматычна забіраў аднаўленні.
https://doika.falanster.by/
Але гляджу сайт не адноўлены... Гэта, пэўна не уваходзіць у гэтую задачу, але гэта можа быць іншай задачай.

[2020-06-11 15:43] rizomaa commented on #735
@svetit зараз не працуе джэнкінс. у бліжэйшы месяц дакладне не будзем запускаць. Таму калі ласка разграні яго ў ручным рэжыме

[2020-06-11 15:48] svetit commented on #735
@rizomaa Ок.
@andrei-roh  Гэтая задача зроблена! Дзякуй:)

[2020-06-11 15:56] andrei-roh commented on #680
Понял, попытался уточнить последний этап https://github.com/diglabby/doika/wiki/Даданне-Doika-на-сайт

[2020-06-11 19:10] KuhniaDruggist commented on #536
@rizomaa @lptn
Сделал в лоб как и требовалось в issue. (Указал оптимальные пропорции). Однако, проблему это не решило.
Покопавшись обнаружил в стилях фиксированную высоту контейнера в который вложено изображение, из-за чего собственно говоря и происходит резка.
![Screenshot_124](https://user-images.githubusercontent.com/48412681/84423822-bf375d00-ac27-11ea-9a84-dae9fb2dc519.png)
![Screenshot_125](

[2020-06-14 17:37] rizomaa commented on #536
@KuhniaDruggist другі варыянт цікавей.
1. глянь калі ёсць нейкая простая бібліятэка, можна паспрабаваць. калі за 2-3 гадзіны нічога варта не знойдзеш (бегла бачу, што нешта ёсць https://vuejsexamples.com/tag/crop/)
2. проста напісаць на лэйбе да поля запампоўкі выявы патрабуемую прапорцыю тэкстам і ўсё.

[2020-06-15 08:53] andrei-roh commented on #717
@rizomaa Не могу установить на виртуальной ubuntu doika. Проблема возникает команде npm run dev/npm run watch. Прошу помочь с установкой
![Аннотация 2020-06-15 115257](https://user-images.githubusercontent.com/65450338/84637799-cba90780-aefe-11ea-861d-0f2bc8144c3e.jpg)

[2020-06-15 11:08] alies-dev commented on #536
@rizomaa
а навошта нам гэтыя складанасці зараз? Можа проста будзем пабрабаваць патрэбны памер, а адмін можа яго падрыхтаваць у адмысловых праграмах

[2020-06-16 15:54] darth-tesla commented on #460
Смею предроложить, что этот баг так же исплавлен и неактуален, т.к. цвет меняется и ошибок не возникает.

[2020-06-16 16:38] darth-tesla commented on #135
Можно поменять тумблер на [надпись](https://ibb.co/dD0TmqR), что я и хотел сделать сегодня, но есть одно но. Описание будет статическим и не будет меняться при переключении тумблера в разделе "Рэгадаваць кампанию" не происходит ровным счётом ничего. Подробнее описал проблему в ишью #459

[2020-06-16 17:06] darth-tesla commented on #459
Сегодня хотел поработать над этой задачей и обратил внимание, что ни один из переключателей не делает ровным счётом ничего, т.е. они просто висят как "декорации". Хоть они и имеют директиву v-model, но при переключении состояние не меняется на true или false. И первым делом, как я понял, мне нужно "научить" эти переключатели менять состояние полей, прописанных в этом самом v-model.

Однако куда от

[2020-06-18 10:03] rizomaa commented on #717
@andrei-roh ці выкарыстоўваеш sudo у камандзе з npm?

зы
дарэчы, калі падымеш свой скрын трохі вышэй будзе бачна больш дакладная памылка запуску npm каманды

[2020-06-18 10:04] rizomaa commented on #536
@lptn можна і так, гэта пункт 2 змайго каментара вышэй. =)

[2020-06-18 10:11] rizomaa commented on #460
@darth-tesla дзякуй за тэставанне. пакуль перамесцім у рэў'ю гэту картку.

[2020-06-18 15:21] andrei-roh commented on #717
sudo использовал, а также прописывал перед composer install:
sudo chown -R www-data:www-data /var/www/doika/
sudo chmod -R 755 /var/www/doika/
sudo chmod -R 777 /var/www/doika/storage
![Аннотация 2020-06-18 181805](https://user-images.githubusercontent.com/65450338/85039304-3f157800-b190-11ea-9413-c1eb711ae42d.jpg)

[2020-06-22 12:56] rizomaa commented on #717
@andrei-roh 4 пункт з гайда па ўсталёўцы. ці клікаў па спасылцы часта узнікаемая праблема
?

[2020-06-22 13:02] rizomaa commented on #247
@darth-tesla дзякуй, ПР прыняў

[2020-06-22 13:24] rizomaa commented on #734
@darth-tesla апішы тут бягучыя выклікі для вырашэння карткі

[2020-06-22 14:11] rizomaa commented on #459
Прывітанне @darth-tesla ,

Гэта задача можа быць звязана з бэкам трохі, трэба праверыць код... Наогул зацані свае сілы перад пачаткам. Кали нешта пакуль заскладана, я магу узяць частку на сябе.

Бачу такі алгарытм:
1. Правяраем ці ёсць апрацоўшчыкі для гэтых фішак на бэку.
2. Калі ёсць дапісваем у адпаведных кампанентах запіс і чытанне на франце.
3. Калі няма
3.1. дапісваем адпаведныя апрацоўшчыкі

[2020-06-22 14:12] rizomaa commented on #135
@darth-tesla тут каментар па затыку https://github.com/diglabby/doika/issues/459#issuecomment-647544647 як разумею фіча не  зроблена пакуль наогул

[2020-06-22 17:08] darth-tesla commented on #459
@rizomaa Я попробую найти обработчики на бэке, но править ничего не буду, т.к. обязательно что-нибудь поломаю (опыта на бэке мне недостаточно). Если до завтра найду что-нибудь, то дам знать.

[2020-06-22 18:18] andrei-roh commented on #717
@rizomaa да, кликал. Сделал, как в гайде, npm install прошло без ошибок, но при sudo npm run dev или sudo npm run watch ошибки появляются. Я пробовал игнорировать и ставить базу данных и запускать модуль, но возникает ошибка 404

[2020-06-22 18:39] rizomaa commented on #717
@andrei-roh відавочна памылка правоў доступа да node-modules.

Якія гіпотэзы:
1. Сэрвер запушчаны пад адным карыстальнікам, а файлы пад іншымі закачаны. Напрыклад адзін субо карыстальнік друге - не.
2. Таксама такое можа быць што частка файлаў загружана пад аднам карыстальніка частка пад другім.
3. Варта праверыць якія правы доступа у самой тэчкі?

выбачай я памыліўся дзе варта засяродзіў увагу. Г

[2020-06-22 20:33] KuhniaDruggist commented on #536
@rizomaa Привет. В общем ситуация на данный момент такая. Я потратил время глубже разобрался во vue, понял как работают компоненты. Удалось создать vue компонент для кропинга и подключить его, однако не могу его правильно применить, чтобы им пользоваться именно в момент выбора файла(не достаточно знания, пока). Так как время все-таки идет буду двигаться дальше и поэтому прибегну ко второму вариант

[2020-06-23 05:27] rizomaa commented on #536
@KuhniaDruggist можам стэлефанавацца. напішу у асабістыя. калі ласка пакінь тут нейкі код, што спрабаваў рабіць

[2020-06-23 14:22] rizomaa commented on #536
@KuhniaDruggist прыняў ПР па гэтай задачы. калі трэба будзе нешта навярнуць зробім дадатковы. Дзякуй за працу тут)
Па тваіх заўвагах пагутарым

[2020-06-23 16:24] rizomaa commented on #752
@KuhniaDruggist калі ласка прачытай секцыю [Алгарытм працы з галінкамі](
https://github.com/diglabby/doika/wiki/Распрацоўшчыку.-Git.-Праца-з-рэпазіторыем#Алгарытм-працы-з-галінкамі)
, абнавіў як.

Напішы тут, што засталося няясным. Дапрацую

[2020-06-23 17:01] KuhniaDruggist commented on #752
@rizomaa Не понял этого момента
![Screenshot_128](https://user-images.githubusercontent.com/48412681/85432855-3ce65b80-b58c-11ea-80fa-4f0a3c26d6e2.png)

Зачем git pull?
Если имеется ввиду притянуть изменения, то, как мне кажется, лучше делать это предварительно, чтобы каждый раз работать с актуальным проектом.
В моем представлении это
1. переключаемся у себя на ветку разработки **git checkout deve

[2020-06-24 04:24] rizomaa commented on #145
@KuhniaDruggist дзякуй за хуткі ПР =) Прыняў ПР, картку адправіў на рэўю)

[2020-06-24 04:31] rizomaa commented on #752
Прывітанне, @KuhniaDruggist

Дзякуй за каментары
1. "Зачем git pull?" З большага гэта звычка, перад пачаткам працы забіраць усе абнаўленні, калі працуеш у камандзе, каб мінімізаваць колькасць канфліктаў пры push. Тут магчыма будзе больш актуальным забраць абнаўленні з апстрыма. Думаю...
2. Так-так.... чытаю твой каментар ніжэй. Гэты кавалак можнасмела ўстаўляць.

[2020-06-24 07:26] rizomaa commented on #752
@KuhniaDruggist адаптаваў тваю прапанову ў кроку 1 з пераходам на 3, а ў чацвёртым ёсць усё, што неабходна для пуша па твайму сцэнару. Чэкні яшчэ раз, каб захаваць зразумеласць

[2020-06-25 06:49] rizomaa commented on #732
Памылку вырашыў адключэннем плагіна да браўзера AdBlock

[2020-06-25 06:49] rizomaa commented on #732
Учора размаўлялі з @Tyuba4 . Абмеркавалі, як рухаемя па картцы https://github.com/diglabby/doika/issues/732 Па пунктах
Long poling не так прост, асабліва для працы з шарэ хостынгамі (дзе тайм аўт сэрвера абмежаваны і фіксаваны).
Аждакс можа быць не такі кепскі, бо магчыма спатрэбіцца 1-2 максіму тры запыта каб атрымаць адказ.
Пакуль працягнем лонгполлінг, але калі да канца тыдня не вынайдзем прост

[2020-07-01 12:34] rizomaa commented on #734
@darth-tesla дзякуй за працу і адказы па каментарм., ПР прыняты

[2020-07-02 18:50] rizomaa opened #759 "Зрабіць апрацоўшчык тэлефона, імя і мэйл пры падпісцы"
пакуль выдае такія багі у кансолі, але на франце пуста

exception: "Illuminate\Database\QueryException"
file: "/var/www/html/doika2/public_html/doika/vendor/laravel/framework/src/Illuminate/Database/Connection.php"
line: 664
message: "SQLSTATE[22003]: Numeric value out of range: 1264 Out of range value for column 'phone' at row 1 (SQL: update `doika_donators` set `phone` = +43232452345234, `doika_

[2020-07-06 18:10] rizomaa commented on #759
паходу гэта штука не дае нармалёва перайсці на наступны крок даната

[2020-07-06 18:11] rizomaa opened #760 "Прыбраць зялёны перакрываючы фон з прыціска (кнопкі) і падправіць стылі пад самім прыціскам"
Гл. скрыншот
![Selection_005](https://user-images.githubusercontent.com/9870374/86625158-4e3c5880-bfcd-11ea-99d7-fc838c209d33.png)

Гэта на старонцы <хост>/doika/doika/widget/campaigns/<ID-кампаніі>/recurrent/donate

[2020-07-06 18:16] rizomaa commented on #752
Улічыў рэкамендацыі. Адпраўляю у гатова. Калі знойдзем патэнцыйл для паляпшэння. створым новую картку

[2020-07-06 18:16] #752 closed, assigned to rizomaa

[2020-07-06 18:25] rizomaa opened #761 "Прыбраць абавязковасць праверкі пошты пры разавым працяжы. пошта павінна заставацца апцыянальным полем"
![Selection_007](https://user-images.githubusercontent.com/9870374/86626267-22ba6d80-bfcf-11ea-9fde-c14c54b07128.png)

[2020-07-06 18:26] rizomaa opened #762 "Зрабіць каб запісвала ў базу кожны праведзены плацёж."
Бо пакуль галячок
![Selection_008](https://user-images.githubusercontent.com/9870374/86626409-4ed5ee80-bfcf-11ea-90e7-28a52d743673.png)

Пратэставаць:
1. На рэкурэнтных
2. На разавых плацяжах

[2020-07-06 18:29] rizomaa commented on #732
![Selection_006](https://user-images.githubusercontent.com/9870374/86625973-af186080-bfce-11ea-83f0-44867724acd5.png)

Прайшоў праз працэдуры падпіскі сістэма вярнула наступны вынік. Фота вышэй.
Вядомя не запісала гэты данат у табліцу. Стварыў асобны ішшу https://github.com/diglabby/doika/issues/762
Але з большага усё астатняе працуе.

Проста калі посех вярнула, значыць, нейкі статус вярнула.

@Ty

[2020-07-08 07:27] Tyuba4 commented on #732
Скорее всего в БД ничего не записалось потому-что не отработал вебхук.

[2020-07-09 12:00] rizomaa opened #767 "Не працуе пэйджэр у спісе кампаній."
1. Кампаній больш за 10,
2. паказвае не усе ў табліцы і
3. няма пэйджэра.

Праверыць і калі не знойдзецца пэджэр, закодзіць новы.
Павялічыць колькасць кампаній на старонцы да 20.

[2020-07-10 07:26] rizomaa commented on #732
@Tyuba4 прывітанне,

Я думаў нейкі час, як гэта ўсё разруліць. Пасля нашага сэйшна падсумую, усё што абдумаў і мы зможам зрабіць, зараз напішу асоўны выклік.

1.1. campaigns/:id/donate - вакно, якое адмалёўвае форму ўводу сумы.
1.2. па змоўчанні пінгаванне эндпоінта `/bepaid-check-payment-status` будзе аддаваць памылку з тэстам `Gateway response not found.`
2.1. пасля націскання "Аплаціць" запыт а

[2020-07-10 10:58] rizomaa commented on #732
@Tyuba4
Атрымалася дайсці за рэкурсіўнай прапрацоўкі статусаў... =)

![Selection_072](https://user-images.githubusercontent.com/9870374/87147122-c304e080-c2b4-11ea-9a40-ac5e5a9a3ae1.png)

Яшчэ засталося дадаць

- [ ] больш спорбаў...магчыма кожныя 10 секунд, +
- [ ] далучу апрацоўшчыкі для рэдырэкта 1. Поспеху і 2. Памылак

Застаецца бага, якую не вельмі зразумела, як выпраўляць. Калі націскеш кла

[2020-07-10 12:14] rizomaa opened #768 "Пры пераходзе на старонку аплаты (айфрэм біпэйда) выводзіць шэраг памылак. Вырашыць іх"
У кансолі:
GET https://doika2/doika/public/images/front-card.png net::ERR_CONNECTION_REFUSED
/doika/public/images/back-card.png:1 GET https://doika2/doika/public/images/back-card.png net::ERR_CONNECTION_REFUSED

Скрын у дадатак:
![Selection_073](https://user-images.githubusercontent.com/9870374/87153374-0a449e80-c2c0-11ea-8f9a-114327ee6333.png)

[2020-07-11 06:19] rizomaa opened #769 "Дапоўніць гайд па гітфло"
1. Перанесці пункт з кланаванне напачатак і пазначыць, што робім яго склона.
2. Прыбраць git pull з трэцяга пункту.
3. Пункт 6 перанесці ў "Фінальная тэставанне", асобным пунктам і імя галіны замяніць на develop і пазначыць, што ён перад рэлізам. Паставіць ніжэй 7 пункта.

[2020-07-11 10:20] rizomaa commented on #597
@KuhniaDruggist
Таксама вырашыць:
Пры націсканні поля уводу "іншая сумма", здымаем фокус з кнопак з лічбамі.

[2020-07-14 08:55] rizomaa commented on #732
Якія яшчэ ўмовы тэрба дапрацаваць у кодзе (запісваю сабе падзадачы):

- [x] 1. Рабіць першы інтэрвал 15 секунд, далей кожныя 1-2 секунды
- [x] 2. Калі форма не запоўнена пры сканчэнні ітнэрвала чакання запрасіць зрабіць паўторныя дзеянні па данату.
- [x] 3. Падумаць як паставіць на курсоры спінер, калі адправілі дадзеня карткі.
- [ ] 4. Разабрацца з франтом для падпісак і зрабіць тое самае.  Памыл

[2020-07-14 08:58] rizomaa opened #770 "Наладзіць асяродак для тэставання транзакцый"
1. для разавых данатаў
2. для падпісак

[2020-07-14 09:42] rizomaa opened #771 "Пры стварэнні кампаніі паказвае дадзеныя папярэдняй кампаніі адчыненай на рэдагаванне."
Як узнавіць памылку:
1. Заходзіце на старонку рэдагавання любой кампаніі.
2. Выходзіце.
3. Націскаеце стварыць каспанію...
4. Палі Назва, Апісанне, Даты кампаніі застаюцца з папярэдняй.

![Selection_010](https://user-images.githubusercontent.com/9870374/87410793-6c0e4c80-c5cf-11ea-855f-c5a16747518a.png)

[2020-07-14 10:32] rizomaa commented on #771
https://github.com/diglabby/doika/issues/122

[2020-07-14 10:32] rizomaa commented on #122
@darth-tesla Знайшлі багу рэалізацыі гэтай задачы. Тут дэталі: https://github.com/diglabby/doika/issues/771

[2020-07-14 10:36] rizomaa commented on #732
Вырашыць яшчэ пытанне з унутраными роўтамі пасля атрымання статуса аперацыі (лепей праз router лібу)

Што праглядзець:
1. https://michaelnthiessen.com/redirect-in-vue
2. https://router.vuejs.org/guide/essentials/navigation.html
3. https://stackoverflow.com/questions/35664550/vue-js-redirection-to-another-page#35667628

[2020-07-23 14:51] KuhniaDruggist commented on #769
@rizomaa Подскажи как мне вносить изменения в документацию? Через редактор на компе(какой файл) или же прямо на гит хабе в wiki.

[2020-07-31 15:52] andrei-roh commented on #760
@rizomaa не получается сделать тестовый платеж
![Аннотация 2020-07-31 185003](https://user-images.githubusercontent.com/65450338/89052683-bed15d80-d35e-11ea-8d8d-17114a76033e.jpg)

[2020-08-02 08:25] rizomaa commented on #760
@andrei-roh паглядзі, ці набраны у цябе тэставыя дадзеныя на старонцы канфігурацыі аргэгатара.
?

[2020-08-02 08:27] rizomaa commented on #769
@KuhniaDruggist у вікі адразу на гітхабе.

там ёсць кантроль версій свой таму не перажывай моцна, калі нешта поёдзе у бок)))

[2020-08-02 18:27] rizomaa commented on #732
Пазначыў, што [зроблена](https://github.com/diglabby/doika/issues/732#issuecomment-658060607). Засталося

- [x] 1. Аформіць код якасна для разавых плацяжоў (прыбраць непатрэбны код і дадаць чытальныя каменты)
- [x] 2  [REC] Наладзіць анлайн інстанс для зручнага тэставання на сэрверы (дамен doika2.falanster.by).
- [ ] 3. [REC] Паставіць інтэрвал 1 гадзіну для рэкурэнцыі (каб было зручна тэставаць).

[2020-08-03 06:27] andrei-roh commented on #760
@rizomaa
![Аннотация 2020-08-03 092139](https://user-images.githubusercontent.com/65450338/89152303-8f437080-d56b-11ea-8838-a4a780e0ed8a.jpg)
![Аннотация 2020-08-03 092140](https://user-images.githubusercontent.com/65450338/89152308-92d6f780-d56b-11ea-917e-b531e45e95e6.jpg)

[2020-08-03 09:11] rizomaa commented on #770
Адчыніў тэставы дамен doika2.falanster.by

[2020-08-03 09:21] rizomaa commented on #762
пачаў думаць як тут арганізаваць усё лепей)

[2020-08-03 09:49] rizomaa commented on #770
Усё запрацавала. Лагін як звычайна. Дадам лінкі у вікі. Закрываю картку.

[2020-08-03 09:49] #770 closed, assigned to rizomaa

[2020-08-04 05:00] KuhniaDruggist commented on #769
@rizomaa Привет. Внёс правки в документацию. Посмотри пожалуйста в целом и белорусский язык в частности.))) И еще один момент посмотри раздел "Фiнальнае тэставанне" все ли там правильно, так как я не до конца понимаю как он работает.

[2020-08-04 05:31] rizomaa commented on #760
@andrei-roh дадзеныя агрэгатара записваюцца тут /doika/doika/dashboard/paymentSystems

у вікі можна знайсці Тэставыя дадзеныя для праверкі аплаты пра Біпэйд https://github.com/diglabby/doika/wiki/

[2020-08-04 05:35] rizomaa commented on #769
@KuhniaDruggist выглядае прыстойна, пераношу на кантрольную вычытку

@andrei-roh перчытай калі ласка гэту стуронку:
https://github.com/diglabby/doika/wiki/Распрацоўшчыку.-Git.-Праца-з-рэпазіторыем

[2020-08-04 06:50] rizomaa commented on #732
Для таго, каб праверыць рэкурэнтныя плацяжы, трэба,
1.1. каб ці ў нас у базе гэта неяк фіксавалася,
1.2. і.ці на сэрверы
2. Паставіць кароткі інтэрвал...

Наконт інтрэвала, што бачу на франце:

1. У секцыі data

[code]
Вось гэта нас цікавіць payment_interval: 'P1M'

Наконт дакументацыі на стуронцы: https://docs.bepaid.by/ru/subscriptions/plans

Бачна:
`interval_unit | единица изменения интервала(h

[2020-08-04 09:12] rizomaa commented on #732
Тут зрабіў ПР для рэдурэкту разавых ахвяраванняў https://github.com/diglabby/doika/pull/775/files Гэту картку хутка зачыню, бо яны становяцца дублюючымі https://github.com/diglabby/doika/issues/703

Для сябе. Асноўны накірунак зараз пункты:
- [ ] [REC] Паставіць інтэрвал 1 гадзіну для рэкурэнцыі (каб было зручна тэставаць). Пашукаць у чым праблема.
- [ ] [REC] Паставіць код, які апрацоўваў аплату

[2020-08-24 11:31] KuhniaDruggist commented on #720
@rizomaa Привет. Давно меня не было, в связи с репрессиями в нашей стране. Сейчас приступил к реализации. Выглядит это так.
![Screenshot_132](https://user-images.githubusercontent.com/48412681/91040207-80a22380-e616-11ea-8121-7604b7ba66a4.png)
Единственное в поле "Апiсанне" решил сделать через placeholder, так мне кажется логичнее

[2020-08-24 11:34] KuhniaDruggist commented on #720
@rizomaa Еще нашел один баг
![Screenshot_131](https://user-images.githubusercontent.com/48412681/91040368-c6f78280-e616-11ea-9273-45e73632614b.png)
В поле сумма кракозябры, необходима новая issue. Знаю в чем проблема смогу исправить. Можно мне ее тогда to do забросить

[2020-11-10 09:38] Tyuba4 commented on #732
Ад сеннешняга дня буду займацца працай над памылкамi запуску doiki на лакале.

[2020-11-10 09:40] rizomaa commented on #732
1. Захаваць змены.
2. Пераставіць дойку.
3. Прынямінць змены і выкаціць ПР.
4. Скапіраваць змены у файл ReccurentWindows.vue

[2020-11-29 11:41] #126 closed

[2020-11-29 11:41] #396 closed

[2020-12-06 19:36] #567 closed, assigned to nobody

[2020-12-06 19:36] #643 closed, assigned to nobody

[2020-12-26 18:29] rizomaa commented on #732
Які прагрэс пасля сёння:
1. У гэтым файле app/Services/PaymentGateways/BePaidPaymentGateway.php з боку бэка апрацоўваецца інтэрвал метадам parseDateInterval
2. Нібыта улічваецца: дзень, гадзіна, месяц - усё раскладаецца па кампанентам. Каб, як тут напісана https://docs.bepaid.by/ru/subscriptions/plans  Получение информации о плане... https://api.bepaid.by/plans/:plan_id праз гэты запыт. Трэба будз

[2021-01-27 17:08] #724 closed, assigned to KuhniaDruggist

[2021-01-27 17:15] Tyuba4 commented on #732
Мы зачыняем дублюючую таску https://github.com/diglabby/doika/issues/703

[2021-01-27 17:16] #703 closed, assigned to Tyuba4

[2021-01-27 17:48] Tyuba4 commented on #647
неабходна пераправерыць код на наяўнасць функцыі генерацыі старонкі для адпіскі

[2021-01-27 17:50] Tyuba4 commented on #647
Паглядзець франтовую частку адмінкі якая змяшчая гэтыя наладкі: https://github.com/diglabby/doika/issues/710

[2021-01-27 17:59] rizomaa commented on #714
магчыма на иншай галіне... патэнцыйна.

ці пашукаць pipeline continiuos integration як Bitbucket

[2021-01-27 18:11] rizomaa commented on #335
+1

[2021-01-27 20:07] #690 closed, assigned to rizomaa

[2021-01-27 20:09] rizomaa commented on #698
картку зачыняю бо функцыя тэставых плацяжоў непатрэбна. гэта можна зрабіць стварыўшы тэстаувю кампанію..

Ці як варыянт стварыць проста сідам нейкую кампанію па дэфолту аўтаматам, на якой будуць правяраць тэставы рэжым.

[2021-01-27 20:09] #698 closed, assigned to nobody

[2021-01-27 20:57] alies-dev commented on #714
Міхась, не зразумеў, да чаго тут pipeline continiuos integration як Bitbucket ?

[2021-01-27 21:10] rizomaa commented on #714
гэта канспект з нащай сёння размовы з @Tyuba4 , не звяртай увагі=)
мы хочам люты месяц трохі больш часу прысвяціць праекту, тым больш каманда украінцаў будзе для сябе адаптоўвацца таксама.

[2021-01-28 11:49] Alexeyvk commented on #724
@rizomaa  доречі в рамках реплікаціі мені у нас на українському лендінгу потрібно буде ярко та помітно цю надпис вернути ))) На 12 місяцев найменш, но то тільки на лендінгу )

[2021-01-28 11:56] rizomaa commented on #724
=)))
Нас столькі людзей засупорціла, таму мы проста створым тут нейкую старонку з крыдэншлсамі)

[2021-01-28 19:30] Doika-Armenia opened #783 "Doika-Arm"

[2021-01-28 19:34] Doika-Armenia commented on #783
OK :))

[2021-03-02 20:44] Alexeyvk opened #785 "Бинарные сборки, night builds"
Как разработчик хочу предложить решение :) Это я смотрю шаблон сообщения issue )

В документации это не проговорено, прошу акцентировать - если недорогой хостинг не позволяет использовать composer и nodejs то решением является готовая prod сборка релиза в архиве. Эти архивы есть, но в документации по установки для разработчика это не учтено, прошу пофиксить. )

Кроме того, чтобы два раза не встава

[2021-03-02 22:26] Alexeyvk commented on #762
Up issue )

[2021-03-10 08:34] Tyuba4 opened #786 "Праблема з выкананнем composer install"
Пры разгортваннi плагiна пад час выканання composer install на linux-серверы узнiкая памылка

![Снимок экрана 2021-03-01 в 10 23 00](https://user-images.githubusercontent.com/32882913/110599973-7bf92300-8194-11eb-87c2-b6e847b9fc58.png)

## Тэставыя ўмовы

- Версія Doika:
- Платформа і версія: Linux
- bash

[2021-03-11 11:27] rizomaa commented on #786
@Tyuba4 Зараз мы маем версію

Composer 1.6.3 2018-01-31 16:28:17

Такое піша факультатыўна на іншых сборках.
Warning from https://repo.packagist.org: You are using an outdated version of Composer. Composer 2 is now available and you should upgrade. See https://getcomposer.org/2

Я паўтару усталёўку у нас на сэрверы сёння, каб дакладна праверыць у чым праблема.

[2021-03-11 18:35] Alexeyvk commented on #786
Підтверджую, дана проблема установки вирішувалася вже на двох точно линукс середовищах шляхом зниження версії composer до 1.10.20 на macos и на linux.

Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Nothing to install or update
Package carbondate/carbon is abandoned, you should avoid using it. No replacement was suggested.
Pack

[2021-03-11 18:42] rizomaa commented on #786
@Tyuba4 @Alexeyvk

У канфіге composer.json змяніў версію php з 7.1.3 на 7.2.5

43     "config": {
 44         "optimize-autoloader": true,
 45         "platform": {
 46           "php": "**7.2.5**"
 47         },

Больщ нічога не спатрэбілася... бягучую версію кампозера на сэрверы пісаў вышэй = 1.6.3
Яшчэ на лакальным сэрверы (зараз там 1.8.5 і Doika працуе) праверу з другой версіяй кампозера.

[2021-03-11 18:46] Alexeyvk commented on #786
@alexey-shev можем подтянуть composer.json, может багов поменьшеет )

[2021-03-13 18:59] Alexeyvk commented on #762
"Статус оплати" - тут що саме, відповідь від єквайринга: "успіх", "відхиленно" та таке іньше?

[2021-03-14 09:17] Tyuba4 commented on #762
Так

[2021-03-14 09:22] Tyuba4 commented on #762
Калі я паспрабаваў зрабіць токен і аплату праз эндпоiнт, то плацёж з'явіўся ў табліцы. Значыцца праблема можа быць на боку фронта?

[2021-03-14 09:29] rizomaa commented on #762
@Tyuba4 на лакале рабіў ці на doika2.falanster.by ?

[2021-03-14 09:54] Tyuba4 commented on #762
На doika2.falanster.by

[2021-03-14 13:52] alies-dev commented on #786
хлопцы, трэба мяняць стратэгі разготвання, бо з часоў стварэння дойкі выйшла мажорная версія PHP 8 і цяпер ужо Дойка паставіцца далёка не нна ўсе асяроддзі. Трэба пашырыць сьпіс падтрымліваемых версій, прыбраць `config.platform.php`, выдаліць composer.lock. Магу стварыць PR з усім гэтым

**UPD**: Паглядзеў я залежнасці нашы - не атрымаецца на адной галіне падтрымліваць адначасова php7.1+ і php8, а

[2021-03-15 08:43] alies-dev opened #787 "Зрабіць працу з doika усталяванай у паддырэкторыю сайта болей developer-friendly"
на дадзены момант існуе вялікая заблытанасць з URL прэфіксамі:
 - /doika/ гэта часта назва паддырэкторыі з дойкай
 - /doika/ гэта прэфікс URL дойцы

Адсюль выінкае, што калі мы генерурем URL праз хэлпер `route()` тоатрымліваем /doika/doika, напрыклад /doika/doika/dashboard/login што блытае і на бэке і на фронце

[2021-03-15 09:46] alies-dev opened #789 "Пустыя старонкі dashboard: Cannot read property 'components' of undefined""
URL: http://localhost:8080/doika/dashboard/campaigns

[code]

Магчыма звязана з https://github.com/vuejs/vue/issues/7804 Cannot read property 'components' of undefined"

node v15.11.0

_____________

## build output
[code]

[2021-03-16 15:06] Alexeyvk commented on #564
Up: QA при адаптации Doika4UA обнаружен фронт-енд баг при сохранении кампании:
Ошибки при неправильных датах

Summary
--
Any errors aren't shown for invalid dates

Steps to Reproduce
--
1. Login to Admin page https://dbai.zeleniy-list.od.ua/doika/doika/dashboard/login
2. Click/Tap on "Додати" > "Нова кампанія".
3. Fill all mandatory fields and set the same 'Дата початку' and 'Дата закінчення' (or

[2021-03-16 15:12] Alexeyvk commented on #564
Up: QA при адаптации Doika4UA обнаружен фронт-енд баг при сохранении кампании:
Не сохраняется  сумма float сумма пожертвы, не выдается ошибка

Summary
--
Any errors aren't shown for not integer required amount

Steps to Reproduce
--
1. Login to Admin page https://dbai.zeleniy-list.od.ua/doika/doika/dashboard/login
2. Click/Tap on "Додати" > "Нова кампанія".
3. Fill valid mandatory fields and set s

[2021-03-16 15:16] Alexeyvk commented on #564
Up: QA при адаптации Doika4UA обнаружен фронт-енд баг при сохранении кампании:
Ошибка не показана при пустых датах, обязательных полях. Кнопка "Сохранить" доступна

Summary
--
Errors aren't shown for empty date fields and 'Зберегти' button is enabled

Steps to Reproduce
--
1. Login to Admin page https://dbai.zeleniy-list.od.ua/doika/doika/dashboard/login
2. Click/Tap on "Додати" > "Нова кампанія".

[2021-03-17 00:06] alies-dev opened #790 "Зрабіць docker цалкам працуючым рашэнннем для лакальнай распрацоўкі"
Сэрвісы:
 -  php +composer
 - mysql
 - node

такім чымам на лакалькную машыну распрацоўшчыка трэба будзе паставіць толькі:
 - git
 - docker

[2021-03-17 00:08] alies-dev commented on #790
@rizomaa
Які зараз flow (лакальны) для распрацоўкі фронта? Распішы калі ласка па пунктах ці дай спасылку на доку (npm install, npm run watch і падобнае) - трэба зрабіць гэта ўсё простым у докеры таксама

[2021-03-17 08:43] alies-dev commented on #789
Праблемы няма калі зьбіраць фронт 14й нодай, закрываю задачу

[2021-03-17 08:43] #789 closed, assigned to nobody

[2021-03-22 18:52] rizomaa commented on #732
@Tyuba4 ці перанакіроўвае у цябе юзэра. калі прауцем з анлайна?

[2021-03-22 18:53] rizomaa commented on #732
@lptn вось гэты файл, дзе интэрвалы прапісаны

[2021-03-22 19:23] Tyuba4 commented on #732
@rizomaa зараз наладжу працу самога анлайна, тады гляну

[2021-03-22 21:35] alies-dev opened #792 "Запускаць тэсты праз GitHub workflows/actions"
Вы выкарыстоўваем Travis які павольны і болей не сэксі :)

[2021-03-22 22:27] #792 closed, assigned to alies-dev

[2021-03-23 06:52] alies-dev commented on #749
Ўрабіў па-хуткаму і улючыў каб білды валіліся пры адсутных перакладах (каб не назапашваць тэх доўг а вырашаць праблемы адразу як толькі з'явіліся)

[2021-03-23 06:52] #749 closed, assigned to alies-dev

[2021-03-23 07:01] alies-dev commented on #785
@Alexeyvk

Дзякуй! Мы тэсты запускалі на Трэвісе, я іх перанёс на GitHub actions. Засталося перанесці стварэнне архіваў для усталёўкі ну і аўта-дэплой было б добра мець. Што збіраешся выкарыстоўваць для аўта-дэплоя?

Лепей такі розныя issue для розных задач, а то будзе мешаніннна тут, праверана :)

@rizomaa
Для аўта-дэплоя GitHub трэба каб меў SSH доступ да нашага сэрвера. Прыватны ключ трэба дада

[2021-03-23 08:08] alies-dev opened #795 "Аўтаматычна фіксіць coding-style праблемы для JS і vue файлаў"
Праблема: "Пісьменнікаў" у нас шмат, у кожнага сваё кунг-фу, такжа бывае дапускаюцца дзіцячыя памылкі каторыя могуць быць аўтаматычна выпраўлены ці хаця б зарэпорчаны тулзамі (напрыклад ESLint)

[2021-03-23 08:48] alies-dev commented on #795
Дадаў workflow, але шмат памылак якія немагчыма аўтаматычнна выправіць, таму пакуль што правярае код-стайл але не фіксіць. Каб аўтаматычна фіксіла трэба:
 - пафіксіць усе існуючыя памылкі
 - замяніць `cs:lint` на `cs:fix` тут: https://github.com/diglabby/doika/blob/ad6cbd02f379a3ae86bdf0d2f549a6fa8be194b3/.github/workflows/format_js.yml#L40

[2021-03-23 08:53] alies-dev opened #796 "Ствараць інсталятар дойкі праз GitHub actions/workflows"
На дадзены момант мы гэта рабім праз Трэвіс, які па-ціху зашінаецца і вельмі павольны

Start from:

[code]

Код для трэвіса:
https://github.com/diglabby/doika/blob/4ea23f0d99f33c913b8aed07cd3caa6baa620754/.travis.yml#L50-L67

[2021-03-23 08:55] alies-dev commented on #785
@Alexeyvk

Я стварыў задачу "Ствараць інсалятар дойкі праз GitHub actions/workflows #796", калі ёсць жаданне - можаш браць (але яна не прыярытэтаня зараз)

[2021-03-23 10:37] alies-dev commented on #787
гатова

[2021-03-23 10:37] #787 closed, assigned to alies-dev

[2021-03-23 11:13] alies-dev commented on #795
@Alexeyvk магчыма гэта будзе украінскай камандзе цікава і даклдан патрэбна: выкарыстоўваючы аднолькавы код-стайл будзем мець меней канфліктаў паміж форкамі, думаю варта прыярытэзаваць гэтую задачу. Для PHP у нас гэта наладжана, а вось з JS - не

[2021-03-23 11:16] alies-dev commented on #786
Праблема вырашага выдаленнем composer.lock каторы быў ствараны з-пад PHP 7.2 стаму інне ставілася на PHP 7.1. Цяпер у рэпазіторыі нняма composer.lock, тэсты заняюцца на розных версіях PHP: 7.1, 7.2, 7.3 і 7.4 (для 8.0 трэба рабіць новы брэнч, нне атрымаецца усе версіі адначасова падтрымліваць)

[2021-03-23 11:16] #786 closed, assigned to Tyuba4

[2021-03-23 11:17] Alexeyvk commented on #795
Так, звісно - цілком підтримуємо!

[2021-03-26 07:33] alies-dev commented on #790
зроблена праз #791

цяпер трэба падправіць докі і можна закрываць задачу

[2021-03-26 08:15] alies-dev commented on #790
гатова

[2021-03-26 08:15] #790 closed, assigned to alies-dev

[2021-04-01 11:28] alies-dev commented on #796
пачаў працу над гэтым - https://github.com/diglabby/doika/commit/50530a25b9e195024d11906a54c63f005fccc32c

[2021-04-03 20:06] Tyuba4 commented on #732
@rizomaa @lptn пераглядзеў яшчэ раз гэты кейс. Пры пацверджаннi плацяжу ажыцяўляецца пераход на пляцёжную старонку з карткай, але ж праз дзясятак секунд старонка перанакiроўвае на старонку з надпicам "Транзакция была обработана и отклонена шлюзом
![Снимок экрана 2021-04-03 в 23 05 04](https://user-images.githubusercontent.com/32882913/113490170-2254f180-94d1-11eb-928f-58f550b6ad9c.png)
"

[2021-04-03 20:09] Tyuba4 commented on #732
Карацей патрэбна дапамога vue-знаўцы, гэта значыць цябе @rizomaa  :)

[2021-04-11 19:46] alies-dev commented on #795
не дачакаўся, пафіксіў  сам :)

[2021-04-11 19:46] #795 closed, assigned to nobody

[2021-04-12 08:07] alies-dev commented on #732
Паглядзеў і я код - усё дрэнна на франце.  Крыху прыбраўся там, абнавіў залежнасці, выдаліх тое, штоне выкарыстоўваем у віджэце - стала крыху ляшчэй дыхаць. Пакуль жа узнікае жаданне увесь віджэт перапісаць але такі паспрабую пафіксіць.

[2021-04-12 08:09] alies-dev commented on #762
@Tyuba4

мусіць жа запісваць праз вэб-хукі. Відаць лакальна ты проста не слухаў іх

https://github.com/diglabby/doika/blob/1d555cb30cb9cb0722f2b1123ed5606ce97c37bc/app/Http/Controllers/Webhooks/PaymentGateways/BePaidPaymentWebhookHandler.php#L16-L38

[2021-06-23 11:19] #693 closed, assigned to fr0zen

[2021-06-23 11:19] #649 closed, assigned to nobody

[2021-06-23 11:19] #333 closed

[2021-06-23 11:19] #123 closed

[2021-06-23 11:19] #697 closed, assigned to KuhniaDruggist

[2021-06-23 11:19] #573 closed, assigned to nobody

[2021-06-23 11:19] #681 closed, assigned to nobody

[2021-06-23 11:19] #10 closed

[2021-06-23 11:19] #711 closed, assigned to KuhniaDruggist

[2021-06-23 11:19] #253 closed

[2021-06-23 11:19] #261 closed

[2021-06-23 11:19] #218 closed

[2021-06-23 11:19] #217 closed

[2021-06-23 11:19] #548 closed, assigned to KuhniaDruggist

[2021-06-23 11:20] #319 closed

[2021-06-23 11:20] #59 closed

[2021-06-23 11:20] #580 closed, assigned to nobody

[2021-06-23 11:20] #710 closed, assigned to nobody

[2021-06-23 11:20] #704 closed, assigned to nobody

[2021-06-23 11:20] #691 closed, assigned to KuhniaDruggist

[2021-06-23 11:20] #715 closed, assigned to nobody

[2021-06-23 11:20] #546 closed, assigned to KuhniaDruggist

[2021-06-23 11:20] #692 closed, assigned to alies-dev

[2021-06-23 11:20] #730 closed, assigned to andrei-roh

[2021-06-23 11:20] #26 closed

[2021-06-23 11:20] #723 closed, assigned to nobody

[2021-06-23 11:20] #196 closed

[2021-06-23 11:20] #492 closed, assigned to Gordonshik

[2021-06-23 11:20] #543 closed, assigned to KuhniaDruggist

[2021-06-26 13:41] #593 closed, assigned to Gordonshik

[2021-06-26 13:41] #149 closed

[2021-06-26 13:41] #332 closed

[2021-06-26 13:41] #500 closed, assigned to darth-tesla

[2021-07-21 02:05] #759 closed, assigned to rizomaa

[2021-07-21 02:05] #734 closed, assigned to darth-tesla

[2021-07-21 02:05] #761 closed, assigned to nobody

[2021-07-21 02:05] #767 closed, assigned to nobody

[2021-07-21 02:05] #768 closed, assigned to nobody

[2021-07-21 02:05] #106 closed

[2021-07-21 02:05] #597 closed, assigned to KuhniaDruggist

[2021-07-21 02:05] #541 closed, assigned to nobody

[2021-07-21 02:05] #145 closed

[2021-07-21 02:05] #536 closed, assigned to KuhniaDruggist

[2021-07-21 02:05] #717 closed, assigned to nobody

[2021-07-21 02:05] #741 closed, assigned to andrei-roh

[2021-07-21 02:05] #488 closed, assigned to darth-tesla

[2021-07-21 02:05] #744 closed, assigned to nobody

[2021-07-21 02:05] #735 closed, assigned to nobody

[2021-07-21 02:05] #680 closed, assigned to nobody

[2021-07-21 02:05] #247 closed

[2021-07-21 02:05] #460 closed, assigned to nobody

[2021-07-21 02:05] #135 closed

[2021-07-21 02:05] #459 closed, assigned to darth-tesla

[2021-09-03 02:58] #760 closed, assigned to andrei-roh

[2021-09-03 02:58] #769 closed, assigned to KuhniaDruggist, andrei-roh

[2021-09-03 02:58] #771 closed, assigned to nobody

[2021-09-03 02:58] #122 closed

[2022-03-02 14:54] #720 closed, assigned to nobody

[2022-04-16 15:32] #642 closed, assigned to nobody

[2022-04-16 15:32] #346 closed

[2022-04-16 15:32] #628 closed, assigned to nobody

[2022-04-16 15:32] #622 closed, assigned to Tyuba4

[2022-04-16 15:32] #647 closed, assigned to Tyuba4

[2022-04-16 15:32] #335 closed

[2022-04-16 15:32] #714 closed, assigned to rizomaa

[2022-04-16 15:32] #707 closed, assigned to rizomaa, Tyuba4

[2022-04-16 15:32] #783 closed, assigned to nobody

[2022-04-27 23:10] #564 closed, assigned to rizomaa

[2022-04-27 23:10] #785 closed, assigned to nobody

[2022-04-27 23:10] #796 closed, assigned to nobody

[2022-04-27 23:10] #732 closed, assigned to rizomaa, Tyuba4

[2022-04-27 23:10] #762 closed, assigned to Tyuba4